@page
@using DevilDaggersWebsite.Code.Utils
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Core.Enumerators
@model DevilDaggersWebsite.Pages.CustomLeaderboards.LeaderboardModel
@{
	string name = Model.SpawnsetFile?.Name ?? throw new Exception("Spawnset was null in CustomLeaderboards/Leaderboard page.");
	ViewData["Title"] = $"Leaderboard for {name} by {Model.SpawnsetFile.Player.Username}";
}

<header>
	<h1 class="dont-break-out">@ViewData["Title"]</h1>
</header>

<main role="main">
	<div class="text-center">
		<p>
			<a asp-page="/Spawnset" asp-route-spawnset="@Model.SpawnsetFile.Name">Spawnset page for @name</a>
		</p>

		@{
			if (!string.IsNullOrEmpty(Model.SpawnsetFile.HtmlDescription))
			{
				<div class="description">
					@RazorUtils.GetLayout(Model.SpawnsetFile.HtmlDescription, GameVersion.V3)
				</div>
			}
		}

		<div style="flex-direction: column; width: 200px; margin: auto;">
			@{
				for (int i = 0; i < (Model.Leaderboard.Homing == 0 ? 4 : 5); i++)
				{
					(string daggerName, string seconds) = Model.GetDaggerInfo(i);

					<div class="flex-container" style="padding-bottom: 4px;">
						<div><img src="~/Images/Daggers/@(daggerName)Small.png" /></div>
						<div class="@daggerName.ToLower() text-right" style="width: 100%;">@seconds</div>
					</div>
				}
			}
		</div>

		<p class="visible-xs visible-sm visible-md">
			On mobile devices; tap on an entry to expand it.
		</p>
		<p>
			You can sort the leaderboard by clicking the headers.
		</p>
	</div>
	@await Html.PartialAsync($"Partials/_LeaderboardCustomDefaultPartial")
</main>

@section Scripts {
	<script defer src='~/scripts/leaderboard-user-custom.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' />
	@if (Model.Leaderboard.Category == CustomLeaderboardCategory.Challenge)
	{
		<link rel='stylesheet' href='~/styles/leaderboard-rows-custom-challenge.css' />
	}
	else
	{
		<link rel='stylesheet' href='~/styles/leaderboard-rows-custom-default.css' />
	}
}