@page
@using DevilDaggersCore.Spawnsets.Web
@model DevilDaggersWebsite.Pages.CustomLeaderboards.LeaderboardModel
@{
	string name = SpawnsetFile.GetName(Model.Leaderboard.SpawnsetFileName);
	ViewData["Title"] = $"Leaderboard for {name} by {SpawnsetFile.GetAuthor(Model.Leaderboard.SpawnsetFileName)}";
}

<header>
	<h1 class="dont-break-out">@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<div>
		<p>
			Custom leaderboards are still in development.
		</p>
		<p>
			<a asp-page="/Spawnset" asp-route-spawnset="@Model.Leaderboard.SpawnsetFileName">Spawnset page for @name</a>
		</p>

		<div style="flex-direction: column; width: 200px; margin: auto;">
			@{
				string daggerName = "";
				string seconds = "";
				for (int i = 0; i < (Model.Leaderboard.Homing == 0 ? 4 : 5); i++)
				{
					Model.GetDaggerInfo(i, ref daggerName, ref seconds);

					<div class="flex-container" style="padding-bottom: 4px;">
						<div><img src="~/Images/Daggers/@(daggerName)Small.png" /></div>
						<div class="@daggerName.ToLower() text-right" style="width: 100%;">@seconds</div>
					</div>
				}
			}
		</div>

		<p class="visible-xs visible-sm visible-md">
			On mobile devices; tap on an entry to expand it.
		</p>
		<p>
			You can sort the leaderboard by clicking the headers.
		</p>
	</div>
	@await Html.PartialAsync($"Partials/_LeaderboardCustom{Model.Leaderboard.Category.LayoutPartialName}Partial")
</main>

@section Scripts {
	<script defer src='~/scripts/leaderboard-user-custom.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' />
	<link rel='stylesheet' href='~/styles/leaderboard-rows-custom-@(Model.Leaderboard.Category.LayoutPartialName.ToLower()).css' />
}