@page
@model IndexModel
@{
	ViewData["Title"] = "Players";
}

<h1>@ViewData["Title"]</h1>

<p>Page is work in progress.</p>

<h2>Drives</h2>
<ul class="list">
	@foreach (var kvp in Model.TotalSpaceInBytesPerDrive)
	{
		<li>@kvp.Key - @await Html.PartialAsync("Partials/FileSizePartial", kvp.Value) available</li>
	}
</ul>

<h2>Mods</h2>
<p>@await Html.PartialAsync("Partials/FileSizePartial", Model.ModFileSizes.Select(kvp => kvp.Value).Sum())</p>
<ul class="list">
	@foreach (var kvp in Model.ModFileSizes)
	{
		<li>@kvp.Key - @await Html.PartialAsync("Partials/FileSizePartial", kvp.Value)</li>
	}
</ul>

<h2>Spawnsets</h2>
<p>@await Html.PartialAsync("Partials/FileSizePartial", Model.SpawnsetFileSizes.Select(kvp => kvp.Value).Sum())</p>
<ul class="list">
	@foreach (var kvp in Model.SpawnsetFileSizes)
	{
		<li>@kvp.Key - @await Html.PartialAsync("Partials/FileSizePartial", kvp.Value)</li>
	}
</ul>

<h2>Leaderboard History</h2>
<p>@await Html.PartialAsync("Partials/FileSizePartial", Model.LeaderboardHistoryFileSizes.Select(kvp => kvp.Value).Sum())</p>
<ul class="list">
	@foreach (var kvp in Model.LeaderboardHistoryFileSizes)
	{
		<li>@kvp.Key - @await Html.PartialAsync("Partials/FileSizePartial", kvp.Value)</li>
	}
</ul>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin-file-system.css' asp-append-version="true" />
}
