@page "/admin/custom-leaderboards"
@inherits BaseAdminPage
@using DevilDaggersInfo.Web.BlazorWasm.Client.Components.Admin
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Admin.CustomLeaderboards
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Enums.Sortings.Admin

<AdminOverview TGetDto="GetCustomLeaderboardForOverview" TSorting="CustomLeaderboardSorting" Title="Custom Leaderboards" ApiCall="(int pageIndex, int pageSize, CustomLeaderboardSorting? sortBy, bool isAscending) => Http.GetCustomLeaderboards(pageIndex, pageSize, sortBy, isAscending)" DeletionApiCall="(int id) => Http.DeleteCustomLeaderboardById(id)" GridConfiguration="grid-cols-admin-custom-leaderboards">
	<TableHeader>
		<a class="link overflow-hidden text-right" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.Id)" @onclick:preventDefault>Id</a>
		<a class="link overflow-hidden text-left" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.SpawnsetName)" @onclick:preventDefault>Name</a>
		<a class="link overflow-hidden text-right" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.TimeBronze)" @onclick:preventDefault>Bronze</a>
		<a class="link overflow-hidden text-right" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.TimeSilver)" @onclick:preventDefault>Silver</a>
		<a class="link overflow-hidden text-right" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.TimeGolden)" @onclick:preventDefault>Golden</a>
		<a class="link overflow-hidden text-right" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.TimeDevil)" @onclick:preventDefault>Devil</a>
		<a class="link overflow-hidden text-right" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.TimeLeviathan)" @onclick:preventDefault>Levi</a>
		<a class="link overflow-hidden text-left" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.IsArchived)" @onclick:preventDefault>Archived</a>
		<a class="link overflow-hidden text-left" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.DateCreated)" @onclick:preventDefault>Date created</a>
		<a class="link overflow-hidden text-left" href="" @onclick="() => _overview.Sort(CustomLeaderboardSorting.Category)" @onclick:preventDefault>Category</a>
	</TableHeader>
	<RowTemplate Context="customLeaderboard">
		<div class="overflow-hidden text-right">@customLeaderboard.Id</div>
		<div class="overflow-hidden text-left">@customLeaderboard.SpawnsetName</div>
		<div class="overflow-hidden text-right">@customLeaderboard.TimeBronze.ToString(FormatUtils.TimeFormat)</div>
		<div class="overflow-hidden text-right">@customLeaderboard.TimeSilver.ToString(FormatUtils.TimeFormat)</div>
		<div class="overflow-hidden text-right">@customLeaderboard.TimeGolden.ToString(FormatUtils.TimeFormat)</div>
		<div class="overflow-hidden text-right">@customLeaderboard.TimeDevil.ToString(FormatUtils.TimeFormat)</div>
		<div class="overflow-hidden text-right">@customLeaderboard.TimeLeviathan.ToString(FormatUtils.TimeFormat)</div>
		<div class="overflow-hidden text-left">@customLeaderboard.IsArchived</div>
		<div class="overflow-hidden text-left">@customLeaderboard.DateCreated</div>
		<div class="overflow-hidden text-left">@customLeaderboard.Category</div>
	</RowTemplate>
</AdminOverview>

@code
{
	private AdminOverview<GetCustomLeaderboardForOverview, CustomLeaderboardSorting> _overview = null!;
}
