@page "/"

<div class="grid grid-cols-2 max-w-md m-2 p-2 border-solid border-2 border-[#111]">
	<span>Marker</span>
	<span>@(_marker == null ? "Fetching..." : $"0x{_marker.Value:X16}")</span>

	<span>Devil Daggers process</span>
	<span>@(ReaderService.HasProcess ? "Attached" : "Waiting...")</span>

	<span>Memory initialized</span>
	<span>@(ReaderService.IsInitialized ? "Done" : "Waiting...")</span>

	<span>State</span>
	<span>@(_state)</span>
</div>

<div class="max-w-md m-2 p-2 border-solid border-2 border-[#411]">
	<Recording Block="ReaderService.MainBlock" BlockPrevious="ReaderService.MainBlockPrevious" />
</div>
<LeaderboardList SelectedPlayerId="@ReaderService.MainBlock.PlayerId" />

@if (_submissionResponseWrapper != null)
{
	<div class="max-w-lg m-2 p-2 border-solid border-2 border-[#411]">
		@if (_submissionResponseWrapper.HasError)
		{
			<div class="text-red">@_submissionResponseWrapper.ErrorMessage</div>
		}
		else
		{
			<div class="text-green">Upload successful</div>
			@*TODO: Show diff with previous PB.*@
		}
	</div>
}

@if (_customLeaderboard != null)
{
	<div class="min-w-xl m-2 p-2 border-solid border-2 border-[#411]">
		<Leaderboard CustomLeaderboard="_customLeaderboard" />
	</div>
}
