@page "/"

<div class="grid grid-cols-2 max-w-md m-2 p-2 border-solid border-2 border-[#111]">
	<span>Marker</span>
	<span>@(_marker == null ? "Fetching..." : $"0x{_marker.Value:X16}")</span>

	<span>Devil Daggers process</span>
	<span>@(ReaderService.HasProcess ? "Attached" : "Waiting...")</span>

	<span>Memory initialized</span>
	<span>@(ReaderService.IsInitialized ? "Done" : "Waiting...")</span>

	<span>State</span>
	<span>@(_state)</span>
</div>

@if (ReaderService.IsInitialized)
{
	<div class="max-w-md m-2 p-2 border-solid border-2 border-[#411]">
		<Recording Block="_finalRecordedMainBlock ?? ReaderService.MainBlock" BlockPrevious="_finalRecordedMainBlock ?? ReaderService.MainBlockPrevious" />
	</div>
}

@if (_state is State.Uploading or State.WaitingForRestart)
{
	<div class="max-w-lg m-2 p-2 border-solid border-2 border-[#411]">
		@if (_localError != null)
		{
			<div class="text-red">Local validation failed: @_localError</div>
		}
		else
		{
			<div class="text-green">Local validation OK</div>
			@if (!_leaderboardExists.HasValue)
			{
				<div class="text-yellow">Checking if leaderboard exists...</div>
			}
			else if (!_leaderboardExists.Value)
			{
				<div class="text-red">Leaderboard does not exist</div>
			}
			else
			{
				<div class="text-green">Leaderboard exists</div>

				@if (_submissionResponseWrapper == null)
				{
					<div class="text-yellow">Uploading...</div>
				}
				else if (_submissionResponseWrapper.HasError)
				{
					<div class="text-red">Server error: @_submissionResponseWrapper.ErrorMessage</div>
				}
				else
				{
					<div class="text-green">Upload successful</div>
					<Leaderboard UploadSuccess="_submissionResponseWrapper.Response" />
				}
			}
		}
	</div>
}
