@page
@model DevilDaggersWebsite.Razor.Pages.Admin.CustomLeaderboards.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>CustomLeaderboard</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.Category)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.Category)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.SpawnsetFile.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.SpawnsetFile.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.TimeBronze)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.TimeBronze)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.TimeSilver)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.TimeSilver)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.TimeGolden)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.TimeGolden)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.TimeDevil)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.TimeDevil)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.TimeLeviathan)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.TimeLeviathan)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.DateLastPlayed)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.DateLastPlayed)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboard.DateCreated)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboard.DateCreated)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.CustomLeaderboard.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>
