@page
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Entities
@model AdminEntityIndexPageModel<CustomLeaderboard>
@{
	ViewData["Title"] = "CustomLeaderboards";
}

<h2>@ViewData["Title"]</h2>

<p>Notes</p>
<ul>
	<li>The dagger timings are specified in tenths of milliseconds, meaning that for 900 seconds you'd have to enter 9000000.</li>
	<li>The internal timer always starts at 0, it is therefore recommended to not use spawnsets with a different "timer start" value as this causes confusion.</li>
</ul>

<p>
	<a asp-page="CreateOrEdit">Create New</a>
</p>
<table class="table admin-table">
	<thead>
		<tr>
			@foreach (var pi in Model.EntityDisplayProperties)
			{
				<th>@pi.Name</th>
			}
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var entity in Model.DbSet)
		{
			<tr>
				@foreach (var pi in Model.EntityDisplayProperties)
				{
					<td>@Model.GetString(pi, entity)</td>
				}
				<td>
					<a asp-page="CreateOrEdit" asp-route-id="@entity.Id">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@entity.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' asp-append-version="true" />
}
