@page
@model DevilDaggersWebsite.Pages.Admin.AssetMods.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AssetMod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetMod.AssetModTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetMod.AssetModTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetMod.AssetModFileContents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetMod.AssetModFileContents)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetMod.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetMod.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetMod.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetMod.Url)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AssetMod.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
