@page
@model DevilDaggersWebsite.Pages.Admin.AssetMods.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>AssetMod</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.AssetMod.AssetModTypes)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AssetMod.AssetModTypes)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AssetMod.AssetModFileContents)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AssetMod.AssetModFileContents)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AssetMod.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AssetMod.Name)
		</dd>
		<dt>
			Authors
		</dt>
		<dd>
			@(string.Join(", ", Model.AssetMod.PlayerAssetMods.Select(pam => pam.Player.Username).OrderBy(s => s)))
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AssetMod.Url)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AssetMod.Url)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.AssetMod.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>