@page "/tools/custom-leaderboards"
@using DevilDaggersInfo.Api.Main.CustomLeaderboards
@using DevilDaggersInfo.Api.Main.Tools
@using DevilDaggersInfo.Web.Client.Enums
@inject MainApiHttpClient Http

<Heading Title="Devil Daggers Custom Leaderboards" />

@if (GetTool == null || GetTotalCustomLeaderboardData == null)
{
	<Loading />
}
else
{
	<ToolInfo GetTool="GetTool" />

	<Heading Title="Distributions" Level="2" />
	<Distributions>
		<Distribution ToolName="@GetTool.Name" Note="Recommended" PublishMethod="ToolPublishMethod.SelfContained" BuildType="ToolBuildType.WindowsConsole" OperatingSystems="Windows 8+" Recommended=true />
		<Distribution ToolName="@GetTool.Name" Note="Use for Windows 7" PublishMethod="ToolPublishMethod.Default" BuildType="ToolBuildType.WindowsConsole" OperatingSystems="Windows 7+" Prerequisites="ToolDistributionPrerequisites.DotNet6Runtime" />
	</Distributions>

	<img src="/images/tools/ddcl.png" class="object-contain max-h-160 pt-3" />

	<Heading Title="Features" Level="2" />
	<ul class="pl-4">
		<li class="list-disc">Participate in @GetTotalCustomLeaderboardData.LeaderboardsPerCategory.Sum(dict => dict.Value).ToString("N0") different custom leaderboards</li>
		<li class="list-disc">@GetTotalCustomLeaderboardData.PlayersPerCategory.Values.Sum().ToString("N0") players</li>
		<li class="list-disc">@GetTotalCustomLeaderboardData.ScoresPerCategory.Values.Sum().ToString("N0") scores</li>
		<li class="list-disc">@GetTotalCustomLeaderboardData.SubmitsPerCategory.Values.Sum().ToString("N0") total submissions (since @Constants.TrackingCustomLeaderboardSubmitCounts.ToString(StringFormats.DateFormat))</li>
	</ul>

	<Heading Title="System Requirements" Level="2" />
	<ul class="pl-4">
		<li class="list-disc">64-bit</li>
	</ul>

	<RunInfo />
	<SourceInfo Url="https://github.com/NoahStolk/DevilDaggersCustomLeaderboards" />
	<Versions ToolVersions="GetTool.Changelog" />
}

@code
{
	public GetTool? GetTool { get; set; }
	public GetTotalCustomLeaderboardData? GetTotalCustomLeaderboardData { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetTool = await Http.GetTool("DevilDaggersCustomLeaderboards");
		GetTotalCustomLeaderboardData = await Http.GetTotalCustomLeaderboardData();
	}
}
