@page "/tools/custom-leaderboards"
@using DevilDaggersInfo.Web.Shared.Dto.Public.Tools
@using DevilDaggersInfo.Web.Shared.Dto.Public.CustomLeaderboards
@using DevilDaggersInfo.Web.Shared.Enums
@inject PublicApiHttpClient Http

<Heading Title="Devil Daggers Custom Leaderboards" />

@if (GetTool == null || GetTotalCustomLeaderboardData == null)
{
	<Loading />
}
else
{
	<BuildInfo GetTool="GetTool" />

	<div class="hidden sm:block grid-cols-4 gap-x-2 max-w-sm">
		<div>Windows 8+</div>
		<div>Windows 7 (requires <a href="//dotnet.microsoft.com/en-us/download/dotnet/6.0">.NET 6 runtime installation</a>)</div>
		<div>Mac</div>
		<div>Linux</div>
		<Distribution Name="@GetTool.Name" PublishMethod="ToolPublishMethod.SelfContained" BuildType="ToolBuildType.WindowsConsole" Version="@GetTool.LatestVersionNumber" />
		<Distribution Name="@GetTool.Name" PublishMethod="ToolPublishMethod.RequiresDotNet6Runtime" BuildType="ToolBuildType.WindowsConsole" Version="@GetTool.LatestVersionNumber" />
		<div>?</div>
		<div>?</div>
	</div>

	<img src="/images/tools/ddcl.png" class="object-contain max-h-160 pt-3" />

	<Heading Title="Features" Level="2" />
	<ul class="pl-4">
		<li class="list-disc">Participate in @GetTotalCustomLeaderboardData.LeaderboardsPerCategory.Sum(dict => dict.Value).ToString("N0") different custom leaderboards</li>
		<li class="list-disc">@GetTotalCustomLeaderboardData.PlayersPerCategory.Values.Sum().ToString("N0") players</li>
		<li class="list-disc">@GetTotalCustomLeaderboardData.ScoresPerCategory.Values.Sum().ToString("N0") scores</li>
		<li class="list-disc">@GetTotalCustomLeaderboardData.SubmitsPerCategory.Values.Sum().ToString("N0") total submissions (since @FeatureConstants.TrackingCustomLeaderboardSubmitCounts.ToString(StringFormats.DateFormat))</li>
	</ul>

	<Heading Title="System Requirements" Level="2" />
	<ul class="pl-4">
		<li class="list-disc">64-bit</li>
	</ul>

	<RunInfo />
	<SourceInfo Url="https://github.com/NoahStolk/DevilDaggersCustomLeaderboards" />
	<Versions ToolVersions="GetTool.Changelog" />
}

@code
{
	public GetTool? GetTool { get; set; }
	public GetTotalCustomLeaderboardData? GetTotalCustomLeaderboardData { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetTool = await Http.GetTool("DevilDaggersCustomLeaderboards");
		GetTotalCustomLeaderboardData = await Http.GetTotalCustomLeaderboardData();
	}
}
