@page "/leaderboard"
@using DevilDaggersInfo.Core.Wiki
@using DevilDaggersInfo.Web.ApiSpec.Main.Leaderboards
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Components.Leaderboards
@using DevilDaggersInfo.Web.Client.HttpClients
@using DevilDaggersInfo.Web.Client.Utils
@inject MainApiHttpClient Http
@inject NavigationManager NavigationManager

<Heading Title="Leaderboard" />

@if (GetLeaderboard == null)
{
	@if (_apiError == null)
	{
		<Loading />
	}
	else
	{
		<p class="pt-2 font-bold">@_apiError</p>
	}
}
else
{
	<div class="bg-gray-1 p-2 text-lg max-w-sm">
		<span>Rank</span>
		<input class="bg-black border-gray-3 border-2" value="@Rank" @onchange="ChangeInputRank" />
		<div>
			@if (_reloading)
			{
				<Loading />
			}
			else
			{
				<span>Showing rank @Rank - @(Rank + 99)</span>
			}
		</div>
		<div>
			@{
				bool f = Rank <= 1;
				bool l = Rank >= MaxRank;
				const string disabledStyle = "disabled:opacity-50 cursor-default btn-disabled";
				const string enabledStyle = "btn-gray-light";
			}
			<button disabled="@f" class="@(f ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(1)">@MarkupStrings.NavStart</button>
			<button disabled="@f" class="@(f ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank - 1000)">@MarkupStrings.NavPrevDouble</button>
			<button disabled="@f" class="@(f ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank - 100)">@MarkupStrings.NavPrev</button>
			<button disabled="@l" class="@(l ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank + 100)">@MarkupStrings.NavNext</button>
			<button disabled="@l" class="@(l ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank + 1000)">@MarkupStrings.NavNextDouble</button>
			<button disabled="@l" class="@(l ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(GetLeaderboard.TotalPlayers - 99)">@MarkupStrings.NavEnd</button>
		</div>
	</div>

	<LeaderboardGlobal Leaderboard="GetLeaderboard" IsHistory="false" />
	<LeaderboardTableInfo />
	<LeaderboardTable TGetEntryDto="GetEntry" Entries="GetLeaderboard.Entries" Players="Players" IsHistory="false" GameVersion="GameConstants.CurrentVersion" />
}
