@page "/leaderboard/search"
@using DevilDaggersInfo.Api.Main.Leaderboards
@using DevilDaggersInfo.Core.Wiki
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Components.Leaderboards
@using DevilDaggersInfo.Web.Client.HttpClients
@inject MainApiHttpClient Http
@inject NavigationManager NavigationManager

<Heading Title="Leaderboard Search" />

<div class="bg-gray-1 p-2 text-lg">
	<span>Username</span>
	<input class="bg-black border-gray-3 border-2" value="@Username" @onchange="ChangeInputUsername" />

	@if (Username == null || Username.Length is < 3 or > 16)
	{
		<div>Please enter a value that is between 3 and 16 characters in length.</div>
	}
</div>

@if (_loading)
{
	<Loading />
}
else if (_apiError != null)
{
	<p class="pt-2 font-bold">@_apiError</p>
}
else if (GetEntries != null)
{
	if (GetEntries.Count == 0)
	{
		<span>No results for "@Username".</span>
	}
	else
	{
		<span>Showing @GetEntries.Count result@(GetEntries.Count == 1 ? string.Empty : "s") for "@Username".</span>
		<LeaderboardTableInfo />
		<LeaderboardTable TGetEntryDto="GetEntry" Entries="GetEntries" Players="Players" IsHistory="false" GameVersion="GameConstants.CurrentVersion" />
	}
}
