@page "/custom/entry/{Id:int}"
@using DevilDaggersInfo.Razor.Core.CanvasChart.Options.LineChart
@using DevilDaggersInfo.Razor.Core.CanvasChart.Data

@if (GetCustomEntryData == null)
{
	if (_notFound)
	{
		<Heading Title="Custom leaderboard score not found" />
		<p>This custom leaderboard score doesn't exist.</p>
	}
	else
	{
		<Loading />
	}
}
else
{
	<Heading Title="@($"{GetCustomEntryData.PlayerName}'s score on {GetCustomEntryData.SpawnsetName}")" />

	@if (GetCustomEntryData.HasReplay)
	{
		<div class="px-1 py-2">
			<a class="btn btn-download px-2 py-1" href="@($"api/custom-entries/{GetCustomEntryData.CustomEntryId}/replay")" role="button" target="_top">Download replay</a>
		</div>
	}

	@if (_lineCharts.Count == 0)
	{
		<p>No relevant data to display.</p>
	}
	else
	{
		<div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
			@foreach ((string Name, LineChartDataOptions DataOptions, LineChartOptions ChartOptions, List<LineDataSet> Sets) lc in _lineCharts)
			{
				<div>
					<Heading Title="@lc.Name" Level="2" />
					<LineChart DataOptions="lc.DataOptions" UniqueName="@($"#{lc.Name.ToLower()}-chart")" DataSets="@lc.Sets" Options="lc.ChartOptions" />
				</div>
			}
		</div>
	}
}
