@page "/custom/leaderboards/global"
@using DevilDaggersInfo.Api.Main.CustomLeaderboards

<Heading Title="Global Custom Leaderboard" />

<div class="grid gap-2 grid-cols-2 max-w-md mb-2">
	<span>Category</span>
	<SelectList CssClass="bg-gray-1" CssWidthClass="w-48" CssOpenerClass="pl-2" TValue="CustomLeaderboardCategory" Values="@(Enum.GetValues<CustomLeaderboardCategory>().ToList())" DisplayFunction="@(clc => clc.ToDisplayString())" Default="EnumConvert.GetCustomLeaderboardCategory(Category)" Selected="@(clc => Fetch(EnumConvert.GetString(clc)))" />
</div>

<p class="para">
	Global custom leaderboards are leaderboards based on all leaderboards for a single category.
</p>

@if (GetGlobalCustomLeaderboard == null)
{
	<Loading />
}
else
{
	<p class="para">
		Points are given based on rank vs total players. For example, a leaderboard with 10 players will give @(10 * GetGlobalCustomLeaderboard.RankingMultiplier) points if you're rank 1, @(9 * GetGlobalCustomLeaderboard.RankingMultiplier) points if you're rank 2, etc. Additionally, daggers achieved will give the following bonus points:
	</p>
	<ul class="pl-4">
		@foreach (CustomLeaderboardDagger dagger in Enum.GetValues<CustomLeaderboardDagger>())
		{
			int bonus = dagger switch
			{
				CustomLeaderboardDagger.Leviathan => GetGlobalCustomLeaderboard.LeviathanBonus,
				CustomLeaderboardDagger.Devil => GetGlobalCustomLeaderboard.DevilBonus,
				CustomLeaderboardDagger.Golden => GetGlobalCustomLeaderboard.GoldenBonus,
				CustomLeaderboardDagger.Silver => GetGlobalCustomLeaderboard.SilverBonus,
				CustomLeaderboardDagger.Bronze => GetGlobalCustomLeaderboard.BronzeBonus,
				_ => GetGlobalCustomLeaderboard.DefaultBonus,
			};
			if (bonus > 0)
			{
				<li class="list-disc">@bonus per @dagger dagger</li>
			}
		}
	</ul>

	<Heading Level="2" Title="@($"Global {EnumConvert.GetCustomLeaderboardCategory(Category).ToDisplayString()} Leaderboard")" />

	<p>
		This leaderboard is based on @GetGlobalCustomLeaderboard.TotalLeaderboards @EnumConvert.GetCustomLeaderboardCategory(Category).ToDisplayString() leaderboards. Non-featured leaderboards are not included. Maximum possible points is @GetGlobalCustomLeaderboard.TotalPoints.
	</p>

	<div class="grid gap-x-2 grid-cols-global-custom-leaderboard-sm md:grid-cols-global-custom-leaderboard-md lg:grid-cols-global-custom-leaderboard-lg">
		<div class="font-bold text-right">Rank</div>
		<div class="font-bold">Player</div>
		<div class="font-bold text-right">Points</div>
		<div class="font-bold text-right hidden md:block">Average points per leaderboard</div>
		<div class="font-bold text-right hidden md:block">Total played</div>
		<div class="font-bold text-right hidden lg:block">Leviathan daggers</div>
		<div class="font-bold text-right hidden lg:block">Devil daggers</div>
		<div class="font-bold text-right hidden lg:block">Golden daggers</div>
		<div class="font-bold text-right hidden lg:block">Silver daggers</div>
		<div class="font-bold text-right hidden lg:block">Bronze daggers</div>
		<div class="font-bold text-right hidden lg:block">Default daggers</div>

		@{
			int i = 0;
		}
		@foreach (GetGlobalCustomLeaderboardEntry entry in GetGlobalCustomLeaderboard.Entries)
		{
			<div class="text-right">@(++i)</div>
			<div class="overflow-hidden"><a class="link" href="/leaderboard/player/@entry.PlayerId">@entry.PlayerName</a></div>
			<div class="text-right">@entry.Points</div>
			<div class="text-right hidden md:block">@((entry.Points / (float)entry.LeaderboardsPlayedCount).ToString("0.00"))</div>
			<div class="text-right hidden md:block">@entry.LeaderboardsPlayedCount</div>
			<div class="text-right hidden lg:block">@entry.LeviathanDaggerCount</div>
			<div class="text-right hidden lg:block">@entry.DevilDaggerCount</div>
			<div class="text-right hidden lg:block">@entry.GoldenDaggerCount</div>
			<div class="text-right hidden lg:block">@entry.SilverDaggerCount</div>
			<div class="text-right hidden lg:block">@entry.BronzeDaggerCount</div>
			<div class="text-right hidden lg:block">@entry.DefaultDaggerCount</div>
		}
	</div>
}
