@using DevilDaggersInfo.Web.BlazorWasm.Client.Pages

<button class="bg-gray-3 hover:bg-gray-4 transition-colors duration-100 w-10 h-10 mx-1 rounded text-color-text" @onclick="() => Page.ChangePageIndex(0)">@MarkupUtils.NavStart</button>
<button class="bg-gray-3 hover:bg-gray-4 transition-colors duration-100 w-10 h-10 mx-1 rounded text-color-text" @onclick="() => Page.ChangePageIndex(Page.PageIndex - 1)">@MarkupUtils.NavPrev</button>
<button class="bg-gray-3 hover:bg-gray-4 transition-colors duration-100 w-10 h-10 mx-1 rounded text-color-text" @onclick="() => Page.ChangePageIndex(Page.PageIndex + 1)">@MarkupUtils.NavNext</button>
<button class="bg-gray-3 hover:bg-gray-4 transition-colors duration-100 w-10 h-10 mx-1 rounded text-color-text" @onclick="() => Page.ChangePageIndex(Page.TotalPages - 1)">@MarkupUtils.NavEnd</button>
<Select @onchange="Page.ChangePageSize" class="bg-gray-3 transition-colors duration-100 h-10 mx-1 rounded text-color-text relative bottom-[14.5px]">
	@foreach (int i in PagingConstants.PageSizeOptions)
	{
		<option value="@i">@i</option>
	}
</Select>

@code
{
	[CascadingParameter] public IHasNavigation Page { get; set; } = null!;
}
