@page "/authentication/register"
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.HttpClients
@using DevilDaggersInfo.Web.Client.StateObjects.Authentication
@inject MainApiHttpClient Http
@inject NavigationManager Navigation

<Heading Title="Register" />

<EditForm Model="@StateObject" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="text-red">@_serverError</div>
	
	<div class="grid gap-2 grid-cols-2 max-w-md">
		<span>Name</span>
		<input class="bg-black border-gray-3 border-2" @bind="@StateObject.Name" />
		<span>Password</span>
		<input class="bg-black border-gray-3 border-2" type="password" @bind="@StateObject.Password" />
		<span>Repeat password</span>
		<input class="bg-black border-gray-3 border-2" type="password" @bind="@StateObject.PasswordRepeated" />
	</div>

	<button class="btn btn-gray-light px-2 py-1" type="submit">Register</button>
</EditForm>

@code
{
	[Parameter]
	public RegistrationRequestState StateObject { get; set; } = new();

	private string? _serverError;

	private async Task OnValidSubmit()
	{
		HttpResponseMessage httpResponseMessage = await Http.Register(StateObject.ToModel());

		if (httpResponseMessage.StatusCode == HttpStatusCode.OK)
		{
			Navigation.NavigateTo("/authentication/login");
		}
		else
		{
			_serverError = await httpResponseMessage.Content.ReadAsStringAsync();
		}
	}
}
