@page
@inject CoreBase.Services.ICommonObjects CommonObjects
@model DevilDaggersWebsite.Pages.Leaderboard.HistoryModel
@{
	ViewData["Title"] = $"Top 100 History ({Model.Leaderboard.DateTime.ToString("yyyy-MM-dd HH:mm")} UTC)";
}
@using DevilDaggersWebsite.Code.Utils

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	@await Html.PartialAsync("Partials/_LeaderboardGlobalPartial")
	<div>
		<form method="get">
			<select class="select form-control" asp-for="From" asp-items="Model.JsonFiles" onchange="this.form.submit()"></select>
		</form>
		<div class="flex-container flex-center flex-column">
			<div class="flex-container flex-center leaderboard-nav-buttons">
				@if (Model.FromNext != null)
				{
					<a class="btn" asp-page="/Leaderboard/History" asp-route-from="@(Model.FromNext)">&lt;</a>
				}
				else
				{
					<button class="btn btn-disabled">&lt;</button>
				}
				@if (Model.FromPrevious != null)
				{
					<a class="btn" asp-page="/Leaderboard/History" asp-route-from="@(Model.FromPrevious)">&gt;</a>
				}
				else
				{
					<button class="btn btn-disabled">&gt;</button>
				}
			</div>
		</div>
	</div>

	<div>
		Missing information
	</div>
	<div class="missing-information-container">
		<div class="flex-container leaderboard-flex flex-center flex-space-evenly text-left">
			<div>
				<div>Global</div>
				<div class="missing-information">@RazorUtils.GetLeaderboardInformationHTMLString(Model.Leaderboard.GetMissingGlobalInformation())</div>
			</div>
			<div>
				<div>User</div>
				<div class="missing-information">@RazorUtils.GetLeaderboardInformationHTMLString(Model.Leaderboard.GetMissingUserInformation())</div>
			</div>
		</div>
	</div>

	<p class="visible-xs visible-sm visible-md">
		On mobile devices; tap on an entry to expand it.
	</p>
	<p>
		You can sort the leaderboard by clicking the headers.
	</p>
	<p>
		<span class="ban">Crossed out entries</span> are runs that are cheated, boosted, submitted on an alternative account, or otherwise considered invalid.
	</p>

	@await Html.PartialAsync("Partials/_LeaderboardUserPartial")
</main>

@section Scripts {
	<script defer src='~/scripts/leaderboard-user.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' />
	<link rel='stylesheet' href='~/styles/leaderboard-history.css' />
	<link rel='stylesheet' href='~/styles/leaderboard-rows-general.css' />
}