@page
@inject CoreBase.Services.ICommonObjects CommonObjects
@model DevilDaggersWebsite.Pages.Leaderboard.IndexModel
@using DevilDaggersWebsite.Utils
@{
	ViewData["Title"] = "Leaderboard";

	int[] widths = new int[2] { 160, 160 };
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	@await Html.PartialAsync("Partials/_LeaderboardGlobalPartial")
	<div>
		@using (Html.BeginForm(FormMethod.Get))
		{
			<fieldset>
				<div class="flex-container flex-center flex-column">
					<div class="flex-container flex-center">
						<div class="input-label text-left" style="width: @(widths[0])px;">Rank:</div>
						<div style="width: @(widths[1])px;">@Html.TextBoxFor(m => m.Rank, new { @class = "input" })</div>
					</div>
					<div class="flex-container flex-center">
						<div class="input-label text-left" style="width: @(widths[0])px;">User search:</div>
						<div style="width: @(widths[1])px;">@Html.TextBoxFor(m => m.Search, new { @class = "input" })</div>
					</div>
				</div>
				<div class="flex-container flex-center flex-column">
					<div class="flex-container flex-center">
						<input class="btn" type="submit" value="Show" />
					</div>
					<div class="flex-container flex-center leaderboard-nav-buttons">
						@{
							if (Model.IsUserSearch)
							{
								<button class="btn btn-disabled">&lt;</button>
								<button class="btn btn-disabled">&gt;</button>
							}
							else
							{
								<a class="btn" asp-page="/Leaderboard/Index" asp-route-rank="@(Math.Max(1, Model.Rank - 100))" asp-route-search="@Model.Search">&lt;</a>
								<a class="btn" asp-page="/Leaderboard/Index" asp-route-rank="@(Math.Min(Model.Leaderboard.Players - 99, Model.Rank + 100))" asp-route-search="@Model.Search">&gt;</a>
							}
						}
					</div>
				</div>
			</fieldset>
		}
		<p>
			@{
				if (Model.IsUserSearch)
				{
					@:Showing results for "@(Model.Search)"
				}
				else
				{
					@:Showing rank @(Model.Rank) - @(Model.Rank + 99)
				}
			}
		</p>
		<p class="visible-xs visible-sm visible-md">
			On mobile devices; tap on an entry to expand it.
		</p>
		<p>
			If you'd like to add your nationality (flag) to this leaderboard, let one of the <img src="~/images/Icons/eye3.png" /> <a href="@RazorUtils.DISCORD_URL">Discord</a> mods know.
		</p>
	</div>
	@await Html.PartialAsync("Partials/_LeaderboardUserPartial")
</main>

@section Scripts {
	<script defer src='~/scripts/leaderboard-user.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' />
	<link rel='stylesheet' href='~/styles/leaderboard-rows-general.css' />
}