@page
@using DevilDaggersCore;
@using DevilDaggersCore.Game;
@using DevilDaggersWebsite.Code.Utils;
@using Microsoft.AspNetCore.Html;
@model DevilDaggersWebsite.Pages.Leaderboard.StatisticsModel
@{
	ViewData["Title"] = "Statistics";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main>
	<p>
		These are the current statistics for the entire leaderboard. It is only updated once every two days, because retrieving all of this information takes quite some time.
	</p>
	<p>
		This page is a work in progress; interactive graphs and more data will be added in the future.
	</p>

	<h2>Current state and measurements</h2>
	<p>
		@{
			int totalPlayers = Model.Task.Leaderboard.Players;

			if (Model.Task.Leaderboard.Entries.Count < totalPlayers)
			{
				<h3>Statistics are currently fetching due to a republish or restart of the website.</h3>
			}

			<div class="row">
				<div class="col-md-3 col-sm-6 hidden-xs">
					Task triggered at
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					Task finished at
				</div>
				<div class="col-md-3 hidden-sm hidden-xs">
					Execution time
				</div>
				<div class="col-md-3 hidden-sm hidden-xs">
					ETA
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-6 hidden-xs">
					@Model.Task.LastTriggered.ToString(FormatUtils.DateTimeFullFormat)
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					@(Model.Task.LastFinished == default ? RazorUtils.NAString : new HtmlString(Model.Task.LastFinished.ToString(FormatUtils.DateTimeFullFormat)))
				</div>
				@if (Model.Task.LastFinished < Model.Task.LastTriggered)
				{
					float perc = Model.Task.Leaderboard.Entries.Count / (float)totalPlayers;
					TimeSpan timeRunning = DateTime.Now - Model.Task.LastTriggered;
					TimeSpan? timeLeft = null;
					try
					{
						timeLeft = timeRunning / perc * (1 - perc);
					}
					catch { }
					<div class="col-md-3 hidden-sm hidden-xs">
						<span class="devil">CURRENTLY FETCHING</span> (@(perc.ToString("0.00%")))
					</div>
					<div class="col-md-3 hidden-sm hidden-xs">
						@if (timeLeft.HasValue)
						{
							<span>@timeLeft.Value.ToString()</span>
						}
						else
						{
							<span class="devil">Error calculating ETA</span>
						}
					</div>
				}
				else
				{
					<div class="col-md-3 hidden-sm hidden-xs">
						<span>@Model.Task.ExecutionTime</span>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs">
						@RazorUtils.NAString
					</div>
				}
			</div>
		}
	</p>

	@{
		if (Model.Task.DaggerStats.Count != 0)
		{
			<h2>Daggers</h2>
			<ul>
				@foreach (KeyValuePair<Dagger, int> stat in Model.Task.DaggerStats)
				{
					<li>
						<img src="~/images/Daggers/@(stat.Key.Name)Small.png" />There are @stat.Value players with the <span class="@(stat.Key.Name.ToLower())">@(stat.Key.Name)</span> dagger.
					</li>
				}
			</ul>
		}

		if (Model.Task.DeathStats.Count != 0)
		{
			<h2>Deaths</h2>
			<div class="row">
				<div class="col-md-2 col-sm-4 col-xs-4">Death type</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-right">Amount</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-right">Percentage</div>
			</div>
			@foreach (KeyValuePair<Death, int> stat in Model.Task.DeathStats)
			{
				<div class="row">
					<div class="col-md-2 col-sm-4 col-xs-4" style="color: #@stat.Key.ColorCode;">@stat.Key.Name</div>
					<div class="col-md-2 col-sm-4 col-xs-4 text-right">@stat.Value</div>
					<div class="col-md-2 col-sm-4 col-xs-4 text-right">@((stat.Value / (float)Model.Task.Leaderboard.Entries.Count).ToString("0.00%"))</div>
				</div>
			}
		}

		if (Model.Task.TimeStats.Count != 0)
		{
			<h2>Times</h2>
			<div class="row">
				<div class="col-md-2 col-sm-4 col-xs-4">Time</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-right">Amount</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-right">Percentage</div>
			</div>
			@foreach (KeyValuePair<int, int> stat in Model.Task.TimeStats)
			{
				<div class="row">
					<div class="col-md-2 col-sm-4 col-xs-4">@stat.Key</div>
					<div class="col-md-2 col-sm-4 col-xs-4 text-right">@stat.Value</div>
					<div class="col-md-2 col-sm-4 col-xs-4 text-right">@((stat.Value / (float)Model.Task.Leaderboard.Entries.Count).ToString("0.00%"))</div>
				</div>
			}
		}
	}
</main>