@page
@model DevilDaggersWebsite.Pages.Leaderboard.UserProgressionModel
@{
	ViewData["Title"] = "Top 100 User Progression";

	int[] widths = new int[2] { 160, 160 };
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<div>
		@using (Html.BeginForm(FormMethod.Get))
		{
			<fieldset>
				<div class="flex-container flex-center flex-column">
					<div class="flex-container flex-center">
						<div class="input-label text-left" style="width: @(widths[0])px;">User ID:</div>
						<div style="width: @(widths[1])px;">@Html.TextBoxFor(m => m.UserId, new { @class = "input" })</div>
					</div>
				</div>
				<div class="flex-container flex-center flex-column">
					<div class="flex-container flex-center">
						<input class="btn" type="submit" value="Show" />
					</div>
				</div>
			</fieldset>
		}
	</div>
	@{
		<h2>@Model.Username</h2>
		if (Model.IsValid)
		{
			<p>
				This graph shows the top 100 progression for @Model.Username. It is based on the <a asp-page="/Leaderboard/History">Leaderboard History</a>, so it might be incomplete.
			</p>
			<p>
				Note that the graph data is only based on a user's highscores; the rank does not update over time.
			</p>

			<div id="user-progression-chart">
				<table id="highlighter">
					<tr><td>Date:</td><td id="h-date"></td></tr>
					<tr><td>Rank:</td><td id="h-rank"></td></tr>
					<tr><td>Time:</td><td id="h-time"></td></tr>
					<tr><td>Username:</td><td id="h-username"></td></tr>
					<tr><td>Gems:</td><td id="h-gems"></td></tr>
					<tr><td>Kills:</td><td id="h-kills"></td></tr>
					<tr><td>Accuracy:</td><td id="h-accuracy"></td></tr>
					<tr><td>Death type:</td><td id="h-death-type"></td></tr>
				</table>
			</div>
		}
		else
		{
			<p>
				No top 100 history found for @Model.Username.
			</p>
		}
	}
</main>

@section Scripts {
	<script defer src='~/plugins/jqPlot/jquery.jqplot.min.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.dateAxisRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.highlighter.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasOverlay.js' asp-append-version='true'></script>
	<script defer src='~/scripts/leaderboard-progression.js' asp-append-version='true'></script>
	<script defer src='~/scripts/leaderboard-user-progression.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/lib/jqPlot/jquery.jqplot.min.css' />
	<link rel='stylesheet' href='~/styles/leaderboard-progression.css' />
}