@page
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Code.Utils
@using DevilDaggersWebsite.Pages.API
@using DevilDaggersCore.Leaderboards
@inject CoreBase.Services.ICommonObjects CommonObjects
@model DevilDaggersWebsite.Pages.Leaderboard.WorldRecordProgressionModel
@{
	ViewData["Title"] = "World Record Progression";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p class="text-center">
		This is the world record progression for Devil Daggers based on the <a asp-page="/Leaderboard/History">Leaderboard History</a> section of the website. While keeping track of any records after October 2018 has been fully automated, some older information is still missing. Most of the older information is based on screenshots and YouTube videos. If you find any information that's still missing, feel free to let us know in the <a href="@RazorUtils.DiscordUrl">Discord server</a>.
	</p>

	<div id="world-record-progression-chart" style="height: 65vh;"></div>

	<h2>World record holders</h2>
	<div class="row">
		<div class="text-bold col-lg-3 col-md-4 col-sm-4 col-xs-4">Username</div>
		<div class="text-bold col-lg-3 col-md-4 col-sm-4 col-xs-4">Total time held</div>
		<div class="text-bold col-lg-3 col-md-4 col-sm-4 col-xs-4">Last held</div>
	</div>
	@{
		TimeSpan total = DateTime.Now - GameInfo.GameVersions["V1"].ReleaseDate;
		Entry wr = new GetWorldRecordsModel(CommonObjects).GetWorldRecords(DateTime.Now).FirstOrDefault().Entry;
		foreach (WorldRecordHolder wrh in Model.WorldRecordHolders)
		{
			int days = (int)Math.Round(wrh.TimeHeld.TotalDays);
			int daysAgo = (int)Math.Round((DateTime.Now - wrh.LastHeld).TotalDays);

			string timeHeld = $"{days} day{(days == 1 ? "" : "s")} ({(wrh.TimeHeld / total).ToString("00.000%")})";

			Entry current = await new GetUserByIDModel().GetUserByID(wrh.ID);
			string lastHeld = wr.Time == current.Time ? "Current holder" : $"{wrh.LastHeld.ToString("MMM dd")} '{wrh.LastHeld.ToString("yy")} ({daysAgo} day{(daysAgo == 1 ? "" : "s")} ago)";

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">@wrh.Username</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">@timeHeld</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">@lastHeld</div>
			</div>
		}
	}

	<h2>World records by time lasted</h2>
	<div class="row">
		<div class="text-bold col-lg-3 col-md-4 col-sm-4 col-xs-4">Username</div>
		<div class="text-bold col-lg-3 col-md-4 col-sm-4 col-xs-4">Time</div>
		<div class="text-bold col-lg-3 col-md-4 col-sm-4 col-xs-4">Lasted</div>
	</div>
	@{
		foreach (KeyValuePair<WorldRecord, TimeSpan> kvp in Model.WorldRecords.OrderByDescending(w => w.Value))
		{
			int days = (int)Math.Round(kvp.Value.TotalDays);
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">@Model.WorldRecordHolders.Where(w => w.ID == kvp.Key.Entry.ID).FirstOrDefault().Username</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">@((kvp.Key.Entry.Time / 10000f).ToString("0.0000"))</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">@(days) @($"day{(days == 1 ? "" : "s")}")</div>
			</div>
		}
	}
</main>

@section Scripts {
	<script defer src='~/plugins/jqPlot/jquery.jqplot.min.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.dateAxisRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.highlighter.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasOverlay.js' asp-append-version='true'></script>
	<script defer src='~/scripts/leaderboard-world-record-progression.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/lib/jqPlot/jquery.jqplot.min.css' />
	<link rel='stylesheet' href='~/styles/jqplot.css' />
}