@page "/custom/leaderboards"
@inject PublicApiHttpClient Http
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.CustomLeaderboards

<h1 class="text-red text-2xl">Custom Leaderboards</h1>

@if (GetCustomLeaderboards == null)
{
	<Loading />
}
else
{
	<div class="grid gap-3 sm:grid-cols-leaderboard-sm md:grid-cols-leaderboard-md lg:grid-cols-leaderboard-lg xl:grid-cols-leaderboard-xl">
		<div class="text-left">Name</div>
		<div class="text-left">Author</div>
		<div class="text-right hidden sm:block bronze">Bronze</div>
		<div class="text-right hidden sm:block silver">Silver</div>
		<div class="text-right hidden sm:block golden">Golden</div>
		<div class="text-right hidden sm:block devil">Devil</div>
		<div class="text-right hidden sm:block leviathan">Leviathan</div>
	</div>
	@for (int i = 0; i < GetCustomLeaderboards.Results.Count; i++)
	{
		GetCustomLeaderboardOverview customLeaderboard = GetCustomLeaderboards.Results[i];
		<div class="grid gap-3 sm:grid-cols-leaderboard-sm md:grid-cols-leaderboard-md lg:grid-cols-leaderboard-lg xl:grid-cols-leaderboard-xl h-6 @(i % 2 == 0 ? "bg-gray0B" : string.Empty)">
			<div class="text-left"><a href="/custom/leaderboard/@customLeaderboard.SpawnsetName">@customLeaderboard.SpawnsetName</a></div>
			<div class="text-left">@customLeaderboard.SpawnsetAuthorName</div>
			<div class="text-right hidden sm:block bronze">@customLeaderboard.TimeBronze.ToString(FormatUtils.TimeFormat)</div>
			<div class="text-right hidden sm:block silver">@customLeaderboard.TimeSilver.ToString(FormatUtils.TimeFormat)</div>
			<div class="text-right hidden sm:block golden">@customLeaderboard.TimeGolden.ToString(FormatUtils.TimeFormat)</div>
			<div class="text-right hidden sm:block devil">@customLeaderboard.TimeDevil.ToString(FormatUtils.TimeFormat)</div>
			<div class="text-right hidden sm:block leviathan">@customLeaderboard.TimeLeviathan.ToString(FormatUtils.TimeFormat)</div>
		</div>
	}
}

@code
{
	public Page<GetCustomLeaderboardOverview>? GetCustomLeaderboards { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetCustomLeaderboards = await Http.Client.GetFromJsonAsync<Page<GetCustomLeaderboardOverview>>("api/custom-leaderboards");
	}
}
