@page
@model DevilDaggersWebsite.Razor.Pages.Admin.CustomEntries.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-route-sortMemberName="CustomLeaderboard">@Html.DisplayNameFor(model => model.CustomEntries[0].CustomLeaderboard.SpawnsetFile.Name)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="PlayerId">@Html.DisplayNameFor(model => model.CustomEntries[0].PlayerId)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Time">@Html.DisplayNameFor(model => model.CustomEntries[0].Time)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="GemsCollected">@Html.DisplayNameFor(model => model.CustomEntries[0].GemsCollected)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="EnemiesKilled">@Html.DisplayNameFor(model => model.CustomEntries[0].EnemiesKilled)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="DeathType">@Html.DisplayNameFor(model => model.CustomEntries[0].DeathType)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="DaggersHit">@Html.DisplayNameFor(model => model.CustomEntries[0].DaggersHit)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="DaggersFired">@Html.DisplayNameFor(model => model.CustomEntries[0].DaggersFired)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="EnemiesAlive">@Html.DisplayNameFor(model => model.CustomEntries[0].EnemiesAlive)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="HomingDaggers">@Html.DisplayNameFor(model => model.CustomEntries[0].HomingDaggers)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="LevelUpTime2">@Html.DisplayNameFor(model => model.CustomEntries[0].LevelUpTime2)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="LevelUpTime3">@Html.DisplayNameFor(model => model.CustomEntries[0].LevelUpTime3)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="LevelUpTime4">@Html.DisplayNameFor(model => model.CustomEntries[0].LevelUpTime4)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="SubmitDate">@Html.DisplayNameFor(model => model.CustomEntries[0].SubmitDate)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="ClientVersion">@Html.DisplayNameFor(model => model.CustomEntries[0].ClientVersion)</a>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.CustomEntries)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CustomLeaderboard.SpawnsetFile.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PlayerId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Time)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GemsCollected)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EnemiesKilled)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DeathType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DaggersHit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DaggersFired)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EnemiesAlive)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HomingDaggers)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LevelUpTime2)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LevelUpTime3)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LevelUpTime4)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubmitDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ClientVersion)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
