@typeparam TGetDto
@typeparam TSorting
@inject AuthenticationStateProvider Auth
@inject NavigationManager NavigationManager
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Enums
@using DevilDaggersInfo.Web.Client.Extensions

<Heading Title="@Title" />

<p class="para">Hello, @_username</p>

@if (_errorMessage != null)
{
	<ResultBar Title="Failed to retrieve overview" ResultBarType="ResultBarType.FatalError" DismissEvent="Dismiss">
		@_errorMessage
	</ResultBar>
}

@if (_page == null)
{
	if (!_errorThrown)
	{
		<Loading />
	}
}
else
{
	<Deletion AfterDelete="FetchAsync" ApiCall="@DeletionApiCall" @ref="_deletion" />

	<div class="bg-gray-1 p-2 text-lg">
		<a class="btn btn-green block w-24 mb-2 mx-1" href="@($"{NavigationManager.Uri}/add")">Add new</a>

		<div class="m-1">
			<span>Filter</span>
			<input class="bg-black border-gray-3 border-2" value="@Filter" @onchange="ChangeFilterAsync" />
		</div>

		<CascadingValue Value="this">
			<Paging />
		</CascadingValue>
	</div>

	<div class="overflow-x-auto">
		<table class="table-auto w-full">
			<thead>
				<tr>
					@foreach (AdminOverviewColumn<TGetDto, TSorting> column in Columns)
					{
						<th class="link overflow-hidden break-normal whitespace-nowrap cursor-pointer px-2 @column.TextAlignCssClass" @onclick="@(() => SortAsync(column.Sorting))" @onclick:preventDefault>@column.Header.ToNoBreakString()</th>
					}
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@{
					int i = 0;
					foreach (TGetDto result in _page.Results)
					{
						<tr class="@(i++ % 2 == 0 ? "bg-gray-1" : null)">
							@foreach (AdminOverviewColumn<TGetDto, TSorting> column in Columns)
							{
								<td class="overflow-hidden break-normal whitespace-nowrap px-2 @column.TextAlignCssClass">@column.DataGetter.Invoke(result)?.ToNoBreakString()</td>
							}
							<td class="overflow-hidden break-normal whitespace-nowrap px-2 text-left"><a class="link" href="@($"{NavigationManager.Uri}/edit/{result.Id}")">Edit</a></td>
							<td class="overflow-hidden break-normal whitespace-nowrap px-2 text-left"><a class="link" href="" @onclick="() => _deletion?.Set(result.Id)" @onclick:preventDefault>Delete</a></td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}
