@page
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersCore.Game
@model DevilDaggersWebsite.Razor.Pages.CustomLeaderboards.LeaderboardModel
@{
	string spawnsetName = Model.SpawnsetFile?.Name ?? throw new("Spawnset was null in CustomLeaderboards/Leaderboard page.");
	ViewData["Title"] = $"Leaderboard for {spawnsetName} by {Model.SpawnsetFile.Player.PlayerName}";

	List<(string DaggerName, string DisplaySeconds)> daggerInfo = new();
	for (int i = 0; i < 5; i++)
	{
		daggerInfo.Add(Model.GetDaggerInfo(i));
	}
}

<header>
	<h1 class="dont-break-out">@ViewData["Title"]</h1>
</header>

<main role="main">
	<div>
		<p class="text-center">
			<a asp-page="/Spawnset" asp-route-spawnset="@Model.SpawnsetFile.Name">Spawnset page for @spawnsetName</a>
		</p>

		<div class="description">
			@if (!string.IsNullOrEmpty(Model.SpawnsetFile.HtmlDescription))
			{
				@RazorUtils.GetLayout(Model.SpawnsetFile.HtmlDescription, GameVersion.V31)
			}
			else
			{
				@:(No description.)
			}
		</div>

		<div class="hidden-xs text-center">
			<div class="flex-container flex-center flex-space-evenly" style="margin: 12px;">
				@for (int i = 0; i < 5; i++)
				{
					(string daggerName, string seconds) = daggerInfo[i];

					<div>
						<div><img src="~/Images/Daggers/@(daggerName)Small.png" /></div>
						<div class="@daggerName.ToLower() text-center" style="width: 100%;">@seconds</div>
					</div>
				}
			</div>
		</div>
		<div class="visible-xs">
			<div class="flex-container flex-center">
				<div style="padding-right: 8px;">
					@for (int i = 0; i < 5; i++)
					{
						(string daggerName, _) = daggerInfo[i];

						<div>@daggerName</div>
					}
				</div>
				<div style="padding-left: 8px;">
					@for (int i = 0; i < 5; i++)
					{
						(string daggerName, string displaySeconds) = daggerInfo[i];

						<div class="@daggerName.ToLower() text-right">@displaySeconds</div>
					}
				</div>
			</div>
		</div>

		<p class="visible-xs visible-sm visible-md text-center">
			On mobile devices; tap on an entry to expand it.
		</p>
		<p class="text-center">
			You can sort the leaderboard by clicking the headers.
		</p>
	</div>
	@await Html.PartialAsync($"Partials/LeaderboardUserCustomPartial")
</main>

@section Scripts {
	<script defer src='~/scripts/leaderboard-user-custom.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/leaderboard-rows-custom-default.css' asp-append-version="true" />
}
