@page
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersCore.Game
@model DevilDaggersWebsite.Razor.Pages.CustomLeaderboards.LeaderboardModel
@{
	string spawnsetName = Model.SpawnsetFile?.Name ?? throw new("Spawnset was null in CustomLeaderboards/Leaderboard page.");
	if (Model.Leaderboard == null)
		throw new("Leaderboard was null in CustomLeaderboards/Leaderboard page.");

	DateTime submitCountCollectionStart = new(2020, 8, 25);
	bool possibleMissingSubmitCounts = Model.Leaderboard.DateCreated < submitCountCollectionStart;

	ViewData["Title"] = $"Custom Leaderboard - {spawnsetName}";

	List<(string DaggerName, string DisplaySeconds)> daggerInfo = new();
	for (int i = 0; i < 5; i++)
	{
		daggerInfo.Add(Model.GetDaggerInfo(i));
	}
}

<header>
	<h1 class="prevent-break-out">@ViewData["Title"]</h1>
</header>

<main role="main">
	<div>
		<div class="section-container">
			<div class="spawns-header-container">
				<div class="row">
					<div class="col-xs-6">Author</div>
					<div class="col-xs-6"><a asp-page="/Spawnsets" asp-route-searchAuthor="@Model.SpawnsetFile.Player.PlayerName">@Model.SpawnsetFile.Player.PlayerName</a></div>
				</div>
				<div class="row">
					<div class="col-xs-6">Created</div>
					<div class="col-xs-6">@Model.Leaderboard.DateCreated?.ToString("dd MMM yyyy")</div>
				</div>
				<div class="row">
					<div class="col-xs-6">Description</div>
					@if (!string.IsNullOrEmpty(Model.SpawnsetFile.HtmlDescription))
					{
						<div class="col-xs-6 spawnset-description">
							@RazorUtils.GetLayout(Model.SpawnsetFile.HtmlDescription, GameVersion.V31)
						</div>
					}
					else
					{
						<div class="col-xs-6">
							@RazorUtils.NAString
						</div>
					}
				</div>
				<div class="row">
					<div class="col-xs-6">Category</div>
					<div class="col-xs-6">@Model.Leaderboard.Category</div>
				</div>
				<div class="row">
					<div class="col-xs-6">Submits</div>
					<div class="col-xs-6">@Model.Leaderboard.TotalRunsSubmitted@(possibleMissingSubmitCounts ? "+" : string.Empty)</div>
				</div>
			</div>
		</div>
		<div class="section-container">
			<div class="spawns-header-container">
				<div class="row">
					<div class="col-xs-6"><a href="/api/spawnsets/@Model.SpawnsetFile.Name/file">Download spawnset</a></div>
					<div class="col-xs-6"><a asp-page="/Spawnset" asp-route-spawnset="@Model.SpawnsetFile.Name">View spawnset</a></div>
				</div>
			</div>
		</div>
		<div class="section-container visible-xs">
			<div class="spawns-header-container">
				@for (int i = 0; i < 5; i++)
				{
					(string daggerName, string displaySeconds) = daggerInfo[i];

					<div class="row">
						<div class="col-xs-6">@daggerName</div>
						<div class="col-xs-6 @daggerName.ToLower() text-right">@displaySeconds</div>
					</div>
				}
			</div>
		</div>
	</div>

	@if (Model.Leaderboard.IsArchived)
	{
		<span class="archive-note">This leaderboard is archived. You can still submit scores to it, but it won't show up in the list of leaderboards or player statistics.</span>
	}

	@if (Model.Leaderboard.Category == Enumerators.CustomLeaderboardCategory.TimeAttack)
	{
		<span class="time-attack-note">TimeAttack leaderboards are in development and not yet supported.</span>
	}

	<div class="hidden-xs text-center">
		<div class="flex-container flex-center flex-space-evenly icon-list">
			@for (int i = 0; i < 5; i++)
			{
				(string daggerName, string seconds) = daggerInfo[i];

				<div>
					<div><img src="~/Images/Daggers/@(daggerName)Small.png" /></div>
					<div class="@daggerName.ToLower() text-center" style="width: 100%;">@seconds</div>
				</div>
			}
		</div>
	</div>

	@await Html.PartialAsync("Partials/LeaderboardTableInfoPartial")
	@await Html.PartialAsync("Partials/LeaderboardUserCustomPartial")
</main>

@section Scripts {
	<script defer src='~/scripts/leaderboard-user-custom.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/custom-leaderboard.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/leaderboard-rows-custom-default.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/spawnset.css' asp-append-version="true" />
}
