@page "/tools"
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Components.Tools
@using DevilDaggersInfo.Web.Client.Utils

<Heading Title="Tools" />

<ToolLinks GitHubMainUrl="https://github.com/NoahStolk/ddinfo-tools" GitHubReleasesUrl="https://github.com/NoahStolk/ddinfo-tools/releases" GitHubChangelogUrl="https://github.com/NoahStolk/ddinfo-tools/blob/main/CHANGELOG.md" />

<Heading Title="Running The App" Level="2" />
<ol class="pl-4">
	<li class="list-decimal">Go to the GitHub releases page.</li>
	<li class="list-decimal">Under "Assets", download the .zip file (<span class="path">ddinfo-tools-win-x64.zip</span> on Windows, <span class="path">ddinfo-tools-linux-x64.zip</span> on Linux).</li>
    <li class="list-decimal">Extract it.</li>
    <li class="list-decimal">Run the executable inside it.</li>
</ol>

<Heading Title="Screenshots" Level="2" />

@{
	bool first = _screenshotIndex == 0;
	bool last = _screenshotIndex == _screenshotFileNames.Count - 1;

	const string disabledStyle = "disabled:opacity-50 cursor-default btn-disabled";
	const string enabledStyle = "btn-gray";
}

<button disabled="@first" class="@(first ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => _screenshotIndex--">@MarkupStrings.NavPrev</button>
<button disabled="@last" class="@(last ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => _screenshotIndex++">@MarkupStrings.NavNext</button>

@for (int i = 0; i < _screenshotFileNames.Count; i++)
{
	string fileName = _screenshotFileNames[i];
	<img class="@(i == _screenshotIndex ? "" : "hidden") object-contain max-h-160 pt-3" src="@($"/images/tools/{fileName}")" alt="DDINFO TOOLS" />
}

<Heading Title="System Requirements" Level="2" />

<ul class="pl-4">
	<li class="list-disc">64-bit processor and operating system</li>
	<li class="list-disc">GPU with OpenGL 3.3 support</li>
	<li class="list-disc">A screen resolution of 1366x768 or larger</li>
</ul>

<p class="para">If your computer can run Devil Daggers, you will be able to run the tools just fine. Note that you actually need to have Devil Daggers installed for the tools to work (otherwise you will be stuck in the configuration screen).</p>

<Heading Title="Advantages Over Deprecated Tools" Level="2" />

<ul class="pl-4">
	<li class="list-disc">A single application instead of three separate ones.</li>
	<li class="list-disc">Cross-platform instead of Windows-only. The app already runs on Linux, but it's still missing some native implementations for now.</li>
	<li class="list-disc">Way smaller download size; ~9 MB for all the tools combined instead of ~165 MB. No prerequisites are needed.</li>
	<li class="list-disc">Way faster startup time compared to the previous editors.</li>
</ul>

<Heading Title="New Features" Level="2" />

<ul class="pl-4">
	<li class="list-disc">Dedicated and simplified practice functionality.</li>
</ul>

<Heading Title="Survival Editor" Level="3" />

<ul class="pl-4">
	<li class="list-disc">3D arena editor (still work in progress).</li>
	<li class="list-disc">Improved arena shrink preview (also in 3D).</li>
	<li class="list-disc">Full undo/redo support.</li>
	<li class="list-disc">More arena actions.</li>
</ul>

<Heading Title="Custom Leaderboards" Level="3" />

<ul class="pl-4">
	<li class="list-disc">Viewing and installing all spawnsets with leaderboards from within the app (no need to use the old Survival Editor anymore).</li>
	<li class="list-disc">Viewing any score from any spawnset.</li>
	<li class="list-disc">Searching, filtering, and sorting leaderboards.</li>
	<li class="list-disc">Injecting any replay into the game without having to play the spawnset first.</li>
	<li class="list-disc">3D simulation of the replay in the app (very limited and inaccurate for now).</li>
</ul>

@code
{
	private static readonly List<string> _screenshotFileNames =
	[
		Path.Combine("ddinfo-tools", "practice.png"),
		Path.Combine("ddinfo-tools", "practice-splits.png"),
		Path.Combine("ddinfo-tools", "custom-leaderboards.png"),
		Path.Combine("ddinfo-tools", "spawnset-editor-1.png"),
		Path.Combine("ddinfo-tools", "spawnset-editor-2.png"),
		Path.Combine("ddinfo-tools", "spawnset-editor-3.png"),
		Path.Combine("ddinfo-tools", "replay-editor.png"),
		Path.Combine("ddinfo-tools", "replay-editor-events-viewer.png"),
		// TODO: Add asset-editor.
	];

	private int _screenshotIndex;
}
