@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Code.DataTransferObjects
@using DevilDaggersWebsite.Code.Extensions
@using DevilDaggersWebsite.Code.Utils
@using System.IO
@{
	Tool tool = ToolList.DevilDaggersCustomLeaderboards;
	ViewData["Title"] = tool.DisplayName;
	string downloadFileName = $"{tool.Name}{tool.VersionNumber}.zip";
	FileInfo downloadFileInfo = new FileInfo(System.IO.Path.Combine(env.WebRootPath, "tools", tool.Name, downloadFileName));
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		Devil Daggers Custom Leaderboards is a program that records data from custom spawnset runs, and uploads it to a <a asp-page="/CustomLeaderboards/Index">custom leaderboard</a>.
	</p>

	<p>
		<img class="img-responsive image-narrow" src="~/images/Tools/@(tool.Name).png" />
	</p>

	<p>
		Current version: @(tool.VersionNumber)<br />
		Oldest supported version: @(tool.VersionNumberRequired)<br />
		File size: @(Math.Round(downloadFileInfo.Length / 1024f).ToString()) KB<br />
		<a class="btn dont-break-out" href="/tools/@tool.Name/@downloadFileName">Download</a>
	</p>

	<h2>System requirements</h2>
	<ul>
		<li>Microsoft Windows</li>
		<li>.NET Framework 4.6.1</li>
		<li>The Steam version of Devil Daggers</li>
	</ul>

	<h2>Installation</h2>
	<ol>
		<li>Download the zip file.</li>
		<li>Unzip its contents.</li>
		<li>Run <span class="dont-break-out">@(tool.Name).exe</span> inside the folder.</li>
	</ol>

	<h2>Source code</h2>
	<p>
		The source code can be found on <a target="_blank" href="@UrlUtils.SourceCodeUrl(tool.Name)">GitHub</a>.
	</p>

	<h2>Changelog</h2>
	@tool.ToChangelogHtmlString()
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/tools.css' />
}