@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Core.Dto
@using DevilDaggersWebsite.Core.Tools
@using System.IO
@{
	Tool tool = ToolList.DevilDaggersAssetEditor;
	ViewData["Title"] = tool.DisplayName;
	string downloadFileName = $"{tool.Name}{tool.VersionNumber}.zip";
	FileInfo downloadFileInfo = new FileInfo(System.IO.Path.Combine(env.WebRootPath, "tools", tool.Name, downloadFileName));
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		Devil Daggers Asset Editor is a tool that can be used to extract assets from the Devil Daggers resource files, as well as inserting them back into binaries to create mods.
	</p>

	<p>
		<img class="img-responsive image-narrow" src="~/images/Tools/@(tool.Name).png" />
	</p>

	<p>
		Current version: @(tool.VersionNumber)<br />
		Oldest supported version: @(tool.VersionNumberRequired)<br />
		File size: @(Math.Round(downloadFileInfo.Length / 1024f).ToString()) KB<br />
		<a class="btn dont-break-out" href="/api/tools/@tool.Name/file">Download</a>
	</p>

	<h2>System requirements</h2>
	<ul>
		<li>Microsoft Windows (64-bit)</li>
		<li><a href="https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-desktop-3.1.7-windows-x64-installer">.NET Core 3.1 Desktop Runtime</a></li>
	</ul>

	<h2>Installation</h2>
	<ol>
		<li>Download the zip file.</li>
		<li>Unzip its contents.</li>
		<li>Run <span class="dont-break-out">@(tool.Name).exe</span> inside the folder.</li>
	</ol>

	<h2>Source code</h2>
	<p>
		The source code can be found on <a target="_blank" href="@UrlUtils.SourceCodeUrl(tool.Name)">GitHub</a>.
	</p>

	<h2>Changelog</h2>
	@tool.ToChangelogHtmlString()
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/tools.css' />
}