@page "/leaderboard-statistics"
@inject PublicApiHttpClient Http
@using Blazorise.Charts
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.LeaderboardStatistics

<h1 class="text-red text-2xl">Leaderboard Statistics</h1>

@if (_statistics == null)
{
	<Loading />
}
else
{
	@if (!_statistics.IsFetched)
	{
		<p>Statistics are not initialized.</p>
	}
	else
	{
		<p>
			This page contains some global statistics from the leaderboard.
		</p>
		<p>
			Statistics were last fetched on @_statistics.DateTime.ToString(FormatUtils.DateTimeUtcFormat).
		</p>

		<h2 class="text-red text-xl">Scores</h2>
		<ul>
			@foreach (KeyValuePair<string, int> kvp in _statistics.EnemyStatistics)
			{
				<li>@kvp.Value out of @_statistics.TotalEntries players (<span>@((kvp.Value / (float)_statistics.TotalEntries).ToString("0.00%"))</span>) have seen @kvp.Key.</li>
			}
			<li>The average time survived for all players is <span class="@GameInfo.GetDaggerFromTenthsOfMilliseconds(GameVersion.V31, _statistics.AverageTimeInTenthsOfMilliseconds).Name.ToLower()">@((_statistics.AverageTimeInTenthsOfMilliseconds / 10000f).ToString(FormatUtils.TimeFormat))</span> seconds.</li>
			<li>The average kills for all players is @(_statistics.AverageKills.ToString(FormatUtils.LeaderboardIntAverageFormat)).</li>
			<li>The average gems for all players is @(_statistics.AverageGems.ToString(FormatUtils.LeaderboardIntAverageFormat)).</li>
		</ul>

		<h3 class="text-red text-lg">0-500 Scores</h3>
		<button @onclick="@(async () => await DrawSub500BarChart())">Redraw</button>
		<BarChart @ref="_sub500BarChart" TItem="int" />

		<h3 class="text-red text-lg">500-1000 Scores</h3>
		<button @onclick="@(async () => await DrawSub1000BarChart())">Redraw</button>
		<BarChart @ref="_sub1000BarChart" TItem="int" />

		<h3 class="text-red text-lg">1000+ Scores</h3>
		<button @onclick="@(async () => await DrawPost1000BarChart())">Redraw</button>
		<BarChart @ref="_post1000BarChart" TItem="int" />

		<h2 class="text-red text-xl">Daggers</h2>
		<button @onclick="@(async () => await DrawDaggersBarChart())">Redraw</button>
		<BarChart @ref="_daggersBarChart" TItem="int" />

		<h2 class="text-red text-xl">Death types</h2>
		<button @onclick="@(async () => await DrawDeathsBarChart())">Redraw</button>
		<BarChart @ref="_deathsBarChart" TItem="int" />

		<h2 class="text-red text-xl">Enemies seen</h2>
		<button @onclick="@(async () => await DrawEnemiesBarChart())">Redraw</button>
		<BarChart @ref="_enemiesBarChart" TItem="int" />
	}
}

@code
{
	private GetLeaderboardStatistics? _statistics;

	protected override async Task OnInitializedAsync()
	{
		_statistics = await Http.Client.GetFromJsonAsync<GetLeaderboardStatistics>("api/leaderboard-statistics");
	}

	private int[] _sub500Times = Enumerable.Range(0, 50).Select(i => i * 10).ToArray();
	private int[] _sub1000Times = Enumerable.Range(50, 50).Select(i => i * 10).ToArray();
	private int[] _post1000Times = Enumerable.Range(100, 20).Select(i => i * 10).ToArray();

	private BarChart<int>? _sub500BarChart;
	private BarChart<int>? _sub1000BarChart;
	private BarChart<int>? _post1000BarChart;
	private BarChart<int>? _daggersBarChart;
	private BarChart<int>? _deathsBarChart;
	private BarChart<int>? _enemiesBarChart;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			await DrawSub500BarChart();
	}

	private async Task DrawSub500BarChart()
	{
		if (_sub500BarChart == null)
			return;

		await _sub500BarChart.Clear();
		await _sub500BarChart.AddLabelsDatasetsAndUpdate(_sub500Times.Select(i => i.ToString()).ToArray(), new BarChartDataset<int>
		{
			Label = "Players",
			Data = _statistics?.TimeStatistics.Select(kvp => kvp.Value).Take(50).ToList(),
			BackgroundColor = _sub500Times.Select(t => $"#{GameInfo.GetDaggerFromSeconds(GameVersion.V31, t).ColorCode}").ToList(),
		});
	}

	private async Task DrawSub1000BarChart()
	{
		if (_sub1000BarChart == null)
			return;

		await _sub1000BarChart.Clear();
		await _sub1000BarChart.AddLabelsDatasetsAndUpdate(_sub1000Times.Select(i => i.ToString()).ToArray(), new BarChartDataset<int>
		{
			Label = "Players",
			Data = _statistics?.TimeStatistics.Select(kvp => kvp.Value).Skip(50).Take(50).ToList(),
			BackgroundColor = _sub1000Times.Select(t => $"#{GameInfo.GetDaggerFromSeconds(GameVersion.V31, t).ColorCode}").ToList(),
		});
	}

	private async Task DrawPost1000BarChart()
	{
		if (_post1000BarChart == null)
			return;

		await _post1000BarChart.Clear();
		await _post1000BarChart.AddLabelsDatasetsAndUpdate(_post1000Times.Select(i => i.ToString()).ToArray(), new BarChartDataset<int>
		{
			Label = "Players",
			Data = _statistics?.TimeStatistics.Select(kvp => kvp.Value).Skip(100).Take(20).ToList(),
			BackgroundColor = _post1000Times.Select(t => $"#{GameInfo.GetDaggerFromSeconds(GameVersion.V31, t).ColorCode}").ToList(),
		});
	}

	private async Task DrawDaggersBarChart()
	{
		if (_daggersBarChart == null)
			return;

		await _daggersBarChart.Clear();
		await _daggersBarChart.AddLabelsDatasetsAndUpdate(_statistics?.DaggerStatistics.Select(kvp => kvp.Key).ToArray(), new BarChartDataset<int>
		{
			Label = "Players",
			Data = _statistics?.DaggerStatistics.Select(kvp => kvp.Value).ToList(),
			BackgroundColor = _statistics?.DaggerStatistics.Select(kvp => $"#{GameInfo.GetDaggers(GameVersion.V31).FirstOrDefault(d => d.Name == kvp.Key)?.ColorCode ?? "444"}").ToList(),
		});
	}

	private async Task DrawDeathsBarChart()
	{
		if (_deathsBarChart == null)
			return;

		await _deathsBarChart.Clear();
		await _deathsBarChart.AddLabelsDatasetsAndUpdate(_statistics?.DeathStatistics.Select(kvp => kvp.Key).ToArray(), new BarChartDataset<int>
		{
			Label = "Players",
			Data = _statistics?.DeathStatistics.Select(kvp => kvp.Value).ToList(),
			BackgroundColor = _statistics?.DeathStatistics.Select(kvp => $"#{GameInfo.GetDeathByName(GameVersion.V31, kvp.Key)?.ColorCode ?? "444"}").ToList(),
		});
	}

	private async Task DrawEnemiesBarChart()
	{
		if (_enemiesBarChart == null)
			return;

		await _enemiesBarChart.Clear();
		await _enemiesBarChart.AddLabelsDatasetsAndUpdate(_statistics?.EnemyStatistics.Select(kvp => kvp.Key).ToArray(), new BarChartDataset<int>
		{
			Label = "Players",
			Data = _statistics?.EnemyStatistics.Select(kvp => kvp.Value).ToList(),
			BackgroundColor = _statistics?.EnemyStatistics.Select(kvp => $"#{GameInfo.GetEnemies(GameVersion.V31).FirstOrDefault(e => e.Name == kvp.Key)?.ColorCode ?? "444"}").ToList(),
		});
	}
}
