@page "/leaderboard-statistics"
@inject PublicApiHttpClient Http
@using Blazorise.Charts
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.LeaderboardStatistics

<h1 class="text-red text-2xl">Leaderboard Statistics</h1>

@if (_statistics == null)
{
	<Loading />
}
else
{
	if (!_statistics.IsFetched)
	{
		<p>Statistics are not initialized.</p>
	}
	else
	{
		<p>This page contains some global statistics from the leaderboard.</p>
		<p>Statistics were last fetched on @_statistics.DateTime.ToString(FormatUtils.DateTimeUtcFormat).</p>

		<h2 class="text-red text-xl">Scores</h2>
		<p>The average time survived for all players is <span class="@GameInfo.GetDaggerFromTenthsOfMilliseconds(GameVersion.V31, (int)_statistics.Time.Average).Name.ToLower()">@((_statistics.Time.Average / 10000.0).ToString(FormatUtils.TimeFormat))</span> seconds.</p>
		<BarChart Options="_bco" @ref="_sub500BarChart" TItem="int" />
		<BarChart Options="_bco" @ref="_sub1000BarChart" TItem="int" />
		<BarChart Options="_bco" @ref="_post1000BarChart" TItem="int" />

		<h2 class="text-red text-xl">Kills</h2>
		<p>The average kills for all players is @(_statistics.Kills.Average.ToString("0.00")).</p>
		<p>The median kills for all players is @_statistics.Kills.Median.</p>
		<p>The mode kills for all players is @_statistics.Kills.Mode.</p>
		<BarChart Options="_bco" @ref="_killsLineChart" TItem="int" />

		<h2 class="text-red text-xl">Gems</h2>
		<p>The average gems for all players is @(_statistics.Gems.Average.ToString("0.00")).</p>
		<p>The median gems for all players is @_statistics.Gems.Median.</p>
		<p>The mode gems for all players is @_statistics.Gems.Mode.</p>
		<BarChart Options="_bco" @ref="_gemsLineChart" TItem="int" />
		<PieChart Options="_pco" @ref="_levelsPieChart" TItem="int" />

		<h2 class="text-red text-xl">Daggers achieved</h2>
		<BarChart Options="_bco" @ref="_daggersBarChart" TItem="int" />

		<h2 class="text-red text-xl">Death types</h2>
		<BarChart Options="_bco" @ref="_deathsBarChart" TItem="int" />

		<h2 class="text-red text-xl">Enemies seen</h2>
		<BarChart Options="_bco" @ref="_enemiesBarChart" TItem="int" />
	}
}

@code
{
	private GetLeaderboardStatistics? _statistics;

	protected override async Task OnInitializedAsync()
	{
		_statistics = await Http.Client.GetFromJsonAsync<GetLeaderboardStatistics>("api/leaderboard-statistics");
	}

	private const int _killGraphCount = 100;
	private const int _gemGraphCount = 50;

	private BarChartOptions _bco = new()
	{
		MaintainAspectRatio = true,
		Responsive = true,
		AspectRatio = 3.5f,
	};

	private LineChartOptions _lco = new()
	{
		MaintainAspectRatio = true,
		Responsive = true,
		AspectRatio = 3.5f,
	};

	private PieChartOptions _pco = new()
	{
		MaintainAspectRatio = true,
		Responsive = true,
		AspectRatio = 3.5f,
	};

	private BarChart<int>? _sub500BarChart;
	private BarChart<int>? _sub1000BarChart;
	private BarChart<int>? _post1000BarChart;
	private BarChart<int>? _killsLineChart;
	private BarChart<int>? _gemsLineChart;
	private PieChart<int>? _levelsPieChart;
	private BarChart<int>? _daggersBarChart;
	private BarChart<int>? _deathsBarChart;
	private BarChart<int>? _enemiesBarChart;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender ||
			_statistics == null ||
			_sub500BarChart == null ||
			_sub1000BarChart == null ||
			_post1000BarChart == null ||
			_killsLineChart == null ||
			_gemsLineChart == null ||
			_levelsPieChart == null ||
			_daggersBarChart == null ||
			_deathsBarChart == null ||
			_enemiesBarChart == null)
			return;

		int post1000BarCount = _statistics.TimeStatistics.Max(kvp => kvp.Key) / 10 - 100 + 1;

		int[] sub500Times = Enumerable.Range(0, 50).Select(i => i * 10).ToArray();
		int[] sub1000Times = Enumerable.Range(50, 50).Select(i => i * 10).ToArray();
		int[] post1000Times = Enumerable.Range(100, post1000BarCount).Select(i => i * 10).ToArray();

		await SetUpBarChart(
			barChart: _sub500BarChart,
			labels: sub500Times.Select(i => $"{i} - {i + 9}").ToArray(),
			data: _statistics.TimeStatistics.Select(kvp => kvp.Value).Take(50).ToList(),
			backgroundColors: sub500Times.Select(t => $"#{GameInfo.GetDaggerFromSeconds(GameVersion.V31, t).ColorCode}").ToList());
		await SetUpBarChart(
			barChart: _sub1000BarChart,
			labels: sub1000Times.Select(i => $"{i} - {i + 9}").ToArray(),
			data: _statistics.TimeStatistics.Select(kvp => kvp.Value).Skip(50).Take(50).ToList(),
			backgroundColors: sub1000Times.Select(t => $"#{GameInfo.GetDaggerFromSeconds(GameVersion.V31, t).ColorCode}").ToList());
		await SetUpBarChart(
			barChart: _post1000BarChart,
			labels: post1000Times.Select(i => $"{i} - {i + 9}").ToArray(),
			data: _statistics.TimeStatistics.Select(kvp => kvp.Value).Skip(100).Take(post1000BarCount).ToList(),
			backgroundColors: post1000Times.Select(t => $"#{GameInfo.GetDaggerFromSeconds(GameVersion.V31, t).ColorCode}").ToList());
		await SetUpBarChart(
			barChart: _killsLineChart,
			labels: _statistics.KillStatistics.Take(_killGraphCount).Select(kvp => $"{kvp.Key} - {kvp.Key + 9}").ToArray(),
			data: _statistics.KillStatistics.Take(_killGraphCount).Select(kvp => kvp.Value).ToList(),
			backgroundColors: Enumerable.Repeat("#dd8800", _killGraphCount).ToList());
		await SetUpBarChart(
			barChart: _gemsLineChart,
			labels: _statistics.GemStatistics.Take(_gemGraphCount).Select(kvp => $"{kvp.Key} - {kvp.Key + 9}").ToArray(),
			data: _statistics.GemStatistics.Take(_gemGraphCount).Select(kvp => kvp.Value).ToList(),
			backgroundColors: Enumerable.Repeat("#ff0000", _gemGraphCount).ToList());
		await SetUpPieChart(
			pieChart: _levelsPieChart,
			labels: new[] { "Level 1", "Level 2", "Level 3 or 4" },
			data: new() { _statistics.PlayersWithLevel1, _statistics.PlayersWithLevel2, _statistics.PlayersWithLevel3Or4 },
			backgroundColors: GameInfo.GetUpgrades(GameVersion.V31).Where(u => u.Level != 4).Select(u => $"#{u.ColorCode}").ToList());
		await SetUpBarChart(
			barChart: _daggersBarChart,
			labels: _statistics.DaggerStatistics.Select(kvp => kvp.Key).ToArray(),
			data: _statistics.DaggerStatistics.Select(kvp => kvp.Value).ToList(),
			backgroundColors: _statistics.DaggerStatistics.Select(kvp => $"#{GameInfo.GetDaggers(GameVersion.V31).FirstOrDefault(d => d.Name == kvp.Key)?.ColorCode ?? "444"}").ToList());
		await SetUpBarChart(
			barChart: _deathsBarChart,
			labels: _statistics.DeathStatistics.Select(kvp => kvp.Key).ToArray(),
			data: _statistics.DeathStatistics.Select(kvp => kvp.Value).ToList(),
			backgroundColors: _statistics.DeathStatistics.Select(kvp => $"#{GameInfo.GetDeathByName(GameVersion.V31, kvp.Key)?.ColorCode ?? "444"}").ToList());
		await SetUpBarChart(
			barChart: _enemiesBarChart,
			labels: _statistics.EnemyStatistics.Select(kvp => kvp.Key).ToArray(),
			data: _statistics.EnemyStatistics.Select(kvp => kvp.Value).ToList(),
			backgroundColors: _statistics.EnemyStatistics.Select(kvp => $"#{GameInfo.GetEnemies(GameVersion.V31).FirstOrDefault(e => e.Name == kvp.Key)?.ColorCode ?? "444"}").ToList());
	}

	private async Task SetUpBarChart(BarChart<int> barChart, string[] labels, List<int> data, List<string> backgroundColors)
	{
		await barChart.Clear();
		await barChart.AddLabelsDatasetsAndUpdate(labels, new BarChartDataset<int>
		{
			Label = "Players",
			Data = data,
			BackgroundColor = backgroundColors,
		});
	}

	private async Task SetUpLineChart(LineChart<int> lineChart, string[] labels, List<int> data, List<string> backgroundColors)
	{
		await lineChart.Clear();
		await lineChart.AddLabelsDatasetsAndUpdate(labels, new LineChartDataset<int>
		{
			Label = "Players",
			Data = data,
			BackgroundColor = backgroundColors,
			Fill = true,
			LineTension = 0,
			PointRadius = 10,
		});
	}

	private async Task SetUpPieChart(PieChart<int> pieChart, string[] labels, List<int> data, List<string> backgroundColors)
	{
		await pieChart.Clear();
		await pieChart.AddLabelsDatasetsAndUpdate(labels, new PieChartDataset<int>
		{
			Label = "Players",
			Data = data,
			BackgroundColor = backgroundColors,
			BorderWidth = 1,
			BorderColor = new List<string> { "#aaa" },
			HoverBorderColor = new List<string> { "#ddd" },
		});
	}
}
