@page "/leaderboard"
@inject PublicApiHttpClient Http
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Public.Leaderboards
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Public.Players
@using DevilDaggersWebsite.BlazorWasm.Client.Components.Leaderboards

<h1 class="text-red text-2xl">Leaderboard</h1>

@if (GetLeaderboard == null)
{
	@if (_apiError == null)
	{
		<Loading />
	}
	else
	{
		<p class="py-1">Failed to retrieve scores from the official Devil Daggers leaderboard servers. Please try again later.</p>
		<p class="py-1">@_apiError</p>
	}
}
else
{
	<div>
		<div>Rank:</div>
		<input @bind="Rank" class="bg-black border-white border-2" /> @*TODO: Enter key should fetch leaderboard.*@
		<button @onclick="FetchLeaderboard">Show</button>

		<div>
			@if (_reloading)
			{
				<em>Loading...</em>
			}
			else
			{
				<span>Showing rank @Rank - @(Rank + 99)</span>
			}
		</div>
		<div>
			<a class="@(Rank <= 1 ? "disabled" : string.Empty)" @onclick="() => SetRank(1)">|&lt;</a>
			<a class="@(Rank <= 1 ? "disabled" : string.Empty)" @onclick="() => SetRank(Rank - 1000)">&lt;&lt;</a>
			<a class="@(Rank <= 1 ? "disabled" : string.Empty)" @onclick="() => SetRank(Rank - 100)">&lt;</a>
			<a class="@(Rank >= _maxRank ? "disabled" : string.Empty)" @onclick="() => SetRank(Rank + 100)">&gt;</a>
			<a class="@(Rank >= _maxRank ? "disabled" : string.Empty)" @onclick="() => SetRank(Rank + 1000)">&gt;&gt;</a>
			<a class="@(Rank >= _maxRank ? "disabled" : string.Empty)" @onclick="() => SetRank(GetLeaderboard.TotalPlayers - 99)">&gt;|</a>
		</div>
	</div>

	<LeaderboardGlobal Leaderboard="GetLeaderboard" IsHistory="false" />
	<LeaderboardTableInfo />
	<LeaderboardTable Leaderboard="GetLeaderboard" Players="Players" IsHistory="false" />
}

@code
{
	private string? _apiError;
	private bool _reloading;

	private int _maxRank => (GetLeaderboard?.TotalPlayers ?? int.MaxValue) - 99;

	public int Rank { get; set; } = 1;

	public GetLeaderboard? GetLeaderboard { get; set; }

	public List<GetPlayerForLeaderboard>? Players { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Players = await Http.Client.GetFromJsonAsync<List<GetPlayerForLeaderboard>>("api/players/leaderboard");
		await FetchLeaderboard();
	}

	private async Task SetRank(int value)
	{
		Rank = Math.Clamp(value, 1, _maxRank);
		await FetchLeaderboard();
	}

	private async Task FetchLeaderboard()
	{
		try
		{
			if (GetLeaderboard != null)
				_reloading = true;

			GetLeaderboard = await Http.Client.GetFromJsonAsync<GetLeaderboard>($"api/leaderboards?rankStart={Rank}");
			_reloading = false;
		}
		catch (Exception ex)
		{
			_apiError = ex.Message;
		}
	}
}
