@page "/guides/creating-spawnsets"
@using DevilDaggersInfo.Core.Common
@using DevilDaggersInfo.Core.Wiki
@using DevilDaggersInfo.Core.Wiki.Objects
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Utils

<Heading Title="How To Create Spawnsets" />

<p class="para">
	This guide assumes you already know how to use spawnsets. If you don't, please read <a class="link" href="/guides/using-spawnsets">this guide</a> first.
</p>

<Heading Level="2" Title="What Can Be Changed Using A Spawnset?" />

<ul class="pl-4">
	<li class="list-disc">The spawn time of each enemy</li>
	<li class="list-disc">The height of each tile in the arena</li>
	<li class="list-disc">The rate at which the arena shrinks, and when the shrinking stops</li>
	<li class="list-disc">The brightness</li>
	<li class="list-disc">The initial hand upgrade for the player</li>
	<li class="list-disc">The amount of additional gems given to the player when starting the run</li>
	<li class="list-disc">The timer value at the start of the run (for simulating practice more accurately)</li>
	<li class="list-disc">The game mode (Survival / Time Attack / Race)</li>
</ul>

<p class="para">
	All of this data can be edited using <a class="link" href="tools/survival-editor">Devil Daggers Survival Editor</a>.
</p>

<img src="/images/tools/ddse.png" class="object-contain max-h-160" />

<Heading Level="2" Title="Changing Enemy Spawns" />

<p class="para">
	A spawn in the survival file is defined by an <b>enemy type</b> and a <b>delay value</b>. Every spawnset has a list of these which can be edited.
</p>

<Heading Level="3" Title="Enemy Types" />

<p class="para">
	10 enemies can be spawned in the survival file, as well as an <b>Empty</b> type which we'll get to later.
</p>

<div class="grid grid-cols-3 max-w-sm border-2 border-gray-5 px-1">
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Squid1)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Squid2)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Squid3)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Centipede)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Gigapede)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Ghostpede)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Spider1)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Spider2)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Leviathan)</div>
	<div>@MarkupUtils.EnemyString(EnemiesV3_2.Thorn)</div>
	<div><b>Empty</b></div>
</div>

<Heading Level="3" Title="Delay Values" />

<p class="para">
	The delay value specifies the amount of seconds the game will wait before spawning the enemy. Consider the following list of spawns:
</p>

<div class="grid grid-cols-3 max-w-sm border-2 border-gray-5 px-1">
	<div class="font-bold">Enemy type</div>
	<div class="font-bold text-right">Delay value</div>
	<div class="font-bold text-right">Spawn time</div>
	@{
		float time = 0;
		foreach ((Enemy enemy, float delay) in new[] { (EnemiesV3_2.Squid1, 4), (EnemiesV3_2.Spider1, 3) })
		{
			time += delay;

			<div>@MarkupUtils.EnemyString(enemy)</div>
			<div class="text-right">@delay.ToString(StringFormats.TimeFormat)</div>
			<div class="text-right">@time.ToString(StringFormats.TimeFormat)</div>
		}
	}
</div>

<p class="para">
	When the run begins, the game will wait 4 seconds before spawning the first @MarkupUtils.EnemyString(EnemiesV3_2.Squid1). After that, it will wait 3 seconds before spawning the @MarkupUtils.EnemyString(EnemiesV3_2.Spider1), so the @MarkupUtils.EnemyString(EnemiesV3_2.Spider1) will spawn at 7 seconds.
</p>

<p class="para">
	To spawn multiple enemies at the same time, simply use a delay value of 0:
</p>

<div class="grid grid-cols-3 max-w-sm border-2 border-gray-5 px-1">
	<div class="font-bold">Enemy type</div>
	<div class="font-bold text-right">Delay value</div>
	<div class="font-bold text-right">Spawn time</div>
	@{
		time = 0;
		foreach ((Enemy enemy, float delay, bool bold) in new[] { (EnemiesV3_2.Squid2, 2, false), (EnemiesV3_2.Gigapede, 5, true), (EnemiesV3_2.Gigapede, 0, true), (EnemiesV3_2.Gigapede, 0, true), (EnemiesV3_2.Spider1, 3, false) })
		{
			time += delay;

			<div>@MarkupUtils.EnemyString(enemy)</div>
			<div class="text-right @(bold ? "font-bold" : string.Empty)">@delay.ToString(StringFormats.TimeFormat)</div>
			<div class="text-right @(bold ? "font-bold" : string.Empty)">@time.ToString(StringFormats.TimeFormat)</div>
		}
	}
</div>

<Heading Level="3" Title="The End Loop" />
<p class="para">
	The end loop is the same set of spawns over and over again, faster every time. This appears at the end of the spawnset.
</p>

<Heading Level="4" Title="Empty Enemy Type" />
<p class="para">
	The <b>Empty</b> enemy type does not spawn an enemy; its only purpose is to mark the beginning of the end loop. The last <b>Empty</b> spawn will always mark the beginning of the end loop. Having an end loop is optional, so if you don't want to include an end loop, simply make sure to put an <b>Empty</b> spawn at the end of the spawnset to mark the end of the spawnset (or literally; mark the start of an empty end loop).
</p>

<Heading Level="4" Title="Ghostpedes" />
<p class="para">
	Every third wave of the end loop, all @MarkupUtils.EnemyString(EnemiesV3_2.Gigapede, true) are changed into @MarkupUtils.EnemyString(EnemiesV3_2.Ghostpede, true). This is hardcoded in the game and cannot be changed.
</p>

<Heading Level="4" Title="End Loop Speed Up" />
<p class="para">
	How the end loop speeds up is also hardcoded in the game. How it works exactly is a bit hard to explain however... In the game there is an additional "special" timer used for the end loop. This timer initially increases the same amount as the normal timer, so during the first wave, all the enemies spawn at the exact same speed as they would before the end loop.
</p>
<p class="para">
	The speed up happens after every wave ends; at that point the special timer is sped up by a very small amount. The exact amount for this is 12.5% of a game tick (60th of a second), which is 0.0020833 seconds. This means that during the second wave, the special timer increases by 0.0020833 seconds more than the normal timer for every game tick, then 0.0041667 seconds more during the third wave, etc.
</p>
<p class="para">
	Here is the data for the first 10 waves in the original game:
</p>

<div class="grid grid-cols-4 sm:grid-cols-5 border-2 border-gray-5 px-1">
	<div class="font-bold text-right hidden sm:block">Wave index</div>
	<div class="font-bold text-right">Wave start</div>
	<div class="font-bold text-right">Wave length</div>
	<div class="font-bold text-right">Decrement (relative to previous)</div>
	<div class="font-bold text-right">Speed up</div>

	@{
		const double physicsTick = 1f / 60f;

		int[] loopSeconds = { 5, 8, 11, 16, 21, 22, 23, 33, 34, 35, 40, 41, 46, 51, 56 };

		double waveModifier = 0f;
		double seconds = 451f;

		double previousLength = 0;
		for (int i = 0; i < 10; i++)
		{
			double start = seconds;
			double enemyTimer = 0f;
			for (int j = 0; j < loopSeconds.Length; j++)
			{
				while (enemyTimer < loopSeconds[j])
				{
					seconds += physicsTick;
					enemyTimer += physicsTick + waveModifier;
				}
			}

			double length = seconds - start;

			<div class="text-right hidden sm:block">@i</div>
			<div class="text-right">@((Math.Floor(start * 60) / 60).ToString(StringFormats.TimeFormat))</div>
			<div class="text-right">@((Math.Floor(length * 60) / 60).ToString(StringFormats.TimeFormat))</div>
			<div class="text-right">@(previousLength == 0 ? "-" : (1 - length / previousLength).ToString("0.00%"))</div>
			<div class="text-right">@(waveModifier.ToString("0.0000000"))</div>

			waveModifier += physicsTick / 8f;
			previousLength = length;
		}
	}
</div>

<Heading Title="Using The Editor" Level="3" />

<p class="para">
	Now that the theory is out of the way, we can start using the editor to change the spawns in a spawnset. A good way to start is by adding spawns to an empty spawnset.
</p>

<p class="para">
	In the bottom left of the editor you can select an enemy type to spawn, and change the delay value in the text box below. Click the "Add" button to add the spawn to the list. Try adding a few spawns to the spawnset.
</p>

<img src="/images/tools/ddse-adding-spawns.png" class="object-contain max-h-160" />

<p class="para">
	If you want to remove a spawn, you can select it and click the "Delete selected spawn(s)" button. You can also change the enemy type of a spawn by selecting it, setting the new enemy type, and clicking the "Edit selected spawn(s)" button.
</p>

<img src="/images/tools/ddse-editing-spawns.png" class="object-contain max-h-160" />

<p class="para">
	You can easily test your spawnset by pressing <span class="code">Ctrl R</span> to replace the currently active custom spawnset file. There is no need to restart the game, just grab the dagger in the lobby or press the restart key.
</p>

<p class="para">
	Available keyboard shortcuts that can be used for the spawns list:
</p>

<ul class="pl-4">
	<li class="list-disc"><span class="code">Del</span> to delete selected spawns</li>
	<li class="list-disc"><span class="code">Ctrl C</span> to copy selected spawns</li>
	<li class="list-disc"><span class="code">Ctrl V</span> to paste spawns</li>
	<li class="list-disc"><span class="code">Ctrl A</span> to select all spawns</li>
</ul>

<Heading Title="Changing The Arena" Level="2" />

<p class="para">
	Here is some basic information you need to know in order to work with the arena:
</p>

<ul class="pl-4">
	<li class="list-disc">The arena is simply a grid of heights. You cannot have multiple tiles above or below each other.</li>
	<li class="list-disc">By default, the arena dimension is 51 (meaning 51 by 51 tiles). This value can technically be changed, but a value of 52 or higher crashes the game, and a value of 50 or lower causes the game to glitch or render incorrectly depending on what value is used. For these reasons, the value cannot be changed in the editor.</li>
	<li class="list-disc">The player always spawns in the middle (tile 25x25).</li>
	<li class="list-disc">Tiles are 4 by 4 units in length and width.</li>
	<li class="list-disc">The arena shrinks in size as time goes on. The default shrink start radius is 50 units and the default shrink end radius is 20 units. The default shrink rate is 0.025. This means the default arena reaches the end radius at 1200 seconds, because (50-20)/0.025 = 1200. (Even though the last tiles actually fall down at around 1187 seconds, the shrinking technically continues for about 13 seconds, it's just that no tiles are affected by it.)</li>
	<li class="list-disc">The default tile height is height 0.</li>
	<li class="list-disc">Tiles will fall down when their height is below -1.</li>
	<li class="list-disc">The tile at coordinate 1x0 is always invisible for some reason, but you can still walk on it.</li>
	<li class="list-disc">Enemies and gems do not react to different tile heights. Only the player, the daggers, and some effects do (like @MarkupUtils.EnemyString(EnemiesV3_2.Thorn) spawn smokes, meat chunks, etc).</li>
	<li class="list-disc">The tiles have infinitely long "hitboxes" (there are no actual hitboxes, things just collide with the tile based on its height).</li>
	<li class="list-disc">The texture only covers the top of the tile. You can however work around this by using mods that change the pillar mesh.</li>
</ul>

<p class="para">
	Changing the arena in the editor is quite simple. Use the colored buttons in the bottom left of the arena section to select a tile height, and then simply click on a tile to change its height to the selected height.
</p>

<img src="/images/tools/ddse-arena.png" class="object-contain max-h-160" />

<p class="para">
	Use the two buttons to the right of the squared buttons to select or deselect multiple tiles, rather than change their heights. Combine this with the three buttons under the selection buttons to change the selection mode to <b>continuous</b> or <b>rectangle</b> to easily select a lot of tiles.
</p>

<img src="/images/tools/ddse-multiple-tile-selection.png" class="object-contain max-h-160" />

<p class="para">
	You can change the tile heights of one or more tiles to a specific height using the right mouse button.
</p>

<img src="/images/tools/ddse-arena-right-click.png" class="object-contain max-h-160" />

<p class="para">
	You can also change the tile heights of one or more tiles using the scroll wheel. Hold <span class="code">Ctrl</span> while using the scroll wheel to increment/decrement the value by 0.1 rather than 1.
</p>

<p class="para">
	Using the arena settings in the top right of the editor you can change the shrinking controls. The shrink start value is displayed as the blue circle on the arena, and the shrink end value is displayed as the red circle. The green circle displays the currently active shrink radius based on the shrink preview slider.
</p>

<img src="/images/tools/ddse-arena-shrink-preview.png" class="object-contain max-h-160" />

<Heading Title="Changing The Settings" Level="2" />

<p class="para">
	In the middle of the editors are some settings you can change. These are:
</p>

<ul class="pl-4">
	<li class="list-disc"><b>The spawnset version</b>; you can leave this at the default unless you want to create a spawnset for an older version of the game.</li>
	<li class="list-disc">
		<b>The game mode</b>; there are two other (legacy) game modes available in the editor which are <b>Time Attack</b> and <b>Race</b>.
		<ul class="pl-4">
			<li class="list-disc">The goal in <b>Time Attack</b> is to kill all the enemies as soon as possible. The player completes the spawnset after that. Note that there is no end loop in this game mode.</li>
			<li class="list-disc">The goal in <b>Race</b> is simply to grab the dagger that's located somewhere on the arena. This game mode also doesn't have an end loop.</li>
		</ul>
	</li>
	<li class="list-disc"><b>The player settings (initial hand and additional gems/homing)</b>; these are given to the player when the run starts. The editor shows the effective player settings under the text boxes, since you can't have @MarkupUtils.UpgradeString(UpgradesV3_2.Level1) with 70 additional gems for example (this is interpreted by the game as @MarkupUtils.UpgradeString(UpgradesV3_2.Level3) with 0 additional homing).</li>
	<li class="list-disc"><b>The initial timer start value</b>; useful for practice (for example when starting at the @MarkupUtils.EnemyString(EnemiesV3_2.Gigapede) section in the real game, the timer start value can be set to 259 to make the spawn times match with the real game). Note that this value does not affect anything other than the displayed time. The "real" timer will always start at 0 regardless of this setting.</li>
</ul>

<p class="para">
	That's it! If you need inspiration or want to try existing spawnsets made by the community, check out the ones listed on <a class="link" href="/custom/spawnsets">this page</a>.
</p>
