@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment environment
@inject IToolHelper toolHelper
@using DevilDaggersWebsite.Dto
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersWebsite.Transients
@using System.IO
@{
	Tool tool = toolHelper.GetToolByName("DevilDaggersSurvivalEditor");
	ViewData["Title"] = tool.DisplayName;
	string downloadFileName = $"{tool.Name}{tool.VersionNumber}.zip";
	FileInfo downloadFileInfo = new(System.IO.Path.Combine(environment.WebRootPath, "tools", tool.Name, downloadFileName));
	string runtimeUrl = ToolRuntimeUtils.GetRuntimeUrl("5.0");
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		Devil Daggers Survival Editor is a tool that lets you create, view, and edit spawnsets.
	</p>

	@await Html.PartialAsync("Partials/ToolInfoPartial", (tool, downloadFileInfo))

	<p>
		<img class="img-responsive image-narrow" src="~/images/Tools/@(tool.Name).png" />
	</p>

	<h2>Main features</h2>
	<ul>
		<li>Spawnset editor</li>
		<li>Arena editor with the ability to change tile heights</li>
		<li>Arena presets</li>
		<li>Shrink preview that shows a rough approximation of what the arena will be like at what time during the spawnset</li>
		<li>Easily replacing the currently active spawnset in the game</li>
		<li>Downloading and importing spawnsets directly from the website</li>
	</ul>

	<h2>System requirements</h2>
	<ul>
		<li>Microsoft Windows</li>
		<li><a href="@runtimeUrl">@ToolRuntimeUtils.DesktopRuntimeNameDotNet50</a> (x64 for 64-bit systems, x86 for 32-bit systems)</li>
	</ul>

	<h2>Installation</h2>
	<ol>
		<li>Make sure to install <a href="@runtimeUrl">@ToolRuntimeUtils.DesktopRuntimeNameDotNet50</a> before running the program.</li>
		<li>Download the .zip file.</li>
		<li>Unzip its contents.</li>
		<li>Run the executable (.exe file) inside the folder.</li>
	</ol>

	@await Html.PartialAsync("Partials/ToolSourcePartial", tool)
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/tools.css' asp-append-version="true" />
}
