@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@inject DevilDaggersWebsite.Transients.ToolHelper toolHelper
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Dto
@using System.IO
@{
	Tool tool = toolHelper.GetToolByName("DevilDaggersAssetEditor");
	ViewData["Title"] = tool.DisplayName;
	string downloadFileName = $"{tool.Name}{tool.VersionNumber}.zip";
	FileInfo downloadFileInfo = new(System.IO.Path.Combine(env.WebRootPath, "tools", tool.Name, downloadFileName));
	const string runtimeUrl = "https://dotnet.microsoft.com/download/dotnet/5.0";
	const string runtimeName = ".NET Desktop Runtime 5.0.x (x64)";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		Devil Daggers Asset Editor is a tool that can be used to create asset mods for Devil Daggers.
	</p>

	<p>
		<img class="img-responsive image-narrow" src="~/images/Tools/@(tool.Name).png" />
	</p>

	<p>
		Current version: @(tool.VersionNumber)<br />
		Oldest supported version: @(tool.VersionNumberRequired)<br />
		File size: @(Math.Round(downloadFileInfo.Length / 1024f).ToString()) KB<br />
		<a class="btn dont-break-out" href="/api/tools/@tool.Name/file">Download</a>
	</p>

	<h2>Main features</h2>
	<ul>
		<li>
			Extracting and compressing asset types
			<ul>
				<li>Audio</li>
				<li>Models</li>
				<li>Model bindings</li>
				<li>Particles</li>
				<li>Shaders</li>
				<li>Textures</li>
			</ul>
		</li>

		<li>
			Extracting and compressing binary files
			<ul>
				<li>res/audio</li>
				<li>res/dd</li>
				<li>core/core</li>
				<li>dd/particle</li>
			</ul>
		</li>
	</ul>

	<h2>System requirements</h2>
	<ul>
		<li>Microsoft Windows (64-bit)</li>
		<li><a href="@runtimeUrl">@runtimeName</a></li>
	</ul>

	<h2>Installation</h2>
	<ol>
		<li>Make sure to install <a href="@runtimeUrl">@runtimeName</a>.</li>
		<li>Download the .zip file.</li>
		<li>Unzip its contents.</li>
		<li>Run the executable (.exe file) inside the folder.</li>
	</ol>

	<h2>Source code</h2>
	<p>
		The source code can be found on <a target="_blank" href="@UrlUtils.SourceCodeUrl(tool.Name)">GitHub</a>.
	</p>

	<h2>Changelog</h2>
	@tool.ToChangelogHtmlString()
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/tools.css' />
}
