@page
@model DevilDaggersWebsite.Razor.Pages.Admin.Players.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-route-sortMemberName="Id">@Html.DisplayNameFor(model => model.Players[0].Id)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="PlayerName">@Html.DisplayNameFor(model => model.Players[0].PlayerName)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="IsAnonymous">@Html.DisplayNameFor(model => model.Players[0].IsAnonymous)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="CountryCode">@Html.DisplayNameFor(model => model.Players[0].CountryCode)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Dpi">@Html.DisplayNameFor(model => model.Players[0].Dpi)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="InGameSens">@Html.DisplayNameFor(model => model.Players[0].InGameSens)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Fov">@Html.DisplayNameFor(model => model.Players[0].Fov)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="RightHanded">@Html.DisplayNameFor(model => model.Players[0].RightHanded)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="FlashEnabled">@Html.DisplayNameFor(model => model.Players[0].FlashEnabled)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Gamma">@Html.DisplayNameFor(model => model.Players[0].Gamma)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="IsBanned">@Html.DisplayNameFor(model => model.Players[0].IsBanned)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="BanDescription">@Html.DisplayNameFor(model => model.Players[0].BanDescription)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="BanResponsibleId">@Html.DisplayNameFor(model => model.Players[0].BanResponsibleId)</a>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Players)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PlayerName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsAnonymous)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CountryCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Dpi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InGameSens)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fov)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RightHanded)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FlashEnabled)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Gamma)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsBanned)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BanDescription)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BanResponsibleId)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
