@page
@using DevilDaggersWebsite.Clients
@using DevilDaggersWebsite.Dto.Players
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Utils
@using System.Reflection
@inject DevilDaggersInfoClient Http
@model AdminEntityIndexPageModel<Player>
@{
	ViewData["Title"] = "Players";

	PropertyInfo[] properties = ReflectionUtils.GetDtoDisplayPropertyInfos<GetPlayer>();
}

<h1>@ViewData["Title"]</h1>

<p>Notes</p>
<ul>
	<li>BanResponsibleId refers to the player who boosted that account, or in case of an alt, who the alt belongs to. Leave empty if unknown.</li>
</ul>

<a asp-page="CreateOrEdit">Create New</a>
<table class="table admin-table">
	<thead>
		<tr>
			@foreach (var pi in properties)
			{
				<th><a asp-route-sortOrder="@pi.Name">@pi.Name</a></th>
			}
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (GetPlayer dto in await Http.GetAsync<GetPlayer[]>("api/players"))
		{
			<tr>
				@foreach (var pi in properties)
				{
					<td>@ReflectionUtils.GetDtoPropertyDisplayValue(pi, dto)</td>
				}
				<td>
					<a asp-page="CreateOrEdit" asp-route-id="@dto.Id">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@dto.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' asp-append-version="true" />
}
