@page
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Entities
@model AdminEntityIndexPageModel<Player>
@{
	ViewData["Title"] = "Players";
}

<h2>@ViewData["Title"]</h2>

<p>Notes</p>
<ul>
	<li>Player Settings for a player are only displayed when the DPI property is given a value.</li>
	<li>BanResponsibleId refers to the player who boosted that account, or in case of an alt, who the alt belongs to. Leave empty if unknown.</li>
</ul>

<a asp-page="CreateOrEdit">Create New</a>
<table class="table admin-table">
	<thead>
		<tr>
			@foreach (var pi in Model.EntityDisplayProperties)
			{
				<th>@pi.Name</th>
			}
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var entity in Model.DbSet)
		{
			<tr>
				@foreach (var pi in Model.EntityDisplayProperties)
				{
					<td>@Model.GetString(pi, entity)</td>
				}
				<td>
					<a asp-page="CreateOrEdit" asp-route-id="@entity.Id">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@entity.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' />
}
