@using DevilDaggersInfo.Razor.SurvivalEditor.Store.State
@using DevilDaggersInfo.Core.Spawnset.View
@using DevilDaggersInfo.Types.Core.Wiki
@using Fluxor
@inject IState<SpawnsListState> SpawnsListState
@inherits FluxorComponent

<h2>Spawns</h2>

<div class="grid grid-cols-5">
	<div class="font-bold">#</div>
	<div class="font-bold">Time</div>
	<div class="font-bold">Enemy</div>
	<div class="font-bold">No farm gems</div>
	<div class="font-bold">Total gems/homing</div>
	
	@{
		int i = 0;
	}
	
	@foreach (SpawnView v in SpawnsListState.Value.SpawnsView.PreLoop)
	{
		<div>@(i++)</div>
		<div>@(v.Seconds.ToString("0.0000"))</div>
		<div>@v.EnemyType</div>
		<div>@v.NoFarmGems</div>
		<div>@v.GemState.Value</div>
	}
</div>
