@typeparam TGetDto
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Reflection

<h1>@Title</h1>

<ResultBar Title="Failed to retrieve overview" Type="danger" @bind-Message="@_errorMessage" />

@if (_page == null)
{
	<Loading />
}
else
{
	<Deletion AfterDelete="Fetch" ApiRoute="@ApiRoute" @ref="_deletion" />

	<a class="btn btn-primary" href="@($"{NavigationManager.Uri}/add")">Add new</a>
	<button class="btn" @onclick="() => ChangePageIndex(_pageIndex - 1)">Previous</button>
	<button class="btn" @onclick="() => ChangePageIndex(_pageIndex + 1)">Next</button>
	<Select @onchange="ChangePageSize">
		@foreach (int i in new[] { 5, 10, 15, 25, 50 })
		{
			if (i == 25)
			{
				<option value="@i" selected>@i</option>
			}
			else
			{
				<option value="@i">@i</option>
			}
		}
	</Select>
	<label>Page @_pageIndex of @TotalPages (@(_pageIndex * _pageSize) - @Math.Min(_page.TotalResults, (_pageIndex + 1) * _pageSize) of @_page.TotalResults)</label>

	<table class="table">
		<thead>
			<tr>
				@foreach (PropertyInfo pi in _properties)
				{
					<th>@pi.Name</th>
				}
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (TGetDto result in _page.Results)
			{
				<tr>
					@foreach (PropertyInfo pi in _properties)
					{
						<td>@ReflectionUtils.GetDtoPropertyDisplayValue(pi, result)</td>
					}
					<td><a href="@($"{NavigationManager.Uri}/edit/{result.Id}")">Edit</a></td>
					<td><a href="" @onclick="() => _deletion?.Set(result.Id)" @onclick:preventDefault>Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
}

@code
{
	[Parameter] public string Title { get; set; } = null!;
	[Parameter] public string ApiRoute { get; set; } = null!;

	public int TotalPages => _page == null ? 0 : (_page.TotalResults - 1) / _pageSize;

	private int _pageIndex;
	private int _pageSize = 25;

	private Page<TGetDto>? _page;
	private string? _errorMessage;
	private PropertyInfo[] _properties = ReflectionUtils.GetDtoDisplayPropertyInfos<TGetDto>();

	private Deletion? _deletion;

	protected override async Task OnInitializedAsync()
	{
		await Fetch();
	}

	private async Task ChangePageIndex(int pageIndex)
	{
		_pageIndex = Math.Clamp(pageIndex, 0, TotalPages);
		await Fetch();
	}

	private async Task ChangePageSize(ChangeEventArgs e)
	{
		_ = int.TryParse(e.Value?.ToString(), out _pageSize);
		_pageIndex = Math.Clamp(_pageIndex, 0, TotalPages);

		await Fetch();
	}

	private async Task Fetch()
	{
		try
		{
			_page = await Http.GetFromJsonAsync<Page<TGetDto>>($"{ApiRoute}?pageIndex={_pageIndex}&pageSize={_pageSize}");
			_errorMessage = null;
			StateHasChanged();
		}
		catch (HttpRequestException ex)
		{
			if (ex.StatusCode.HasValue)
				_errorMessage = $"Error {(int)ex.StatusCode}: {ex.StatusCode}";
			else
				_errorMessage = "An error occurred while sending the request.";
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}
}
