@typeparam TGetDto
@typeparam TKey
@inject AdminApiHttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.ComponentModel.DataAnnotations
@using System.Reflection

<h1 class="text-red text-2xl">@Title</h1>

@if (_errorMessage != null)
{
	<ResultBar Title="Failed to retrieve overview" ResultBarType="ResultBarType.FatalError" DismissEvent="Dismiss">
		@_errorMessage
	</ResultBar>
}

@if (_page == null)
{
	<Loading />
}
else
{
	<Deletion TKey="TKey" AfterDelete="Fetch" ApiRoute="@ApiRoute" @ref="_deletion" />

	<a class="inline-block bg-gray-900 hover:bg-gray-700 transition-colors duration-100 w-20 h-8 py-1 rounded text-color-text text-center" href="@($"{NavigationManager.Uri}/add")">Add new</a>
	<button class="bg-gray-900 hover:bg-gray-700 transition-colors duration-100 w-8 h-8 py-1 rounded text-color-text" @onclick="() => ChangePageIndex(0)">|&lt;</button>
	<button class="bg-gray-900 hover:bg-gray-700 transition-colors duration-100 w-8 h-8 py-1 rounded text-color-text" @onclick="() => ChangePageIndex(_pageIndex - 1)">&lt;</button>
	<button class="bg-gray-900 hover:bg-gray-700 transition-colors duration-100 w-8 h-8 py-1 rounded text-color-text" @onclick="() => ChangePageIndex(_pageIndex + 1)">&gt;</button>
	<button class="bg-gray-900 hover:bg-gray-700 transition-colors duration-100 w-8 h-8 py-1 rounded text-color-text" @onclick="() => ChangePageIndex(TotalPages - 1)">&gt;|</button>
	<Select @onchange="ChangePageSize" class="bg-gray-900 transition-colors duration-100 h-8 py-1 rounded text-color-text">
		@foreach (int i in AdminPagingConstants.PageSizeOptions)
		{
			if (i == AdminPagingConstants.PageSizeDefault)
			{
				<option value="@i" selected>@i</option>
			}
			else
			{
				<option value="@i">@i</option>
			}
		}
	</Select>
	<div class="p-1">Page @(_pageIndex + 1) of @TotalPages (@(_pageIndex * _pageSize) - @Math.Min(_page.TotalResults, (_pageIndex + 1) * _pageSize) of @_page.TotalResults)</div>

	<div class="grid gap-2 grid-cols-@GridConfiguration">
		@foreach (KeyValuePair<PropertyInfo, bool> pi in _properties)
		{
			string name = (pi.Key.GetCustomAttribute(typeof(DisplayAttribute)) as DisplayAttribute)?.Name ?? pi.Key.Name;
			<a class="@(pi.Value ? "text-right" : "text-left") overflow-x-hidden text-color-link hover:text-color-link-hover" href="" @onclick="() => Sort(pi.Key.Name)" @onclick:preventDefault>@name</a>
		}
		<div></div>
		<div></div>
	</div>
	<div>
		@{
			int j = 0;
			foreach (TGetDto result in _page.Results)
			{
				<div class="grid gap-2 grid-cols-@GridConfiguration @(j++ % 2 == 0 ? "bg-gray0B" : string.Empty)">
					@foreach (KeyValuePair<PropertyInfo, bool> pi in _properties)
					{
						<div class="overflow-x-hidden @(pi.Value ? "text-right" : "text-left")">@ReflectionUtils.GetDtoPropertyDisplayValue(pi.Key, result)</div>
					}
					<div><a class="text-color-link hover:text-color-link-hover" href="@($"{NavigationManager.Uri}/edit/{result.Id}")">Edit</a></div>
					<div><a class="text-color-link hover:text-color-link-hover" href="" @onclick="() => _deletion?.Set(result.Id)" @onclick:preventDefault>Delete</a></div>
				</div>
			}
		}
	</div>
}

@code
{
	[Parameter] public string Title { get; set; } = null!;
	[Parameter] public string ApiRoute { get; set; } = null!;
	[Parameter] public string GridConfiguration { get; set; } = null!;

	private int TotalPages => _page == null ? 0 : (_page.TotalResults - 1) / _pageSize + 1;

	private int _pageIndex;
	private int _pageSize = AdminPagingConstants.PageSizeDefault;
	private string? _sortBy;
	private bool _ascending = true;

	private Page<TGetDto>? _page;
	private string? _errorMessage;
	private Dictionary<PropertyInfo, bool> _properties = ReflectionUtils.GetDtoDisplayProperties<TGetDto>();
	private Dictionary<string, bool> _sortings = null!;

	private Deletion<TKey>? _deletion;

	protected override async Task OnInitializedAsync()
	{
		_sortings = _properties.ToDictionary(pi => pi.Key.Name, _ => true);
		await Fetch();
	}

	private async Task ChangePageIndex(int pageIndex)
	{
		_pageIndex = Math.Clamp(pageIndex, 0, TotalPages - 1);
		await Fetch();
	}

	private async Task ChangePageSize(ChangeEventArgs e)
	{
		_ = int.TryParse(e.Value?.ToString(), out _pageSize);
		_pageIndex = Math.Clamp(_pageIndex, 0, TotalPages - 1);
		await Fetch();
	}

	private async Task Sort(string propertyName)
	{
		_sortBy = propertyName;
		_sortings[propertyName] = !_sortings[propertyName];
		_ascending = _sortings[propertyName];
		await Fetch();
	}

	private async Task Fetch()
	{
		try
		{
			_page = await Http.Client.GetFromJsonAsync<Page<TGetDto>>($"{ApiRoute}?pageIndex={_pageIndex}&pageSize={_pageSize}&sortBy={_sortBy}&ascending={_ascending}");
			_errorMessage = null;
			StateHasChanged();
		}
		catch (HttpRequestException ex)
		{
			if (ex.StatusCode.HasValue)
				_errorMessage = $"Error {(int)ex.StatusCode}: {ex.StatusCode}";
			else
				_errorMessage = "An error occurred while sending the request.";
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	private void Dismiss()
	{
		_errorMessage = null;
		StateHasChanged();
	}
}
