@typeparam TGetDto
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net
@using System.Reflection

<h1>@Title</h1>

<ResultBar Title="Failed to retrieve overview" Type="danger" @bind-Message="@_errorMessage" />

@if (results == null)
{
	<Loading />
}
else
{
	<a class="btn btn-primary" href="@($"{NavigationManager.Uri}/add")">Add new</a>

	switch (_deletion.State)
	{
		case DeleteState.Confirm:
			{
				<p>Are you sure you want to delete entity with ID @_deletion.IdToDelete?</p>
				<button class="btn btn-danger" @onclick="ConfirmDelete">Delete permanently</button>
				<button class="btn btn-primary" @onclick="_deletion.Cancel">Cancel</button>
			}
			break;
		case DeleteState.Error:
			{
				<ResultBar Title="Delete failed" Type="danger" @bind-Message="@_deletion.ApiResponse" DismissEvent="_deletion.Cancel" />
			}
			break;
		case DeleteState.Ok:
			{
				<ResultBar Type="success" Message="Successfully deleted." DismissEvent="_deletion.Cancel" />
			}
			break;
	}

	<table class="table">
		<thead>
			<tr>
				@foreach (PropertyInfo pi in _properties)
				{
					<th>@pi.Name</th>
				}
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (TGetDto result in results)
			{
				<tr>
					@foreach (PropertyInfo pi in _properties)
					{
						<td>@ReflectionUtils.GetDtoPropertyDisplayValue(pi, result)</td>
					}
					<td><a href="@($"{NavigationManager.Uri}/edit/{result.Id}")">Edit</a></td>
					<td><a href="" @onclick="() => _deletion.Set(result.Id)" @onclick:preventDefault>Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
}

@code
{
	[Parameter] public string Title { get; set; } = null!;

	[Parameter] public string ApiRoute { get; set; } = null!;

	private TGetDto[]? results;
	private string? _errorMessage;
	private PropertyInfo[] _properties = Array.Empty<PropertyInfo>();

	private Deletion _deletion = new();

	protected override async Task OnInitializedAsync()
	{
		_properties = ReflectionUtils.GetDtoDisplayPropertyInfos<TGetDto>();

		await Fetch();
	}

	private async Task Fetch()
	{
		try
		{
			results = await Http.GetFromJsonAsync<TGetDto[]>(ApiRoute);
			_errorMessage = null;
		}
		catch (HttpRequestException ex)
		{
			if (ex.StatusCode.HasValue)
				_errorMessage = $"Error {(int)ex.StatusCode}: {ex.StatusCode}";
			else
				_errorMessage = "An error occurred while sending the request.";
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	private async Task ConfirmDelete()
	{
		try
		{
			HttpResponseMessage hrm = await Http.DeleteAsync($"{ApiRoute}/{_deletion.IdToDelete}");
			if (hrm.StatusCode == HttpStatusCode.OK)
			{
				_deletion.State = DeleteState.Ok;

				await Fetch();
			}
			else
			{
				_deletion.State = DeleteState.Error;
				_deletion.ApiResponse = await hrm.Content.ReadAsStringAsync();
			}
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	private class Deletion
	{
		public DeleteState State { get; set; }
		public int? IdToDelete { get; set; }
		public string? ApiResponse { get; set; }

		public void Set(int id)
		{
			State = DeleteState.Confirm;
			IdToDelete = id;
		}

		public void Cancel()
		{
			State = DeleteState.None;
			IdToDelete = null;
		}
	}

	private enum DeleteState
	{
		None = 0,
		Confirm = 1,
		Ok = 2,
		Error = 3,
	}
}
