@page "/wiki/assets"
@inject PublicApiHttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersInfo.Core.Asset

<Heading Title="Game Assets" />

<Paragraph>
	This page lists all the game's assets. Assets can be extracted using <a href="tools/asset-editor">Devil Daggers Asset Editor</a>.
</Paragraph>

<Heading Title="Audio Assets" Level="2" />
<div class="bg-gray-22 grid gap-3 grid-cols-3">
	<div>Asset</div>
	<div>Prohibited</div>
	<div>Loudness</div>
</div>
@foreach (AudioAssetData audio in AudioAudio.All)
{
	<div class="grid gap-3 grid-cols-3 odd:bg-gray-16">
		<div class="break-all">@audio.AssetName</div>
		<div>@(audio.IsProhibited ? "Yes" : "No")</div>
		<div>@(audio.PresentInDefaultLoudness ? audio.DefaultLoudness.ToString("0.0") : "N/A (1.0)")</div>
	</div>
}

<Heading Title="Model Assets" Level="2" />
<div class="bg-gray-22 grid gap-3 grid-cols-4">
	<div>Asset</div>
	<div>Prohibited</div>
	<div>Indices</div>
	<div>Vertices</div>
</div>
@foreach (ModelAssetData model in DdModels.All)
{
	<div class="grid gap-3 grid-cols-4 odd:bg-gray-16">
		<div class="break-all">@model.AssetName</div>
		<div>@(model.IsProhibited ? "Yes" : "No")</div>
		<div>@model.DefaultIndexCount</div>
		<div>@model.DefaultVertexCount</div>
	</div>
}

<Heading Title="Model Binding Assets" Level="2" />
<div class="bg-gray-22 grid gap-3 grid-cols-2">
	<div>Asset</div>
	<div>Prohibited</div>
</div>
@foreach (ModelBindingAssetData modelBinding in DdModelBindings.All)
{
	<div class="grid gap-3 grid-cols-2 odd:bg-gray-16">
		<div class="break-all">@modelBinding.AssetName</div>
		<div>@(modelBinding.IsProhibited ? "Yes" : "No")</div>
	</div>
}

<Heading Title="Shader Assets (core)" Level="2" />
<div class="bg-gray-22 grid gap-3 grid-cols-2">
	<div>Asset</div>
	<div>Prohibited</div>
</div>
@foreach (ShaderAssetData shader in CoreShaders.All)
{
	<div class="grid gap-3 grid-cols-2 odd:bg-gray-16">
		<div class="break-all">@shader.AssetName</div>
		<div>@(shader.IsProhibited ? "Yes" : "No")</div>
	</div>
}

<Heading Title="Shader Assets (dd)" Level="2" />
<div class="bg-gray-22 grid gap-3 grid-cols-2">
	<div>Asset</div>
	<div>Prohibited</div>
</div>
@foreach (ShaderAssetData shader in DdShaders.All)
{
	<div class="grid gap-3 grid-cols-2 odd:bg-gray-16">
		<div class="break-all">@shader.AssetName</div>
		<div>@(shader.IsProhibited ? "Yes" : "No")</div>
	</div>
}

<Heading Title="Texture Assets" Level="2" />
<div class="bg-gray-22 grid gap-3 grid-cols-6">
	<div>Asset</div>
	<div>Prohibited</div>
	<div>Width</div>
	<div>Height</div>
	<div>For model</div>
	<div>Binding</div>
</div>
@foreach (TextureAssetData texture in DdTextures.All)
{
	<div class="grid gap-3 grid-cols-6 odd:bg-gray-16">
		<div class="break-all">@texture.AssetName</div>
		<div>@(texture.IsProhibited ? "Yes" : "No")</div>
		<div>@texture.DefaultWidth</div>
		<div>@texture.DefaultHeight</div>
		<div>@(texture.IsModelTexture ? "Yes" : "No")</div>
		<div class="break-all">@texture.ModelBinding</div>
	</div>
}
