@page "/wiki/daggers"

<Heading>Daggers</Heading>

<p>
	There are 6 different types of daggers in Devil Daggers. These daggers do not change anything in-game, they're more like extras that you unlock as you progress. You pick them up in the dagger lobby, and then the game starts. Each dagger makes a different sound.
</p>

<div class="grid gap-4 xl:grid-cols-4 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1">
	@foreach (Dagger dagger in Daggers.GetDaggers(GameVersion.V3_1))
	{
		<div>
			<div>
				<div class="@dagger.Name.ToLower()">@dagger.Name Dagger</div>
				Unlocks at <span class="@dagger.Name.ToLower()">@(dagger.UnlockSecond == 0 ? "N/A" : dagger.UnlockSecond.ToString())</span> @(dagger.UnlockSecond != 0 ? " seconds" : "")
				@*TODO: Mention that levi dagger was added in V3.1.*@
			</div>
			<div>
				<img src='~/Images/Daggers/@(dagger.Name).png' />
			</div>
		</div>
	}
</div>
