@page "/wiki/daggers"

<Heading>Daggers</Heading>

<Paragraph>
	There are 6 different types of daggers in Devil Daggers. These daggers do not change anything in-game, they're more like extras that you unlock as you progress. You pick them up in the dagger lobby, and then the game starts. Each dagger makes a different sound.
</Paragraph>

<div class="pt-4 grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
	@foreach (Dagger dagger in Daggers.GetDaggers(GameVersion.V3_2))
	{
		<div>
			<div class="font-goethe text-xl @dagger.Name.ToLower()">@dagger.Name Dagger</div>
			Unlocks at <span class="@dagger.Name.ToLower()">@(dagger.UnlockSecond == 0 ? "N/A" : dagger.UnlockSecond.ToString())</span> @(dagger.UnlockSecond != 0 ? " seconds" : "")
			@*TODO: Mention that levi dagger was added in V3.1.*@
			<img src='images/wiki/daggers/@(dagger.Name.ToLower()).png' />
		</div>
	}
</div>
