@page "/wiki/upgrades"

<Heading Title="Upgrades" />

<Paragraph>
	There are 4 different types of hand levels in Devil Daggers. You unlock the first two hands by collecting gems, and the last one by collecting homing daggers.
</Paragraph>
<Paragraph>
	Each upgrades makes the player significantly more powerful by increasing the amount of daggers fired. @MarkupUtils.UpgradeString(UpgradesV3_2.Level3) and @MarkupUtils.UpgradeString(UpgradesV3_2.Level4) also enable homing daggers. Upgrades do not make the dagger jumps higher or increase shot speed.
</Paragraph>
<Paragraph>
	@MarkupUtils.UpgradeString(UpgradesV3_2.Level4) was added in V2.
</Paragraph>

<div class="grid gap-4 xl:grid-cols-4 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1">
	@foreach (Upgrade upgrade in Upgrades.GetUpgrades(GameConstants.CurrentVersion))
	{
		<div class="p-2 border-2" style="@($"border-color: {upgrade.Color.HexCode};")">
			<div>@MarkupUtils.UpgradeString(upgrade)</div>
			<div>@(upgrade.UpgradeUnlock.Value == 0 ? "The player starts with this hand" : $"Unlocks at {upgrade.UpgradeUnlock}")</div>
			<div class="grid grid-cols-2">
				<div>Default spray</div>
				<div class="text-right">@upgrade.DefaultDamage.DaggersPerSpraySecond daggers per second</div>
				<div>Default shot</div>
				<div class="text-right">@upgrade.DefaultDamage.DaggersPerShot daggers per shot</div>
				<div>Homing spray</div>
				<div class="text-right">@(!upgrade.HomingDamage.HasValue ? MarkupUtils.NoDataMarkup : new MarkupString($"{upgrade.HomingDamage.Value.DaggersPerSpraySecond} daggers per second"))</div>
				<div>Homing shot</div>
				<div class="text-right">@(!upgrade.HomingDamage.HasValue ? MarkupUtils.NoDataMarkup : new MarkupString($"{upgrade.HomingDamage.Value.DaggersPerShot} daggers per shot"))</div>
			</div>
			<img src='images/wiki/upgrades/@(upgrade.Name.ToLower().Replace(' ', '-')).png' />
		</div>
	}
</div>
