@page "/wiki/assets"
@using DevilDaggersInfo.Core.Asset
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Utils

<Heading Title="Game Assets" />

<p class="para">
	This page lists all the game's assets. Assets can be extracted and modified using <a class="link" href="tools/asset-editor">Devil Daggers Asset Editor</a>.
</p>

<Heading Title="Audio Assets" Level="2" />
<div class="bg-gray-3 grid gap-3 grid-cols-3">
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _audioAudio, _audioAudioSortings, aad => aad.AssetName)">Asset</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _audioAudio, _audioAudioSortings, aad => aad.IsProhibited)">Prohibited for 1000+</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _audioAudio, _audioAudioSortings, aad => aad.DefaultLoudness)">Loudness</a></div>
</div>
@foreach (AudioAssetInfo audio in _audioAudio)
{
	<div class="grid gap-3 grid-cols-3 odd:bg-gray-2">
		<div class="break-all">@audio.AssetName</div>
		<div>@MarkupUtils.ProhibitedString(audio.IsProhibited)</div>
		<div>@(audio.PresentInDefaultLoudness ? audio.DefaultLoudness.ToString("0.0") : "N/A (1.0)")</div>
	</div>
}

<Heading Title="Mesh Assets" Level="2" />
<div class="bg-gray-3 grid gap-3 grid-cols-4">
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddMeshes, _ddMeshesSortings, mad => mad.AssetName)">Asset</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddMeshes, _ddMeshesSortings, mad => mad.IsProhibited)">Prohibited for 1000+</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddMeshes, _ddMeshesSortings, mad => mad.DefaultIndexCount)">Indices</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddMeshes, _ddMeshesSortings, mad => mad.DefaultVertexCount)">Vertices</a></div>
</div>
@foreach (MeshAssetInfo mesh in _ddMeshes)
{
	<div class="grid gap-3 grid-cols-4 odd:bg-gray-2">
		<div class="break-all">@mesh.AssetName</div>
		<div>@MarkupUtils.ProhibitedString(mesh.IsProhibited)</div>
		<div>@mesh.DefaultIndexCount</div>
		<div>@mesh.DefaultVertexCount</div>
	</div>
}

<Heading Title="Object Binding Assets" Level="2" />
<div class="bg-gray-3 grid gap-3 grid-cols-2">
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddObjectBindings, _ddObjectBindingsSortings, mbad => mbad.AssetName)">Asset</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddObjectBindings, _ddObjectBindingsSortings, mbad => mbad.IsProhibited)">Prohibited for 1000+</a></div>
</div>
@foreach (ObjectBindingAssetInfo objectBinding in _ddObjectBindings)
{
	<div class="grid gap-3 grid-cols-2 odd:bg-gray-2">
		<div class="break-all">@objectBinding.AssetName</div>
		<div>@MarkupUtils.ProhibitedString(objectBinding.IsProhibited)</div>
	</div>
}

<Heading Title="Shader Assets (core)" Level="2" />
<div class="bg-gray-3 grid gap-3 grid-cols-2">
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _coreShaders, _coreShadersSortings, sad => sad.AssetName)">Asset</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _coreShaders, _coreShadersSortings, sad => sad.IsProhibited)">Prohibited for 1000+</a></div>
</div>
@foreach (ShaderAssetInfo shader in _coreShaders)
{
	<div class="grid gap-3 grid-cols-2 odd:bg-gray-2">
		<div class="break-all">@shader.AssetName</div>
		<div>@MarkupUtils.ProhibitedString(shader.IsProhibited)</div>
	</div>
}

<Heading Title="Shader Assets (dd)" Level="2" />
<div class="bg-gray-3 grid gap-3 grid-cols-2">
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddShaders, _ddShadersSortings, sad => sad.AssetName)">Asset</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddShaders, _ddShadersSortings, sad => sad.IsProhibited)">Prohibited for 1000+</a></div>
</div>
@foreach (ShaderAssetInfo shader in _ddShaders)
{
	<div class="grid gap-3 grid-cols-2 odd:bg-gray-2">
		<div class="break-all">@shader.AssetName</div>
		<div>@MarkupUtils.ProhibitedString(shader.IsProhibited)</div>
	</div>
}

<Heading Title="Texture Assets" Level="2" />
<div class="bg-gray-3 grid gap-3 grid-cols-6">
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddTextures, _ddTexturesSortings, tad => tad.AssetName)">Asset</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddTextures, _ddTexturesSortings, tad => tad.IsProhibited)">Prohibited for 1000+</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddTextures, _ddTexturesSortings, tad => tad.DefaultWidth)">Width</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddTextures, _ddTexturesSortings, tad => tad.DefaultHeight)">Height</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddTextures, _ddTexturesSortings, tad => tad.IsTextureForMesh)">For mesh</a></div>
	<div><a href="" @onclick:preventDefault class="link" @onclick="() => Sort(ref _ddTextures, _ddTexturesSortings, tad => tad.ObjectBinding)">Object binding</a></div>
</div>
@foreach (TextureAssetInfo texture in _ddTextures)
{
	<div class="grid gap-3 grid-cols-6 odd:bg-gray-2">
		<div class="break-all">@texture.AssetName</div>
		<div>@MarkupUtils.ProhibitedString(texture.IsProhibited)</div>
		<div>@texture.DefaultWidth</div>
		<div>@texture.DefaultHeight</div>
		<div>@(texture.IsTextureForMesh ? "Yes" : "No")</div>
		<div class="break-all">@texture.ObjectBinding</div>
	</div>
}
