@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Tools

<div class="bg-gray-1 max-w-sm">
	<DataField CssClass="px-1" Left="3" Name="Current version">@GetTool.VersionNumber</DataField>
	<DataField CssClass="px-1" Left="3" Name="Oldest supported version">@GetTool.VersionNumberRequired</DataField>
	<DataField CssClass="px-1" Left="3" Name="File size">@FileSizeUtils.Format(GetTool.FileSize)</DataField>
	<DataField CssClass="px-1" Left="3" Name="@($"Total downloads (since {FeatureConstants.TrackingToolDownloadCounts.ToString(FormatUtils.DateFormat)})")">@GetTool.Versions?.Sum(v => v.DownloadCount).ToString("N0")</DataField>

	<div class="px-1 py-2">
		<button class="btn btn-red px-2 py-1" href="/api/tools/@(GetTool.Name)/file" download="@_fileName" role="button" target="=_top">Download</button>
	</div>
</div>

@code
{
	[Parameter, EditorRequired] public GetTool GetTool { get; set; } = null!;

	private string? _fileName;

	protected override void OnInitialized()
	{
		_fileName = $"{GetTool.Name}{GetTool.VersionNumber}.zip";
	}
}
