@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Tools

<div class="bg-gray-22 max-w-sm">
	<BuildInfoEntry Name="Current version">@GetTool.VersionNumber</BuildInfoEntry>
	<BuildInfoEntry Name="Oldest supported version">@GetTool.VersionNumberRequired</BuildInfoEntry>
	<BuildInfoEntry Name="File size">@FileSizeUtils.Format(GetTool.FileSize)</BuildInfoEntry>
	<BuildInfoEntry Name="@($"Total downloads (since {FeatureConstants.TrackingToolDownloadCounts.ToString(FormatUtils.DateFormat)})")">@GetTool.Versions.Sum(v => v.DownloadCount).ToString("N0")</BuildInfoEntry>

	<div class="px-1 py-3">
		<a class="bg-dark-red hover:bg-red transition-colors duration-200 p-2 rounded text-color-text text-center text-xl font-goethe" href="/api/tools/@(GetTool.Name)/file" download="@_fileName" role="button" target="=_top">Download</a>
	</div>
</div>

@code
{
	[Parameter, EditorRequired] public GetTool GetTool { get; set; } = null!;

	private string? _fileName;

	protected override void OnInitialized()
	{
		_fileName = $"{GetTool.Name}{GetTool.VersionNumber}.zip";
	}
}
