@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Tools

<div class="grid gap-3 grid-cols-2">
	<div>Current version</div>
	<div>@GetTool.VersionNumber</div>

	<div>Oldest supported version</div>
	<div>@GetTool.VersionNumberRequired</div>
	
	<div>File size</div>
	<div>@FileSizeUtils.Format(GetTool.FileSize)</div>
	
	<div>Total downloads (since @(FeatureConstants.TrackingToolDownloadCounts.ToString(FormatUtils.DateFormat)))</div>
	<div>@GetTool.Versions.Sum(v => v.DownloadCount).ToString("N0")</div>
	
	<a class="bg-gray-900 hover:bg-gray-700 transition-colors duration-100 w-24 h-8 py-1 rounded text-color-text text-center" href="/api/tools/@(GetTool.Name)/file" download="@_fileName" role="button" target="=_top">Download</a>
</div>

@code
{
	[Parameter, EditorRequired] public GetTool GetTool { get; set; } = null!;

	private string? _fileName;

	protected override void OnInitialized()
	{
		_fileName = $"{GetTool.Name}{GetTool.VersionNumber}.zip";
	}
}
