@page
@using DevilDaggersCore.Game;
@model DevilDaggersWebsite.Razor.Pages.Wiki.DaggersModel
@{
	ViewData["Title"] = "Daggers";
	string boxShadow = "0 0px 2px 2px";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<form method="get">
		<select class="select form-control select-small" asp-for="GameVersion" asp-items="Model.GameVersionListItems" onchange="this.form.submit()"></select>
	</form>

	<p>
		There are @Model.Daggers.Count different types of daggers in Devil Daggers @Model.GetGameVersionName(Model.GameVersion). These daggers do not change anything in-game, they're more like extras that you unlock as you progress. You pick them up in the dagger lobby, and then the game starts. Each dagger makes a different sound.
	</p>

	<div class="row">
		@foreach (Dagger dagger in Model.Daggers)
		{
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="dagger" style="-webkit-box-shadow: @boxShadow #@(dagger.ColorCode); -moz-box-shadow: @boxShadow #@(dagger.ColorCode); box-shadow: @boxShadow #@(dagger.ColorCode);">
					<div>
						<div class="@dagger.Name.ToLower()">@dagger.Name Dagger</div>
						Unlocks at <span class="@dagger.Name.ToLower()">@(dagger.UnlockSecond == null ? "N/A" : dagger.UnlockSecond.ToString())</span> @(dagger.UnlockSecond != null ? " seconds" : "")
					</div>
					<div>
						<img class="img-responsive" src='~/Images/Daggers/@(dagger.Name).png' />
					</div>
				</div>
			</div>
		}
	</div>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/daggers.css' />
}
