@page
@model DevilDaggersWebsite.Pages.Admin.CustomLeaderboards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomLeaderboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.Category.LayoutPartialName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.SpawnsetFile.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.SpawnsetFile.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.Bronze)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.Bronze)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.Silver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.Silver)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.Golden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.Golden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.Devil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.Devil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.Homing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.Homing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.DateLastPlayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.DateLastPlayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomLeaderboard.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLeaderboard.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomLeaderboard.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>