@page
@model DevilDaggersWebsite.Pages.Admin.CustomLeaderboards.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-route-sortMemberName="Category">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].Category)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="SpawnsetFileName">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].SpawnsetFileName)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Bronze">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].Bronze)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Silver">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].Silver)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Golden">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].Golden)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Devil">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].Devil)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Homing">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].Homing)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="DateLastPlayed">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].DateLastPlayed)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="DateCreated">@Html.DisplayNameFor(model => model.CustomLeaderboards[0].DateCreated)</a>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.CustomLeaderboards)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Category.LayoutPartialName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SpawnsetFileName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Bronze)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Silver)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Golden)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Devil)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Homing)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateLastPlayed)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateCreated)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>