@inherits InputBase<List<int>>

<OutsideClickHandler OnClickOutside="OnClickOutside" CssClass="inline-block w-64 bg-gray-1 text-color-text cursor-pointer">
	<div>
		<div class="w-full" @onclick="e => _show = !_show"><span class="pl-2">@SelectedDisplayValue</span></div>
		@foreach (int id in CurrentValue ?? new())
		{
			<div class="grid grid-cols-8">
				<span class="pl-2 col-span-7 cursor-default">@DisplayValue(id)</span>
				<span class="w-8 cursor-pointer bg-gray-1 rounded block text-center" @onclick="e => Remove(id)">✕</span>
			</div>
		}
	</div>
	<div class="@(_show ? "absolute" : "hidden") z-10">
		<div class="bg-gray-1">
			<div class="p-2 w-64">
				<span class="cursor-default w-16">Search:</span>
				<InputTextImmediate @bind-Value="_searchValue" class="w-48 bg-gray-3 text-color-text" />
			</div>
			<ul class="max-h-screen-half overflow-y-scroll w-64">
				@{
					int i = 0;
					foreach (KeyValuePair<int, string> kvp in FilteredItems)
					{
						<li class="cursor-pointer pl-2 @(i++ % 2 == 0 ? "bg-gray-1" : string.Empty)" Item="@kvp" @onclick="e => Add(kvp.Key)">@DisplayValue(kvp.Key)</li>
					}
				}
			</ul>
		</div>
	</div>
</OutsideClickHandler>
