@using DevilDaggersInfo.Web.Core.CriteriaExpression
@using DevilDaggersInfo.Web.Core.CriteriaExpression.Parts
@using DevilDaggersInfo.Types.Web.Extensions
@using DevilDaggersInfo.Web.Client.Extensions
@using DevilDaggersInfo.Web.Client.Utils
@using DevilDaggersInfo.Types.Web

<span style="color: @CriteriaType.GetColor()">@CriteriaType.Display()</span>
<span style="color: @CriteriaOperator.GetColor()">@CriteriaOperator.Description()</span>

@MarkupStrings.Space

@foreach (IExpressionPart expressionPart in Expression.Parts)
{
	switch (expressionPart)
	{
		case ExpressionOperator op:
			<span style="color: #fb8">@op.ToString()</span>
			break;
		case ExpressionTarget target:
			<span style="color: @target.Target.GetColor()">@target.ToString()</span>
			break;
		case ExpressionValue value:
			<span style="color: #0f8">@value.ToDisplayString(CriteriaType)</span>
			break;
	}

	@MarkupStrings.Space
}

@code {
	[Parameter]
	[EditorRequired]
	public required Expression Expression { get; set; }
	
	[Parameter]
	[EditorRequired]
	public CustomLeaderboardCriteriaType CriteriaType { get; set; }
	
	[Parameter]
	[EditorRequired]
	public CustomLeaderboardCriteriaOperator CriteriaOperator { get; set; }
}
