@using DevilDaggersInfo.Core.Asset
@using DevilDaggersInfo.Core.Asset.Enums
@using DevilDaggersInfo.Core.Mod
@using DevilDaggersInfo.Core.Mod.Enums
@using DevilDaggersInfo.Razor.Core.AssetEditor.Extensions

<h1>Add new asset</h1>

<button class="btn btn-red btn-large w-32 h-8 mb-2" @onclick="Cancel">Cancel</button>

@if (BinaryState.Binary.ModBinaryType == ModBinaryType.Dd)
{
	<div class="grid gap-x-2 grid-cols-4">
		@foreach (AssetType assetType in Enum.GetValues<AssetType>())
		{
			if (!ModBinary.IsAssetTypeValid(ModBinaryType.Dd, assetType))
				continue;

			<div><button class="btn btn-large w-full h-16 bg-opacity-20 hover:bg-opacity-70 @(_selectedAssetType == assetType ? "bg-opacity-50" : null) @assetType.GetBgColor()" @onclick="() => SelectAssetType(assetType)">@assetType.ToDisplayString()</button></div>
		}
	</div>
}

@if (_selectedAssetType.HasValue)
{
	<div class="flex p-2">
		<div class="flex-shrink pr-2">Search:</div>
		<input type="text" class="input-text flex-grow" @bind-value="_assetNameSearch" @bind-value:event="oninput" />
	</div>
	<div class="h-screen-35 max-h-screen-35 overflow-y-scroll mb-2">
		@foreach (AssetInfo asset in GetFilteredAssets())
		{
			<div class="bg-opacity-10 hover:bg-opacity-50 @(asset.AssetName == _selectedAssetName ? "font-bold bg-opacity-30" : null) @(_selectedAssetType.Value.GetBgColor()) grid gap-x-2 grid-cols-2 px-1 cursor-pointer" @onclick="() => Select(asset.AssetName)">
				<div>@asset.AssetName</div>
				<div>@(asset.IsProhibited ? "Prohibited" : null)</div>
			</div>
		}
	</div>

	@if (_selectedAssetName == null)
	{
		<div class="pl-1">Select an asset from the list above.</div>
	}
	else
	{
		@if (_selectedAssetType.Value == AssetType.Shader)
		{
			<button class="btn btn-large w-32 h-8 bg-opacity-30 hover:bg-opacity-50 bg-shader" @onclick="OpenVert">Select .vert file</button>
			<button class="btn btn-large w-32 h-8 bg-opacity-30 hover:bg-opacity-50 bg-shader" @onclick="OpenFrag">Select .frag file</button>
			@if (_selectedVertFileName != null && _selectedFragFileName != null)
			{
				<p>@_selectedVertFileName and @_selectedFragFileName will be assigned to <span class="@_selectedAssetType.Value.GetTextColor()">@(_selectedAssetName)</span>.</p>
			}
		}
		else
		{
			<button class="btn btn-large w-32 h-8 bg-opacity-30 hover:bg-opacity-50 @_selectedAssetType.Value.GetBgColor()" @onclick="() => Open(_selectedAssetType.Value)">Select @(_selectedAssetType.Value.GetFileExtension()) file</button>
			@if (_selectedFileName != null)
			{
				<p>@_selectedFileName will be assigned to <span class="@_selectedAssetType.Value.GetTextColor()">@(_selectedAssetName)</span>.</p>
			}
		}

		if (_selectedAssetData != null)
		{
			<button class="btn @(_writing ? "btn-disabled" : "btn-green") btn-large w-32 h-8" disabled="@_writing" @onclick="WriteToBinaryAsync">Add to binary</button>
		}
	}
}
