@page
@model DevilDaggersWebsite.Pages.Admin.CustomLeaderboardCategories.DeleteModel

@{
	ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>CustomLeaderboardCategory</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboardCategory.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboardCategory.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboardCategory.SortingPropertyName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboardCategory.SortingPropertyName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboardCategory.Ascending)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboardCategory.Ascending)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomLeaderboardCategory.LayoutPartialName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomLeaderboardCategory.LayoutPartialName)
		</dd>
	</dl>

	<form method="post">
		<input type="hidden" asp-for="CustomLeaderboardCategory.Id" />
		<input type="submit" value="Delete" class="btn btn-default" /> |
		<a asp-page="./Index">Back to List</a>
	</form>
</div>