@page
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.PageModels
@model AdminEntityIndexPageModel<Player>
@{
	ViewData["Title"] = "Players";
}

<h1>@ViewData["Title"]</h1>

<p>Notes</p>
<ul>
	<li>BanResponsibleId refers to the player who boosted that account, or in case of an alt, who the alt belongs to. Leave empty if unknown.</li>
</ul>

<a asp-page="CreateOrEdit">Create New</a>
<table class="table admin-table">
	<thead>
		<tr>
			@foreach (var pi in Model.EntityDisplayProperties)
			{
				<th><a asp-route-sortOrder="@pi.Name">@pi.Name</a></th>
			}
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var entity in Model.GetOrderedQuery())
		{
			<tr>
				@foreach (var pi in Model.EntityDisplayProperties)
				{
					<td>@Model.GetPropertyValueString(pi, entity)</td>
				}
				<td>
					<a asp-page="CreateOrEdit" asp-route-id="@entity.Id">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@entity.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' asp-append-version="true" />
}
