@page
@model DevilDaggersWebsite.Pages.Admin.CustomEntries.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>CustomEntry</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.CustomLeaderboard)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.CustomLeaderboard.SpawnsetFileName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.PlayerId)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.PlayerId)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.Time)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.Time)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.Gems)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.Gems)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.Kills)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.Kills)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.DeathType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.DeathType)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.DaggersHit)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.DaggersHit)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.DaggersFired)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.DaggersFired)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.EnemiesAlive)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.EnemiesAlive)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.Homing)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.Homing)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.LevelUpTime2)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.LevelUpTime2)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.LevelUpTime3)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.LevelUpTime3)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.LevelUpTime4)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.LevelUpTime4)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.SubmitDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.SubmitDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomEntry.ClientVersion)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomEntry.ClientVersion)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.CustomEntry.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>