@page
@model DevilDaggersWebsite.Pages.Admin.CustomEntries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].CustomLeaderboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].Gems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].Kills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].DeathType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].ShotsHit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].ShotsFired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].EnemiesAlive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].Homing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].LevelUpTime2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].LevelUpTime3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].LevelUpTime4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].SubmitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomEntry[0].ClientVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CustomEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomLeaderboard.SpawnsetFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeathType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotsHit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotsFired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnemiesAlive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelUpTime2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelUpTime3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelUpTime4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientVersion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
