@inherits InputBase<string>

<div class="@CssClass">
	<Dropdown TItem="string" OnSelected="e => CurrentValue = e" @ref="_dropdown">
		<InitialTip>@SelectedDisplayValue</InitialTip>
		<ChildContent>
			<InputTextImmediate @bind-Value="_searchValue" />
			<div>
				<a @onclick="e => _dropdown?.HandleSelect(null) ?? Task.CompletedTask">[CLEAR]</a>
				@foreach (KeyValuePair<string, string> kvp in FilteredItems)
				{
					<a Item="@kvp" @onclick="e => _dropdown?.HandleSelect(kvp.Key) ?? Task.CompletedTask">@kvp.Key (@kvp.Value)</a>
				}
			</div>
		</ChildContent>
	</Dropdown>
</div>

@code
{
	private string? _searchValue;

	private Dropdown<string>? _dropdown;

	private string SelectedDisplayValue => string.IsNullOrWhiteSpace(CurrentValue) ? "<None selected>" : $"{CurrentValue} ({(Values.ContainsKey(CurrentValue) ? Values[CurrentValue] : "???")})";

	[Parameter] public Dictionary<string, string> Values { get; set; } = null!;

	public Dictionary<string, string> FilteredItems => _searchValue == null ? Values : Values
		.Where(kvp =>
			kvp.Key.Contains(_searchValue, StringComparison.InvariantCultureIgnoreCase) ||
			kvp.Value.Contains(_searchValue, StringComparison.InvariantCultureIgnoreCase))
		.ToDictionary(kvp => kvp.Key, kvp => kvp.Value);

	protected override bool TryParseValueFromString(string? value, out string? result, out string validationMessage)
	{
		validationMessage = string.Empty;
		result = value;
		return true;
	}
}
