@using DevilDaggersInfo.Api.Ddcl
@using DevilDaggersInfo.Api.Ddcl.CustomLeaderboards
@using DevilDaggersInfo.Core.CustomLeaderboard.Services
@using DevilDaggersInfo.Razor.CustomLeaderboard.Extensions
@using DevilDaggersInfo.Razor.CustomLeaderboard.Models
@using DevilDaggersInfo.Razor.CustomLeaderboard.Services

<button @onclick="@(() => SetPageIndexAsync(PageIndex - 1))">Prev</button>
<button @onclick="@(() => SetPageIndexAsync(PageIndex + 1))">Next</button>

@if (_leaderboards == null)
{
	<span>Loading...</span>
}
else if (_leaderboards.HasError)
{
	<span class="text-red">Error while fetching leaderboard overview</span>
}
else
{
	<div class="grid gap-x-2 grid-cols-5 m-2 p-2">
		<span class="font-bold">Spawnset</span>
		<span class="font-bold text-right">Rank</span>
		<span class="font-bold text-right">Score</span>
		<span class="font-bold text-right">Next dagger</span>
		<span class="font-bold text-right">World record</span>

		@foreach (GetCustomLeaderboardForOverview leaderboard in _leaderboards.Response.Results)
		{
			string? daggerColor = leaderboard.SelectedPlayerStats?.Dagger?.GetColorCode();
			string? worldRecordDaggerColor = leaderboard.WorldRecord?.Dagger?.GetColorCode();

			<a class="link" @onclick="@(async () => await InjectSpawnset(leaderboard.SpawnsetId))">@leaderboard.SpawnsetName</a>

			@if (leaderboard.SelectedPlayerStats == null)
			{
				<span class="text-right">N/A</span>
				<span class="text-right">N/A</span>
			}
			else
			{
				<span class="text-right">@leaderboard.SelectedPlayerStats.Rank / @leaderboard.PlayerCount</span>
				<span class="text-right" style="color: @daggerColor;">@leaderboard.SelectedPlayerStats.Time.ToString("N4")</span>
			}

			<span class="text-right">TODO</span>

			@if (leaderboard.WorldRecord == null)
			{
				<span class="text-right">N/A</span>
			}
			else
			{
				<span class="text-right" style="color: @worldRecordDaggerColor;">@leaderboard.WorldRecord.Time.ToString("N4")</span>
			}
		}
	</div>
}

@code
{
	private ResponseWrapper<Page<GetCustomLeaderboardForOverview>>? _leaderboards;

	[Inject]
	public NetworkService NetworkService { get; set; } = null!;

	[Parameter]
	[EditorRequired]
	public int SelectedPlayerId { get; set; }

	[Parameter]
	public CustomLeaderboardCategory Category { get; set; } = CustomLeaderboardCategory.Survival;

	[Parameter]
	public int PageIndex { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		await UpdateListAsync();
	}

	private async Task SetPageIndexAsync(int pageIndex)
	{
		PageIndex = Math.Max(0, pageIndex);
		_leaderboards = null;
		await UpdateListAsync();
	}

	private async Task UpdateListAsync()
	{
		_leaderboards = await NetworkService.GetLeaderboardOverview(Category, PageIndex, 20, SelectedPlayerId, true);
	}

	public async Task InjectSpawnset(int spawnsetId)
	{
		byte[]? spawnset = await NetworkService.GetSpawnset(spawnsetId);

		// TODO: Get path from running process and refactor to platform-specific DI service interface.
		if (spawnset != null)
			File.WriteAllBytes(@"C:\Program Files (x86)\Steam\steamapps\common\devildaggers\mods\survival", spawnset);
	}
}
