@page
@inject ApplicationDbContext dbContext
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersWebsite.Core.Entities
@using DevilDaggersWebsite.Core.Enumerators
@using DevilDaggersWebsite.Core.Extensions
@model DonationsModel
@{
	ViewData["Title"] = "Donations";

	int[] widths = new[] { 256, 128 };
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		I've built this website and the tools that come with it entirely in my free time. If you appreciate the work I've done, or want to support hosting and domain costs for the website, you can consider <a href="http://paypal.me/NoahStolk">donating via PayPal</a>. Please be sure to include your leaderboard username, rank, or user ID (user ID can be found by hovering over your rank number on the <a asp-page="./Leaderboard/Index">Leaderboard</a> page), so I can add you to the list of donators below, or if you prefer to stay anonymous, an alias or no name at all is fine too.
	</p>
	<p>
		Thanks to everyone who donated.
	</p>
	<p>
		@foreach (Dagger dagger in GameInfo.GetEntities<Dagger>(GameVersion.V3))
		{
			<img src="~/Images/Daggers/@(dagger.Name)Small.png" />
		}
	</p>

	<div class="flex-container flex-center flex-column">
		@{
			foreach (KeyValuePair<int, int> kvp in Model.DonatorsWithReceivedEuroAmounts.OrderByDescending(kvp => kvp.Value))
			{
				Player donator = dbContext.Players.FirstOrDefault(d => d.Id == kvp.Key);
				string username = donator.IsAnonymous ? "(anonymous)" : donator.Username;

				List<string> donationsGroupedByCurrency = new List<string>();
				foreach (var donations in Model.Donations.Where(d => !d.IsRefunded && d.PlayerId == kvp.Key).GroupBy(d => d.Currency))
				{
					donationsGroupedByCurrency.Add($"{donations.Key.GetChar()} {(donations.Sum(d => d.Amount) / 100.0).ToString("0.00")} {(donations.Key.ToString().ToUpper())}");
				}
				string str = string.Join(" + ", donationsGroupedByCurrency);

				<div class="flex-container flex-center">
					<div style="@RazorUtils.GetCssWidth(widths[0]) white-space: nowrap;" class="text-left devil">@username</div>
					<div style="@RazorUtils.GetCssWidth(widths[1])" class="text-right devil donation-tooltip" data-toggle="tooltip" data-placement="left" title="@str">
						@(Currency.Eur.GetChar())
						@((kvp.Value / 100.0).ToString("0.00"))
					</div>
				</div>
			}
		}
	</div>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/donations.css' />
}