@page
@using DevilDaggersWebsite.Dto;
@using DevilDaggersWebsite.Entities
@model ModModel
@{
	if (Model.AssetMod == null)
		return;

	ViewData["Title"] = $"Mod - {Model.AssetMod.Name}";
}

<header>
	<h1 class="prevent-break-out">@ViewData["Title"]</h1>
</header>

<main role="main">
	<div class="section-container">
		<div class="header-container">
			<div class="row">
				<div class="col-xs-6">@(Model.AssetMod.PlayerAssetMods.Count == 1 ? "Author" : "Authors")</div>
				<div class="col-xs-6">
					@for (int i = 0; i < Model.AssetMod.PlayerAssetMods.Count; i++)
					{
						PlayerAssetMod playerAssetMod = Model.AssetMod.PlayerAssetMods[i];
						<a asp-page="/Mods" asp-route-SearchAuthor="@playerAssetMod.Player.PlayerName">@playerAssetMod.Player.PlayerName</a>
						if (i < Model.AssetMod.PlayerAssetMods.Count - 1)
						{
							<span>&amp;</span>
						}
					}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Last updated</div>
				<div class="col-xs-6">@(Model.AssetMod.LastUpdated == DateTime.MinValue ? "Unknown" : Model.AssetMod.LastUpdated.ToString("dd MMM yyyy"))</div>
			</div>
			@if (Model.IsHostedOnDdInfo)
			{
				<div class="row">
					<div class="col-xs-6">File size</div>
					<div class="col-xs-6">@await Html.PartialAsync("Partials/FileSizePartial", Model.FileSize)</div>
				</div>
			}
		</div>
	</div>
	<div class="section-container">
		<div class="header-container">
			<div class="row">
				@if (Model.IsHostedOnDdInfo)
				{
					<div class="col-xs-6"><a href="api/mods/@Model.AssetMod.Name/file">Download mod</a></div>
				}
				else
				{
					<div class="col-xs-6"><a target='_blank' href="@Model.AssetMod.Url">Download mod (external)</a></div>
				}
			</div>
		</div>
	</div>

	@if (!string.IsNullOrWhiteSpace(Model.AssetMod.TrailerUrl))
	{
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<div class="iframe-wrapper">
					<img class="ratio" src="~/images/Misc/16x9.png" />
					<iframe src="@Model.AssetMod.TrailerUrl" title="@Model.AssetMod.Name" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	}
	@if (Model.Binaries.Count > 0)
	{
		<div class="row">
			@foreach (ModData binary in Model.Binaries)
			{
				<div class="col-md-12 col-lg-6">
					<p>@binary.Name</p>

					<div class="col-xs-12">
						<ul>
							@foreach (ModAssetData asset in binary.ModAssetData)
							{
								<li style="@(asset.IsProhibited ? "color: red;" : string.Empty)">@asset.ModAssetType - @asset.Name</li>
							}
						</ul>
					</div>
				</div>
			}
		</div>
	}
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/mod.css' asp-append-version="true" />
}
