@page
@using DevilDaggersCore.Game
@using DevilDaggersCore.Mods
@using DevilDaggersWebsite.Caches.ModArchive;
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.Utils
@model ModModel
@{
	if (Model.AssetMod == null)
		return;

	ViewData["Title"] = $"Mod - {Model.AssetMod.Name}";

	bool hasTrailer = !string.IsNullOrWhiteSpace(Model.AssetMod.TrailerUrl);
	bool hasScreenshots = Model.Images.Count > 0;
}

<header>
	<h1 class="prevent-break-out">@ViewData["Title"]</h1>
</header>

<main role="main">
	<div class="section-container">
		<div class="header-container">
			<div class="row">
				<div class="col-xs-6">@(Model.AssetMod.PlayerAssetMods.Count == 1 ? "Author" : "Authors")</div>
				<div class="col-xs-6">
					@for (int i = 0; i < Model.AssetMod.PlayerAssetMods.Count; i++)
					{
						PlayerAssetMod playerAssetMod = Model.AssetMod.PlayerAssetMods[i];
						<a asp-page="/Mods" asp-route-SearchAuthor="@playerAssetMod.Player.PlayerName">@playerAssetMod.Player.PlayerName</a>
						if (i < Model.AssetMod.PlayerAssetMods.Count - 1)
						{
							<span>&amp;</span>
						}
					}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Last updated</div>
				<div class="col-xs-6">@(Model.AssetMod.LastUpdated == DateTime.MinValue ? "Unknown" : Model.AssetMod.LastUpdated.ToString("dd MMM yyyy"))</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Description</div>
				@if (!string.IsNullOrEmpty(Model.AssetMod.HtmlDescription))
				{
					<div class="col-xs-6 mod-description">
						@RazorUtils.GetLayout(Model.AssetMod.HtmlDescription, GameVersion.V31)
					</div>
				}
				else
				{
					<div class="col-xs-6">
						@RazorUtils.NAString
					</div>
				}
			</div>
			@if (Model.IsHostedOnDdInfo)
			{
				<div class="row">
					<div class="col-xs-6">Prohibited assets</div>
					<div class="col-xs-6">@(Model.ContainsProhibitedAssets ? "Yes" : "No")</div>
				</div>
				<div class="row">
					<div class="col-xs-6">File size</div>
					<div class="col-xs-6">@await Html.PartialAsync("Partials/FileSizePartial", Model.ArchiveData.FileSize)</div>
				</div>
				<div class="row">
					<div class="col-xs-6">File size (extracted)</div>
					<div class="col-xs-6">@await Html.PartialAsync("Partials/FileSizePartial", Model.ArchiveData.FileSizeExtracted)</div>
				</div>
			}
		</div>
	</div>
	<div class="section-container">
		<div class="header-container">
			<div class="row">
				@if (Model.IsHostedOnDdInfo)
				{
					<div class="col-xs-6"><a href="api/mods/@Model.AssetMod.Name/file">Download mod</a></div>
				}
				else
				{
					<div class="col-xs-6"><a target='_blank' href="@Model.AssetMod.Url">Download mod (external)</a></div>
				}
			</div>
		</div>
	</div>

	@if (hasTrailer || hasScreenshots)
	{
		<div class="row">
			@if (hasTrailer)
			{
				<div class="col-md-12 col-lg-6">
					<div class="iframe-wrapper">
						<img class="ratio" src="~/images/Misc/16x9.png" />
						<iframe src="@Model.AssetMod.TrailerUrl" title="@Model.AssetMod.Name" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			}
			@if (hasScreenshots)
			{
				<div class="col-md-12 col-lg-6">
					@if (Model.Images.Count == 1)
					{
						<img class="img-responsive" src="/mod-screenshots/@Model.AssetMod.Name/@Model.Images[0]" />
					}
					else
					{
						<div id="image-carousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								@for (int i = 0; i < Model.Images.Count; i++)
								{
									<li data-target="#image-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
								}
							</ol>

							<div class="carousel-inner">
								@for (int i = 0; i < Model.Images.Count; i++)
								{
									<div class="item@(i == 0 ? " active" : "")">
										<img class="carousel-img" src="/mod-screenshots/@Model.AssetMod.Name/@Model.Images[i]" />
									</div>
								}
							</div>

							<a class="left carousel-control" href="#image-carousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#image-carousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					}
				</div>
			}
		</div>
	}

	@if (Model.ArchiveData.Binaries.Count > 0)
	{
		<h2>Binaries</h2>
		@foreach (ModBinaryCacheData binary in Model.ArchiveData.Binaries)
		{
			<div class="binary-container">
				<div class="binary-title-container">
					@binary.Name (@binary.Chunks.Count assets, @binary.Chunks.Count(mad => mad.IsProhibited) <span class="prohibited">prohibited</span>)
				</div>
				<div class="row">
					@foreach (IGrouping<AssetType, ModChunkCacheData> assetGroup in binary.Chunks.GroupBy(mad => mad.ModAssetType))
					{
						<div class="col-sm-12 col-md-6 col-lg-3 asset-container">
							<div class="asset-title-container">
								@assetGroup.Key assets (@assetGroup.Count() assets, @assetGroup.Count(mad => mad.IsProhibited) <span class="prohibited">prohibited</span>)
							</div>
							<div class="asset-list">
								@foreach (ModChunkCacheData asset in assetGroup)
								{
									<div class="@(asset.IsProhibited ? "prohibited" : string.Empty)">
										@asset.Name@* (@await Html.PartialAsync("Partials/FileSizePartial", (long)asset.Size))*@
									</div>
								}
							</div>
						</div>
					}
				</div>
			</div>
		}
	}
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/mod.css' asp-append-version="true" />
}
