@page
@model ModsModel
@using DevilDaggersWebsite.Dto.Mods
@{
	ViewData["Title"] = "Mods";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		Here's a list of custom asset mods created by the community using <a asp-page="/Tools/DevilDaggersAssetEditor">Devil Daggers Asset Editor</a>. Read below for more information.
	</p>

	@{
		@await Html.PartialAsync("Partials/NavigationPartial", Model)

		<div class="navigation-result-wrapper">
			@if (Model.PaginatedList.Count > 0)
			{
				<table>
					<thead>
						<tr class="navigation-sort">
							<th width="500">
								<a asp-page="./Mods"
								   asp-route-searchAuthor="@Model.SearchAuthor"
								   asp-route-searchName="@Model.SearchName"
								   asp-route-sortOrder="@Model.Name"
								   asp-route-pageIndex="@Model.PageIndex">Name</a>
							</th>
							<th width="260">
								<a asp-page="./Mods"
								   asp-route-searchAuthor="@Model.SearchAuthor"
								   asp-route-searchName="@Model.SearchName"
								   asp-route-sortOrder="@Model.Author"
								   asp-route-pageIndex="@Model.PageIndex">Author(s)</a>
							</th>
							<th class="hidden-xs" width="160">
								<a asp-page="./Mods"
								   asp-route-searchAuthor="@Model.SearchAuthor"
								   asp-route-searchName="@Model.SearchName"
								   asp-route-sortOrder="@Model.LastUpdated"
								   asp-route-pageIndex="@Model.PageIndex">Last updated</a>
							</th>
							<th class="hidden-xs hidden-sm hidden-md" width="320">
								<a asp-page="./Mods"
								   asp-route-searchAuthor="@Model.SearchAuthor"
								   asp-route-searchName="@Model.SearchName"
								   asp-route-sortOrder="@Model.Type"
								   asp-route-pageIndex="@Model.PageIndex">Type</a>
							</th>
							<th class="hidden-xs hidden-sm hidden-md" width="160">
								<a asp-page="./Mods"
								   asp-route-searchAuthor="@Model.SearchAuthor"
								   asp-route-searchName="@Model.SearchName"
								   asp-route-sortOrder="@Model.Hosted"
								   asp-route-pageIndex="@Model.PageIndex">Hosted</a>
							</th>
							<th class="hidden-xs hidden-sm hidden-md" width="160">
								<a asp-page="./Mods"
								   asp-route-searchAuthor="@Model.SearchAuthor"
								   asp-route-searchName="@Model.SearchName"
								   asp-route-sortOrder="@Model.Prohibited"
								   asp-route-pageIndex="@Model.PageIndex">Prohibited assets</a>
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (GetPublicMod mod in Model.PaginatedList)
						{
							<tr>
								<td><a asp-page="Mod" asp-route-mod="@mod.Name">@mod.Name</a></td>
								<td>
									@for (int i = 0; i < mod.Authors.Count; i++)
									{
										string author = mod.Authors[i];
										<a asp-page="/Mods" asp-route-searchAuthor="@author">@author</a>
										if (i < mod.Authors.Count - 1)
										{
											<span>&amp;</span>
										}
									}
								</td>
								<td class="hidden-xs">
									@(mod.LastUpdated == DateTime.MinValue ? "Unknown" : mod.LastUpdated.ToString("dd MMM yyyy"))
								</td>
								<td class="hidden-xs hidden-sm hidden-md">
									@mod.AssetModTypes
								</td>
								<td class="hidden-xs hidden-sm hidden-md">
									@(mod.IsHostedOnDdInfo ? "Yes" : "No")
								</td>
								<td class="hidden-xs hidden-sm hidden-md">
									@(mod.ContainsProhibitedAssets.HasValue ? mod.ContainsProhibitedAssets.Value ? "Yes" : "No" : "Unknown")
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				@:Search returned no results
			}
		</div>
	}

	<h2>How to play mods</h2>

	<ol>
		<li>Download the mod files from the list above.</li>
		<li>Navigate to the directory where Devil Daggers is installed. By default, this is <span class="path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers</span> on Windows.</li>
		<li>Place the files you downloaded inside the "mods" folder.</li>
		<li>If necessary, rename the files so that they start with the name of the original file they target. This means that an audio mod (which replaces assets found in the "audio" file) needs to have the prefix "audio" in its file name. The same applies to "dd" mods.</li>
	</ol>
	<h3>Notes</h3>
	<ul>
		<li>Mods are loaded when Devil Daggers starts up, so you will need to restart the game when you want to play a different mod.</li>
		<li>In case of "core" mods, you will have to <i>replace</i> the original <span class="path">devildaggers\core\core</span> file.</li>
	</ul>

	<h2>FAQ</h2>

	@await Html.PartialAsync("Partials/FaqModPartial")
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/navigation.css' asp-append-version="true" />
}
