@page
@model ModsModel
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersWebsite.Razor.Pagination
@{
	ViewData["Title"] = "Mods";

	int[] widths = new int[2] { 160, 160 };
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		Here's a list of custom asset mods created by the community using <a asp-page="/Tools/DevilDaggersAssetEditor">Devil Daggers Asset Editor</a>. Read below for more information.
	</p>

	@{
		using (Html.BeginForm(FormMethod.Get))
		{
			<div class="navigation-wrapper">
				<fieldset>
					<div class="flex-container flex-center flex-column">
						<div class="flex-container flex-center">
							<div class="input-label text-left" style="@RazorUtils.GetCssWidth(widths[0])">Author search:</div>
							<div style="@RazorUtils.GetCssWidth(widths[1])">@Html.TextBoxFor(m => m.SearchAuthor, new { @class = "input" })</div>
						</div>
						<div class="flex-container flex-center">
							<div class="input-label text-left" style="@RazorUtils.GetCssWidth(widths[0])">Mod search:</div>
							<div style="@RazorUtils.GetCssWidth(widths[1])">@Html.TextBoxFor(m => m.SearchName, new { @class = "input" })</div>
						</div>
					</div>

					<div class="flex-container flex-center flex-column">
						<div class="flex-container flex-center">
							<input class="btn" type="submit" value="Search" />
						</div>
					</div>
				</fieldset>

				@if (Model.PaginatedList != null)
				{
					int last = (int)Math.Ceiling(Model.TotalResults / (float)Model.PageSize);
					int curr = Model.PageIndex;

					<p class="text-center">
						Page @curr of @last
					</p>
					<p class="text-center">
						Showing @((curr - 1) * Model.PageSize + 1) - @(Math.Min(Model.TotalResults, curr * Model.PageSize)) of @Model.TotalResults results
					</p>

					@await Html.PartialAsync("Partials/NavigationPartial", new NavigationSettings(Model, 20, ScreenWidthVisibilities.Lg | ScreenWidthVisibilities.Md | ScreenWidthVisibilities.Sm))
					@await Html.PartialAsync("Partials/NavigationPartial", new NavigationSettings(Model, 1, ScreenWidthVisibilities.Xs))
				}
			</div>
		}

		if (Model.PaginatedList != null)
		{
			<table>
				<thead>
					<tr>
						<th class="hidden-xs" colspan="3"></th>
					</tr>
					<tr class="navigation-sort">
						<th width="500">
							<a asp-page="./Mods"
							   asp-route-searchAuthor="@Model.SearchAuthor"
							   asp-route-searchName="@Model.SearchName"
							   asp-route-sortOrder="@Model.NameSort"
							   asp-route-pageIndex="@Model.PageIndex">Name</a>
						</th>
						<th width="220">
							<a asp-page="./Mods"
							   asp-route-searchAuthor="@Model.SearchAuthor"
							   asp-route-searchName="@Model.SearchName"
							   asp-route-sortOrder="@Model.AuthorSort"
							   asp-route-pageIndex="@Model.PageIndex">Author</a>
						</th>
						<th class="hidden-xs" width="220">
							<a asp-page="./Mods"
							   asp-route-searchAuthor="@Model.SearchAuthor"
							   asp-route-searchName="@Model.SearchName"
							   asp-route-sortOrder="@Model.TypeSort"
							   asp-route-pageIndex="@Model.PageIndex">Type</a>
						</th>
						<th class="hidden-xs hidden-sm hidden-md" width="220">
							<a asp-page="./Mods"
							   asp-route-searchAuthor="@Model.SearchAuthor"
							   asp-route-searchName="@Model.SearchName"
							   asp-route-sortOrder="@Model.FileContentsSort"
							   asp-route-pageIndex="@Model.PageIndex">Contents</a>
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Mod mod in Model.PaginatedList)
					{
						<tr>
							<td><a href="@mod.Url">@mod.Name</a></td>
							<td>
								@foreach (string author in mod.Authors)
								{
									<a asp-page="/Mods" asp-route-SearchAuthor="@author">@author</a>
								}
							</td>
							<td class="hidden-xs">
								@(mod.AssetModTypes)
							</td>
							<td class="hidden-xs">
								@(mod.AssetModFileContents)
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>Search returned no results</p>
		}
	}

	<h2>How to play mods</h2>
	<ol>
		<li>Download the files from a mod listed above.</li>
		<li>
			Navigate to the directory where Devil Daggers is installed.<br />
			By default, this is <span class="path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers</span> on Windows.<br />
		</li>
		<li>Place the files you downloaded inside the "mods" folder. The file names MUST start with the name of the original file they target. This means that an audio mod (which replaces assets found in the "audio" file) needs to have the prefix "audio" in its file name. The same applies to "dd" and "core" mods. In case of particle mods, you will need to replace the <span class="path">devildaggers/dd/particle</span> file and keep the file name as it is.</li>
	</ol>
	<h3>Notes</h3>
	<ul>
		<li>Mods are loaded when Devil Daggers starts up, so you will need to restart the game when you want to play a different mod.</li>
	</ul>

	<h2>FAQ</h2>
	<div class="faq-question">Can I get banned for using mods?</div>
	<div class="faq-answer">No, you can only get banned manually by the developer for submitting illegitimate runs to the official leaderboard.</div>
	<div class="faq-question">Can I override my real score while playing a mod?</div>
	<div class="faq-answer">Yes, unless you have modified the <span class="path">devildaggers/dd/particle</span> file. Scores above 1000 also won't submit if the game detects prohibited mods (mods that give the player an unfair advantage).</div>
	<div class="faq-question">How do I make my own mods?</div>
	<div class="faq-answer">
		<ol>
			<li>Download <a asp-page="/Tools/DevilDaggersAssetEditor">DevilDaggersAssetEditor</a>.</li>
			<li>Check out the <a asp-page="/Wiki/Guides/AssetEditor">Asset Editor Guide</a>.</li>
		</ol>
	</div>
	<div class="faq-question">I've made my own mods that I want to share with the community. Can I get them listed on here?</div>
	<div class="faq-answer">Yes, let us know in the <a href="@RazorUtils.DiscordUrl">Discord server</a>.</div>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/navigation.css' asp-append-version="true" />
}
