@model List<CustomLeaderboard>
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Extensions
@using DevilDaggersWebsite.Razor.Models
@using System.Linq
@inject DevilDaggersWebsite.Entities.ApplicationDbContext dbContext

@{
	if (Model.Count == 0)
	{
		<p>No leaderboards for this category yet</p>
		return;
	}
}

<div class="leaderboard-container flex-container flex-center">
	<div class="leaderboard-title-row flex-container">
		<div class="sorter text-left" sort="name">Spawnset name</div>
		<div class="sorter hidden-xs text-right" sort="players">Players</div>
		<div class="sorter hidden-xs text-right" sort="submits">Submits <span style="cursor: pointer;" class="text-right devil" data-toggle="tooltip" data-placement="top" title="Data has only been collected since 25 Aug 2020, and will not be correct for leaderboards that were created prior to this date.">?</span></div>
		<div class="sorter hidden-xs text-right date" sort="last-played">Last played</div>
		<div class="sorter hidden-xs text-right date" sort="created">Created</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="bronze">Bronze</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="silver">Silver</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="golden">Golden</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="devil">Devil</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="leviathan">Leviathan</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="world-record">WR</div>
	</div>
	<div class="leaderboard-body">
		@{
			foreach (CustomLeaderboard lb in Model)
			{
				List<CustomEntry> entries = dbContext.CustomEntries
				   .Where(e => e.CustomLeaderboard == lb)
				   .OrderByMember(nameof(CustomEntry.Time), lb.IsAscending())
				   .ThenByMember(nameof(CustomEntry.SubmitDate), true)
				   .ToList();
				CustomLeaderboardModel clm = new(lb, entries);
				<div class="sort" @clm.HtmlData>
					<div class="leaderboard-row flex-container">
						<div class="text-left"><a asp-page="/CustomLeaderboards/Leaderboard" asp-route-spawnsetName="@clm.SpawnsetName">@clm.SpawnsetName</a></div>
						<div class="hidden-xs text-right">@entries.Count</div>
						<div class="hidden-xs text-right">@lb.TotalRunsSubmitted</div>
						<div class="hidden-xs text-right date">@clm.DateLastPlayed</div>
						<div class="hidden-xs text-right date">@clm.DateCreated</div>
						<div class="hidden-xs hidden-sm hidden-md text-right bronze">@clm.TimeBronze.FormatTimeInteger()</div>
						<div class="hidden-xs hidden-sm hidden-md text-right silver">@clm.TimeSilver.FormatTimeInteger()</div>
						<div class="hidden-xs hidden-sm hidden-md text-right golden">@clm.TimeGolden.FormatTimeInteger()</div>
						<div class="hidden-xs hidden-sm hidden-md text-right devil">@clm.TimeDevil.FormatTimeInteger()</div>
						<div class="hidden-xs hidden-sm hidden-md text-right leviathan">@clm.TimeLeviathan.FormatTimeInteger()</div>
						<div class="hidden-xs hidden-sm hidden-md text-right @clm.WorldRecordDagger">@clm.WorldRecord</div>
					</div>
				</div>
			}
		}
	</div>
</div>
