@model List<CustomLeaderboard>
@using DevilDaggersCore.Extensions
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.Extensions
@using DevilDaggersWebsite.Razor.Utils
@using System.Linq
@inject DevilDaggersWebsite.Entities.ApplicationDbContext dbContext

@{
	if (Model.Count == 0)
	{
		<p>No leaderboards for this category yet</p>
		return;
	}
}

<table class="custom-leaderboard-table">
	<thead>
		<tr>
			<th width="300">
				Spawnset name
			</th>
			<th width="200">
				Spawnset author
			</th>
			<th class="hidden-xs" width="100">
				Players
			</th>
			<th class="hidden-xs" width="150">
				Total submits <span style="cursor: pointer;" class="text-right devil" data-toggle="tooltip" data-placement="top" title="Data has only been collected since 25 Aug 2020, and will not be correct for leaderboards that were created prior to this date.">?</span>
			</th>
			<th class="hidden-xs" width="200">
				Last played
			</th>
			<th class="hidden-xs" width="150">
				Created
			</th>
			<th class="hidden-xs hidden-sm hidden-md" width="100">
				Bronze
			</th>
			<th class="hidden-xs hidden-sm hidden-md" width="100">
				Silver
			</th>
			<th class="hidden-xs hidden-sm hidden-md" width="100">
				Golden
			</th>
			<th class="hidden-xs hidden-sm hidden-md" width="100">
				Devil
			</th>
			<th class="hidden-xs hidden-sm hidden-md" width="100">
				Homing
			</th>
			<th class="hidden-xs hidden-sm hidden-md" width="200" colspan="2">
				World record
			</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (CustomLeaderboard lb in Model)
			{
				string fileName = lb.SpawnsetFile.Name;
				string author = lb.SpawnsetFile.Player.PlayerName;
				List<CustomEntry> entries = dbContext.CustomEntries
					.Where(e => e.CustomLeaderboard == lb)
					.OrderByMember(nameof(CustomEntry.Time), lb.IsAscending())
					.ThenByMember(nameof(CustomEntry.SubmitDate), true)
					.ToList();
				string wrDagger = string.Empty;
				if (entries.Count > 0)
				{
					wrDagger = lb.GetDagger(entries[0].Time);
				}
				<tr>
					<td class="leaderboard-spawnset-name">
						<a asp-page="/CustomLeaderboards/Leaderboard" asp-route-spawnsetName="@fileName">@fileName</a>
					</td>
					<td>
						<a asp-page="/Spawnsets" asp-route-SearchAuthor="@author">@author</a>
					</td>
					<td class="text-right hidden-xs">
						@dbContext.CustomEntries.Count(e => e.CustomLeaderboardId == lb.Id)
					</td>
					<td class="text-right hidden-xs">
						@lb.TotalRunsSubmitted
					</td>
					<td class="text-right hidden-xs">
						@(lb.DateLastPlayed.HasValue ? Html.Raw(lb.DateLastPlayed.Value.ToString("dd MMM yyyy, HH:mm")) : RazorUtils.NAString)
					</td>
					<td class="text-right hidden-xs">
						@(lb.DateCreated.HasValue ? Html.Raw(lb.DateCreated.Value.ToString("dd MMM yyyy")) : RazorUtils.NAString)
					</td>
					<td class="text-right hidden-xs hidden-sm hidden-md bronze">
						@(lb.TimeBronze.FormatTimeInteger())
					</td>
					<td class="text-right hidden-xs hidden-sm hidden-md silver">
						@(lb.TimeSilver.FormatTimeInteger())
					</td>
					<td class="text-right hidden-xs hidden-sm hidden-md golden">
						@(lb.TimeGolden.FormatTimeInteger())
					</td>
					<td class="text-right hidden-xs hidden-sm hidden-md devil">
						@(lb.TimeDevil.FormatTimeInteger())
					</td>
					<td class="text-right hidden-xs hidden-sm hidden-md leviathan">
						@(lb.TimeLeviathan.FormatTimeInteger())
					</td>
					<td class="@wrDagger hidden-xs hidden-sm hidden-md leaderboard-username">
						@{
							if (entries.Count == 0)
							{
								@:@RazorUtils.NAString
							}
							else
							{
								@(dbContext.Players.FirstOrDefault(p => p.Id == entries[0].PlayerId)?.PlayerName ?? "[Player not found]")
							}
						}
					</td>
					<td class="text-right hidden-xs hidden-sm hidden-md @wrDagger">
						@{
							if (entries.Count > 0)
							{
								@(entries[0].Time.FormatTimeInteger())
							}
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>
