@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Entities
@using Microsoft.EntityFrameworkCore
@using DevilDaggersWebsite.Razor.Models
@model DevilDaggersWebsite.Razor.Pages.CustomLeaderboards.LeaderboardModel
@inject DevilDaggersWebsite.Entities.ApplicationDbContext dbContext

<div class="leaderboard-container flex-container flex-center">
	<div class="leaderboard-title-row flex-container">
		<div class="sorter text-right" sort="rank">
			<span data-toggle='tooltip' title='Rank'><img src="~/images/Icons/maskdagger.png" /></span>
		</div>
		<div class="sorter text-left" sort="flag">
			<span data-toggle='tooltip' title='Nationality (flag)'><img src="~/images/Icons/flag.png" /></span>
		</div>
		<div class="sorter text-left" sort="username">Username</div>
		<div class="sorter text-right" sort="time">
			<span data-toggle='tooltip' title='Time'><img src="~/images/Icons/maskstopwatch.png" /></span>
		</div>
		<div class="sorter hidden-xs text-right" sort="enemies-killed">
			<span data-toggle='tooltip' title='Enemies killed'><img src="~/images/Icons/skullred.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="enemies-alive">
			<span data-toggle='tooltip' title='Enemies alive'><img src="~/images/Icons/skullalive.png" /></span>
		</div>
		<div class="sorter hidden-xs text-right" sort="gems-collected">
			<span data-toggle='tooltip' title='Gems collected'><img src="~/images/Icons/gemred.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm text-right" sort="gems-despawned">
			<span data-toggle='tooltip' title='Gems despawned'><img src="~/images/Icons/gemgray.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm text-right" sort="gems-eaten">
			<span data-toggle='tooltip' title='Gems eaten'><img src="~/images/Icons/gemgreen.png" /></span>
		</div>
		<div class="sorter hidden-xs text-right" sort="accuracy">
			<span data-toggle='tooltip' title='Accuracy'><img src="~/images/Icons/maskcrosshair.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-left" sort="death-type">
			<span data-toggle='tooltip' title='Death type'><img src="~/images/Icons/skullgray.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="homing-daggers">
			<span data-toggle='tooltip' title='Homing daggers'><img src="~/images/Icons/maskhoming.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="level-2">
			<span data-toggle='tooltip' title='Level 2 achieved'><img src="~/images/Icons/dagger2.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="level-3">
			<span data-toggle='tooltip' title='Level 3 achieved'><img src="~/images/Icons/dagger3.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="level-4">
			<span data-toggle='tooltip' title='Level 4 achieved'><img src="~/images/Icons/dagger4.png" /></span>
		</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right submit-date" sort="submit-date">
			<span data-toggle='tooltip' title='Submit date'><img src="~/images/Icons/calendar.png" /></span>
		</div>
	</div>
	<div class="leaderboard-body">
		@{
			IEnumerable<Donation> donations = dbContext.Donations.ToList();
			IEnumerable<Player> players = dbContext.Players.Include(p => p.PlayerTitles).ThenInclude(pt => pt.Title).ToList();
			int rank = 0;
			foreach (CustomEntry entry in Model.Entries!)
			{
				rank++;

				Player? player = players.FirstOrDefault(p => p.Id == entry.PlayerId);
				CustomEntryModel cem = new(rank, entry, Model.Leaderboard!, player, donations);

				<div class="sort" @cem.HtmlData>
					<div class="leaderboard-row pointer flex-container" id="@(rank)-row">
						<div class="text-right">
							<span data-toggle="tooltip" title="ID: @entry.PlayerId (click to copy)" onclick="copyToClipboard('@entry.PlayerId')" class="leaderboard-tooltip">@rank</span>
						</div>
						<div>@cem.FlagHtml</div>
						<div class="text-left leaderboard-username">
							@{
								<span class="@cem.DaggerName">@(player?.PlayerName ?? "Player not found")</span>
								@cem.TitlesHtml
							}
						</div>
						<div class="text-right @cem.DaggerName">@(entry.Time.FormatTimeInteger())</div>
						<div class="hidden-xs text-right">@entry.EnemiesKilled.ToString(FormatUtils.LeaderboardIntFormat)</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@entry.EnemiesAlive.ToString(FormatUtils.LeaderboardIntFormat)</div>
						<div class="hidden-xs text-right">@entry.GemsCollected.ToString(FormatUtils.LeaderboardIntFormat)</div>
						<div class="hidden-xs hidden-sm text-right">@cem.GemsDespawned</div>
						<div class="hidden-xs hidden-sm text-right">@cem.GemsEaten</div>
						<div class="hidden-xs text-right">
							<span data-toggle="tooltip" title="@cem.DaggerTooltipText" class="leaderboard-tooltip">@cem.Accuracy</span>
						</div>
						<div class="hidden-xs hidden-sm hidden-md text-left" style="@cem.DeathStyle">@cem.DeathName</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@entry.HomingDaggers.ToString(FormatUtils.LeaderboardIntFormat)</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@cem.LevelUpTime2</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@cem.LevelUpTime3</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@cem.LevelUpTime4</div>
						<div class="hidden-xs hidden-sm hidden-md text-right submit-date">@cem.SubmitDate.ToString("dd MMM yyyy")</div>
					</div>
					<div class="leaderboard-expand flex-container" id="@(rank)-expand">
						<div class="visible-xs">
							<div class="text-left">Enemies killed</div>
							<div class="text-right">@entry.EnemiesKilled.ToString(FormatUtils.LeaderboardIntFormat)</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Enemies alive</div>
							<div class="text-right">@entry.EnemiesAlive.ToString(FormatUtils.LeaderboardIntFormat)</div>
						</div>
						<div class="visible-xs">
							<div class="text-left">Gems collected</div>
							<div class="text-right">@entry.GemsCollected.ToString(FormatUtils.LeaderboardIntFormat)</div>
						</div>
						<div class="visible-xs visible-sm">
							<div class="text-left">Gems despawned</div>
							<div class="text-right">@cem.GemsDespawned</div>
						</div>
						<div class="visible-xs visible-sm">
							<div class="text-left">Gems eaten</div>
							<div class="text-right">@cem.GemsEaten</div>
						</div>
						<div class="visible-xs">
							<div class="text-left">Accuracy</div>
							<div class="text-right">
								<span data-toggle="tooltip" title="@cem.DaggerTooltipText" class="leaderboard-tooltip">@cem.Accuracy</span>
							</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Death type</div>
							<div class="text-right" style="@cem.DeathStyle">@cem.DeathName</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Homing</div>
							<div class="text-right">@entry.HomingDaggers.ToString(FormatUtils.LeaderboardIntFormat)</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Level 2</div>
							<div class="text-right">@cem.LevelUpTime2</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Level 3</div>
							<div class="text-right">@cem.LevelUpTime3</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Level 4</div>
							<div class="text-right">@cem.LevelUpTime4</div>
						</div>
						<div class="visible-xs visible-sm visible-md submit-date">
							<div class="text-left">Submit date</div>
							<div class="text-right">@cem.SubmitDate.ToString("dd MMM yyyy")</div>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>
