@model IDefaultLeaderboardPageModel
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.Extensions
@using DevilDaggersWebsite.Razor.Models
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersWebsite.Razor.Pages.Leaderboard
@using Microsoft.EntityFrameworkCore
@inject DevilDaggersWebsite.Entities.ApplicationDbContext dbContext
@{
	bool isIndex = false;
	bool showMoreStats = false;
	if (Model is IndexModel indexModel)
	{
		isIndex = true;
		showMoreStats = indexModel.ShowMoreStats;
	}
}

<div class="leaderboard-container flex-container flex-center">
	<div class="leaderboard-title-row @(showMoreStats ? "row-more-stats" : "") flex-container">
		<div class="sorter text-right" sort="rank">#</div>
		<div class="sorter text-left" sort="flag">Flag</div>
		<div class="sorter text-left" sort="username">Username</div>
		<div class="sorter text-right" sort="time">Time</div>
		<div class="sorter hidden-xs text-right" sort="kills">Kills</div>
		<div class="sorter hidden-xs text-right" sort="gems">Gems</div>
		<div class="sorter hidden-xs text-right" sort="accuracy">Accuracy</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-left" sort="death-type">Death type</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="total-time">Total time</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="total-kills">Total kills</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="total-gems">Total gems</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="total-accuracy">Total accuracy</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-right" sort="total-deaths">Total deaths</div>
		@if (showMoreStats)
		{
			<div class="sorter visible-xl text-right" sort="daggers-hit">Daggers hit</div>
			<div class="sorter visible-xl text-right" sort="daggers-fired">Daggers fired</div>
			<div class="sorter visible-xl text-right" sort="total-daggers-hit">Total daggers hit</div>
			<div class="sorter visible-xl text-right" sort="total-daggers-fired">Total daggers fired</div>
			<div class="sorter visible-xl text-right" sort="average-time">Average time</div>
			<div class="sorter visible-xl text-right" sort="average-kills">Average kills</div>
			<div class="sorter visible-xl text-right" sort="average-gems">Average gems</div>
			<div class="sorter visible-xl text-right" sort="average-daggers-hit">Average daggers hit</div>
			<div class="sorter visible-xl text-right" sort="average-daggers-fired">Average daggers fired</div>
			<div class="sorter visible-xl text-right" sort="time-by-death">Time divided by deaths</div>
		}
	</div>
	<div class="leaderboard-body">
		@{
			GameVersion gameVersion = GameInfo.GetGameVersionFromDate(Model.Leaderboard?.DateTime ?? DateTime.UtcNow) ?? GameVersion.V1;
			List<Donation> donations = dbContext.Donations.ToList();
			List<Player> players = dbContext.Players.Include(p => p.PlayerTitles).ThenInclude(pt => pt.Title).ToList();
			foreach (Dto.Entry entry in Model.Leaderboard?.Entries ?? new())
			{
				Player? player = players.FirstOrDefault(p => p.Id == entry.Id);

				EntryModel em = new(entry, player, donations, !isIndex, gameVersion);

				<div class="sort @em.BanString" @em.HtmlData>
					<div class="leaderboard-row pointer @(showMoreStats ? "row-more-stats" : "") flex-container" id="@(entry.Rank)-row">
						<div class="text-right">
							@if (entry.Id != 0)
							{
								<span data-toggle="tooltip" title="ID: @entry.Id (click to copy)" onclick="copyToClipboard('@entry.Id')" class="leaderboard-tooltip">@em.Rank</span>
							}
							else
							{
								<span style="color: #ff0;" data-toggle="tooltip" title="ID: ???" class="leaderboard-tooltip">@em.Rank</span>
							}
						</div>
						<div>
							@if (string.IsNullOrEmpty(em.FlagCode))
							{
								<span><img src="/images/Flags/24x24/00.png" /></span>
							}
							else
							{
								<span class="leaderboard-tooltip" data-toggle="tooltip" title="@em.CountryName"><img src="/images/Flags/24x24/@(em.FlagCode).png" /></span>
							}
						</div>
						<div class="text-left leaderboard-username @em.BanString">
							@{
								if (player?.IsBanned ?? false)
								{
									<span data-toggle="tooltip" title="@player.BanDescription" class="leaderboard-tooltip @em.DaggerColor">@entry.Username</span>
								}
								else
								{
									<span class="@em.DaggerColor">@entry.Username</span>
								}

								if (em.Titles != null)
								{
									foreach (string title in em.Titles)
									{
										<span class="leaderboard-tooltip" data-toggle="tooltip" title="@title"><img src="/images/Icons/@(UserUtils.TitleImages[title]).png" /></span>
									}
								}
								if (em.IsUnanonymousDonator)
								{
									string title = "Donator";
									<span class="leaderboard-tooltip" data-toggle="tooltip" title="@title"><img src="/images/Icons/@(UserUtils.TitleImages[title]).png" /></span>
								}
							}
						</div>
						<div class="text-right @em.DaggerColor">@em.Time</div>
						<div class="hidden-xs text-right">@em.Kills</div>
						<div class="hidden-xs text-right">@em.Gems</div>
						<div class="hidden-xs text-right">
							<span data-toggle="tooltip" title="@em.Daggers" class="leaderboard-tooltip">@em.Accuracy</span>
						</div>
						<div class="hidden-xs hidden-sm hidden-md text-left" style="@em.DeathStyle">@em.DeathName</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@em.TimeTotal</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@em.KillsTotal</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@em.GemsTotal</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">
							<span data-toggle="tooltip" title="@em.DaggersTotal" class="leaderboard-tooltip">@em.AccuracyTotal</span>
						</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@em.DeathsTotal</div>
						@if (showMoreStats)
						{
							<div class="visible-xl text-right">@em.DaggersHit</div>
							<div class="visible-xl text-right">@em.DaggersFired</div>
							<div class="visible-xl text-right">@em.DaggersHitTotal</div>
							<div class="visible-xl text-right">@em.DaggersFiredTotal</div>
							<div class="visible-xl text-right">@em.AverageTime</div>
							<div class="visible-xl text-right">@em.AverageKills</div>
							<div class="visible-xl text-right">@em.AverageGems</div>
							<div class="visible-xl text-right">@em.AverageDaggersHit</div>
							<div class="visible-xl text-right">@em.AverageDaggersFired</div>
							<div class="visible-xl text-right">@em.TimeByDeath</div>
						}
					</div>
					<div class="leaderboard-expand flex-container" id="@(entry.Rank)-expand">
						<div class="visible-xs">
							<div class="text-left">Kills</div>
							<div class="text-right">@em.Kills</div>
						</div>
						<div class="visible-xs">
							<div class="text-left">Gems</div>
							<div class="text-right">@em.Gems</div>
						</div>
						<div class="visible-xs">
							<div class="text-left">Accuracy</div>
							<div class="text-right">
								<span data-toggle="tooltip" title="@em.Daggers" class="leaderboard-tooltip">@em.Accuracy</span>
							</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Death type</div>
							<div class="text-right" style="@em.DeathStyle">@(em.DeathName)</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Total time</div>
							<div class="text-right">@em.TimeTotal</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Total kills</div>
							<div class="text-right">@em.KillsTotal</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Total gems</div>
							<div class="text-right">@em.GemsTotal</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Total accuracy</div>
							<div class="text-right">
								<span data-toggle="tooltip" title="@em.DaggersTotal" class="leaderboard-tooltip">@em.AccuracyTotal</span>
							</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Total deaths</div>
							<div class="text-right">@em.DeathsTotal</div>
						</div>
						@if (showMoreStats)
						{
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Daggers hit</div>
								<div class="text-right">@em.DaggersHit</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Daggers fired</div>
								<div class="text-right">@em.DaggersFired</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Total daggers hit</div>
								<div class="text-right">@em.DaggersHitTotal</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Total daggers fired</div>
								<div class="text-right">@em.DaggersFiredTotal</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Average time</div>
								<div class="text-right">@em.AverageTime</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Average kills</div>
								<div class="text-right">@em.AverageKills</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Average gems</div>
								<div class="text-right">@em.AverageGems</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Average daggers hit</div>
								<div class="text-right">@em.AverageDaggersHit</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Average daggers fired</div>
								<div class="text-right">@em.AverageDaggersFired</div>
							</div>
							<div class="hidden-xs hidden-xl">
								<div class="text-left">Time divided by deaths</div>
								<div class="text-right">@em.TimeByDeath</div>
							</div>
						}
						<div style="padding-top: 1em;">
							@if (isIndex)
							{
								<a asp-route-UserId="@entry.Id">View more info</a>
							}
							else
							{
								<a asp-page="../Leaderboard/Index" asp-route-UserId="@entry.Id">View more info</a>
							}
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>
