@model IDefaultLeaderboardPage
@using DevilDaggersCore.Game
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.Extensions
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Razor.Utils
@using Microsoft.EntityFrameworkCore
@inject DevilDaggersWebsite.Entities.ApplicationDbContext dbContext

<div class="leaderboard-container flex-container flex-center">
	<div class="leaderboard-title-row flex-container">
		<div class="sorter text-center" sort="rank">#</div>
		<div class="sorter text-center" sort="flag">Flag</div>
		<div class="sorter text-center" sort="username">Username</div>
		<div class="sorter text-center" sort="time">Time</div>

		<div class="sorter hidden-xs text-center" sort="e-dpi">eDPI</div>
		<div class="sorter hidden-xs text-center" sort="dpi">DPI</div>
		<div class="sorter hidden-xs text-center" sort="in-game-sens">In-game sens</div>
		<div class="sorter hidden-xs text-center" sort="fov">FOV</div>

		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="hand">Hand orientation</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="flash">Hand flash</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="gamma">Gamma</div>
	</div>
	<div class="leaderboard-body">
		@{
			IEnumerable<Donation> donations = dbContext.Donations.ToList();
			IEnumerable<Player> players = dbContext.Players.Include(p => p.PlayerTitles).ThenInclude(pt => pt.Title).ToList();
			foreach (Dto.Entry entry in Model.Leaderboard?.Entries ?? new())
			{
				Player? player = players.FirstOrDefault(p => p.Id == entry.Id);
				if (player == null || player.Dpi == null)
					continue;

				bool isUnanonymousDonator = !player.IsAnonymous && donations.Any(d => d.PlayerId == entry.Id);

				string flagCode = player.CountryCode ?? string.Empty;
				string[] titles = player.PlayerTitles.Select(pt => pt.Title.Name).ToArray();

				Dagger dagger = GameInfo.GetDaggerFromTime(entry.Time);
				Death? death = GameInfo.GetDeathByType(entry.DeathType, GameInfo.GetGameVersionFromDate(Model.Leaderboard?.DateTime ?? DateTime.Now));

				string daggerColor = dagger.Name.ToLower();
				string deathStyle = $"color: #{death?.ColorCode ?? "444"};";

				<div class="sort" @entry.ToHtmlData(flagCode, player)>
					<div class="leaderboard-row flex-container" id="@(entry.Rank)-row">
						<div class="text-right"><span data-toggle="tooltip" title="ID: @entry.Id (click to copy)" onclick="copyToClipboard('@entry.Id')" class="leaderboard-tooltip">@entry.Rank</span></div>
						<div>
							@if (string.IsNullOrEmpty(flagCode))
							{
								<span><img src="/images/Flags/24x24/00.png" /></span>
							}
							else
							{
								<span class="leaderboard-tooltip" data-toggle="tooltip" title="@UserUtils.CountryNames[flagCode]"><img src="/images/Flags/24x24/@(flagCode).png" /></span>
							}
						</div>
						<div class="text-left leaderboard-username">
							<span class="@daggerColor">@entry.Username</span>
							@{
								if (titles != null)
								{
									foreach (string title in titles)
									{
										<span class="leaderboard-tooltip" data-toggle="tooltip" title="@title"><img src="/images/Icons/@(UserUtils.TitleImages[title]).png" /></span>
									}
								}
								if (isUnanonymousDonator)
								{
									string title = "Donator";
									<span class="leaderboard-tooltip" data-toggle="tooltip" title="@title"><img src="/images/Icons/@(UserUtils.TitleImages[title]).png" /></span>
								}
							}
						</div>
						<div class="text-right @daggerColor">@(entry.Time.FormatTimeInteger())</div>
						<div class="hidden-xs text-right">@(player.Edpi != null ? player.Edpi.Value.ToString(FormatUtils.MouseSensitivityFormat) : string.Empty)</div>
						<div class="hidden-xs text-right">@player.Dpi</div>
						<div class="hidden-xs text-right">@(player.InGameSens != null ? player.InGameSens.Value.ToString(FormatUtils.MouseSensitivityFormat) : string.Empty)</div>
						<div class="hidden-xs text-right">@player.Fov</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@player.RightHandedString</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@player.FlashEnabledString</div>
						<div class="hidden-xs hidden-sm hidden-md text-right">@player.Gamma</div>
					</div>
					<div class="leaderboard-expand flex-container" id="@(entry.Rank)-expand">
						<div class="visible-xs">
							<div class="text-left">eDPI</div>
							<div class="text-right">@(player.Edpi != null ? player.Edpi.Value.ToString(FormatUtils.MouseSensitivityFormat) : string.Empty)</div>
						</div>
						<div class="visible-xs">
							<div class="text-left">DPI</div>
							<div class="text-right">@player.Dpi</div>
						</div>
						<div class="visible-xs">
							<div class="text-left">In-game sens</div>
							<div class="text-right">@(player.InGameSens != null ? player.InGameSens.Value.ToString(FormatUtils.MouseSensitivityFormat) : string.Empty)</div>
						</div>
						<div class="visible-xs">
							<div class="text-left">FOV</div>
							<div class="text-right">@player.Fov</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Hand orientation</div>
							<div class="text-right">@player.RightHandedString</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Hand flash</div>
							<div class="text-right">@player.FlashEnabledString</div>
						</div>
						<div class="visible-xs visible-sm visible-md">
							<div class="text-left">Gamma</div>
							<div class="text-right">@player.Gamma</div>
						</div>
						<div style="padding-top: 1em;">
							<a asp-page="../Leaderboard/Index" asp-route-UserId="@entry.Id">View more info</a>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>
