@model IEntryModel
@using DevilDaggersWebsite.Razor.Models
@using DevilDaggersWebsite.Razor.Utils

<div class="text-left leaderboard-username @Model.BanString">
	@{
		if (Model.IsBanned)
		{
			<span data-toggle="tooltip" title="@Model.BanDescription" class="leaderboard-tooltip @Model.DaggerColor">@Model.Username</span>
		}
		else
		{
			<span class="@Model.DaggerColor">@Model.Username</span>
		}

		if (Model.Titles.Length > 0)
		{
			foreach (string title in Model.Titles)
			{
				<span class="leaderboard-tooltip" data-toggle="tooltip" title="@title"><img src="/images/Icons/@(UserUtils.TitleImages[title]).png" /></span>
			}
		}
	}
</div>
