@model IDefaultLeaderboardPageModel
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Razor.Pages.Leaderboard
@{
	Type modelType = Model.GetType();
	bool isHistory = modelType == typeof(HistoryModel);

	string players = Model.Leaderboard?.Players.ToString(FormatUtils.LeaderboardIntFormat) ?? "Failed to fetch";
	string time = Model.Leaderboard?.TimeGlobal.FormatTimeInteger(true) ?? "Failed to fetch";
	string kills = Model.Leaderboard?.KillsGlobal.ToString(FormatUtils.LeaderboardIntFormat) ?? "Failed to fetch";
	string gems = Model.Leaderboard?.GemsGlobal.ToString(FormatUtils.LeaderboardIntFormat) ?? "Failed to fetch";
	string deaths = Model.Leaderboard?.DeathsGlobal.ToString(FormatUtils.LeaderboardIntFormat) ?? "Failed to fetch";
	string daggers = Model.Leaderboard == null ? "Failed to fetch" : FormatUtils.FormatDaggersUInt64(Model.Leaderboard.DaggersHitGlobal, Model.Leaderboard.DaggersFiredGlobal, isHistory);
	string accuracy = Model.Leaderboard?.AccuracyGlobal.ToString(FormatUtils.AccuracyFormat) ?? "Failed to fetch";
}
<div class="leaderboard-global-container visible-xs">
	<div class="row">
		<div class="col-xs-6">Total players</div>
		<div class="col-xs-6 devil text-right">@players</div>
	</div>
	<div class="row">
		<div class="col-xs-6">Global time</div>
		<div class="col-xs-6 devil text-right">@time</div>
	</div>
	<div class="row">
		<div class="col-xs-6">Global kills</div>
		<div class="col-xs-6 devil text-right">@kills</div>
	</div>
	<div class="row">
		<div class="col-xs-6">Global gems</div>
		<div class="col-xs-6 devil text-right">@gems</div>
	</div>
	<div class="row">
		<div class="col-xs-6">Global accuracy</div>
		<div class="col-xs-6 text-right">
			<span data-toggle="tooltip" title="@daggers" class="leaderboard-tooltip"><span class="devil">@accuracy</span></span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">Global deaths</div>
		<div class="col-xs-6 devil text-right">@deaths</div>
	</div>
</div>

<div class="hidden-xs text-center">
	<div class="flex-container flex-center flex-space-evenly icon-list">
		<div>
			<div class="icon-large" data-toggle='tooltip' title='Total players'><img src="~/images/Icons/eye4x4.png" /></div>
			<div class="devil text-center">@players</div>
		</div>
		<div>
			<div class="icon-large" data-toggle='tooltip' title='Global time'><img src="~/images/Icons/stopwatchx4.png" /></div>
			<div class="devil text-center">@time</div>
		</div>
		<div>
			<div class="icon-large" data-toggle='tooltip' title='Global kills'><img src="~/images/Icons/daggerx4.png" /></div>
			<div class="devil text-center">@kills</div>
		</div>
		<div>
			<div class="icon-large" data-toggle='tooltip' title='Global gems'><img src="~/images/Icons/gemx4.png" /></div>
			<div class="devil text-center">@gems</div>
		</div>
		<div>
			<div class="icon-large" data-toggle='tooltip' title='Global accuracy'><img src="~/images/Icons/crosshairx4.png" /></div>
			<div class="text-center">
				<span data-toggle="tooltip" title="@daggers" class="leaderboard-tooltip"><span class="devil">@accuracy</span></span>
			</div>
		</div>
		<div>
			<div class="icon-large" data-toggle='tooltip' title='Global deaths'><img src="~/images/Icons/skullx4.png" /></div>
			<div class="devil text-center">@deaths</div>
		</div>
	</div>
</div>
