@model string
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@inject DevilDaggersWebsite.Transients.SpawnsetHelper spawnsetHelper
@inject ApplicationDbContext dbContext
@using DevilDaggersCore.Game
@using DevilDaggersCore.Utils
@using DevilDaggersCore.Spawnsets
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.Utils
@using System.IO
@{
	SpawnsetFile? sf = dbContext.SpawnsetFiles.FirstOrDefault(sf => sf.Name == Model);
	if (sf == null || !Spawnset.TryParse(File.ReadAllBytes(System.IO.Path.Combine(env.WebRootPath, "spawnsets", Model)), out Spawnset spawnset))
	{
		return;
	}

	// TODO: Don't use V1 or V2 layout/Ghostpede pattern when viewing in Spawnset page. This should only be done for the wiki.
	GameVersion gameVersion = sf.Name == "V1" ? GameVersion.V1 : sf.Name == "V2" ? GameVersion.V2 : GameVersion.V31;
	int maxWaves = sf.MaxDisplayWaves ?? SpawnsetUtils.DefaultMaxWaves;
	string wavesQuery = httpContextAccessor.HttpContext!.Request.Query["waves"];
	if (int.TryParse(wavesQuery, out int parsed) && parsed > 0)
	{
		maxWaves = parsed;
	}

	int endLoopIndex = spawnset.GetEndLoopStartIndex();
	IEnumerable<Spawn> preLoopSpawns = spawnset.Spawns.Values.SkipLast(spawnset.Spawns.Count - endLoopIndex);
	List<Spawn> loopSpawns = spawnset.Spawns.Values.Skip(endLoopIndex).ToList();
	bool hasEndLoop = loopSpawns.Any(s => s.Enemy != null);

	Upgrade? hand = GameInfo.GetUpgrades(GameVersion.V31).FirstOrDefault(u => u.Name == $"Level {spawnset.Hand}") ?? GameInfo.V31Level1;

	<div class="flex-container flex-column section-container">
		<div class="spawns-header-container">
			<div class="flex-container flex-space-evenly spawns-flex-container">
				<div>Timer start</div>
				<div>Hand</div>
				<div>Additional gems</div>
			</div>
			<div class="flex-container flex-space-evenly spawns-flex-container">
				<div>@spawnset.TimerStart.ToString(FormatUtils.SpawnTimeFormat)</div>
				<div>@hand.GetLayoutAnchor()</div>
				<div>@spawnset.AdditionalGems</div>
			</div>
		</div>

		@if (spawnset.HasSpawns())
		{
			<div class="flex-container flex-space-evenly spawns-flex-container">
				@if (hasEndLoop)
				{
					<div>Section</div>
				}
				<div class="text-right">Time</div>
				<div>Enemy</div>
				<div class="text-right">Gems (no farm)</div>
				<div class="text-right">Total gems</div>
			</div>

			double totalSeconds = spawnset.TimerStart;
			int totalGems = spawnset.Hand switch
			{
				2 => 10,
				3 => 70,
				4 => 220,
				_ => 0,
			};
			totalGems += spawnset.AdditionalGems;

			foreach (Spawn spawn in preLoopSpawns)
			{
				totalSeconds += spawn.Delay;
				if (spawn.Enemy != null)
				{
					totalGems += spawn.Enemy.NoFarmGems;

					<div class="flex-container flex-space-evenly spawns-flex-container">
						@if (hasEndLoop)
						{
							<div></div>
						}
						<div class="text-right">@totalSeconds.ToString(FormatUtils.SpawnTimeFormat)</div>
						<div>@(spawn.Enemy.GetLayoutAnchor(false, gameVersion))</div>
						<div class="text-right">@spawn.Enemy.NoFarmGems</div>
						<div class="text-right">@totalGems</div>
					</div>
				}
			}

			if (loopSpawns.Any(s => s.Enemy != null))
			{
				int spawns = spawnset.Spawns.Count(s => s.Value.Enemy != null);

				double endGameSecond = totalSeconds;
				for (int i = 0; i < maxWaves; i++)
				{
					if (spawns > SpawnsetUtils.MaxSpawns)
					{
						break;
					}

					<div class="text-left end-wave-separator"></div>
					double enemyTimer = 0;
					double delay = 0;
					bool firstSpawnDone = false;
					foreach (Spawn spawn in loopSpawns)
					{
						if (spawn.Enemy != null)
						{
							spawns++;
						}

						delay += spawn.Delay;
						while (enemyTimer < delay)
						{
							endGameSecond += 1f / 60f;
							enemyTimer += (1f / 60f) + (1f / 60f / 8f * i);
						}

						if (spawn.Enemy != null)
						{
							Enemy finalEnemy = spawn.Enemy;
							if (i % 3 == 2 && gameVersion >= GameVersion.V3 && finalEnemy.SpawnsetType == GameInfo.V3Gigapede.SpawnsetType)
							{
								// Change the third Gigapede into a Ghostpede.
								finalEnemy = GameInfo.V3Ghostpede;
							}

							int gems = finalEnemy.NoFarmGems;
							totalGems += gems;

							<div class="flex-container flex-space-evenly spawns-flex-container">
								@if (hasEndLoop)
								{
									<div>@(!firstSpawnDone ? $"Wave {i + 1}" : string.Empty)</div>
								}
								<div class="text-right">@((Math.Floor(endGameSecond * 60) / 60).ToString(FormatUtils.SpawnTimeFormat))</div>
								<div>@(finalEnemy.GetLayoutAnchor(false, gameVersion))</div>
								<div class="text-right">@gems</div>
								<div class="text-right">@totalGems</div>
							</div>

							firstSpawnDone = true;
						}
					}
				}
			}

			<div style="color: var(--col-red); font-size: 24px;">@(hasEndLoop ? "Goes on eternally..." : "End of spawnset")</div>
		}
	</div>
}
