@inject AdminApiHttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersInfo.Web.Client.Enums
@using DevilDaggersInfo.Web.Client.HttpClients
@typeparam TStateObject
@typeparam TModel

<Heading Title="@($"Edit {Name}")" />

@switch (State)
{
	case ErrorState.ValidationError:
		{
			<ResultBar Title="Validation failed" ResultBarType="ResultBarType.ValidationError" DismissEvent="Dismiss">
				@ErrorMessage
			</ResultBar>
		}
		break;
	case ErrorState.FatalError:
		{
			<ResultBar Title="Fatal error" ResultBarType="ResultBarType.FatalError" DismissEvent="Dismiss">
				@ErrorMessage
			</ResultBar>
		}
		break;
}

<EditForm Model="@StateObject" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	@ChildContent

	@{
		const string disabledStyle = "disabled:opacity-50 cursor-default btn-disabled";
		const string enabledStyle = "btn-gray";
	}

	<button disabled="@_submitting" class="@(_submitting ? disabledStyle : enabledStyle) btn p-2" type="submit">Submit</button>
</EditForm>
