@page
@model DevilDaggersWebsite.Pages.Admin.Players.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Player</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Player.Id)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.Id)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.Username)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.Username)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.IsAnonymous)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.IsAnonymous)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.CountryCode)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.CountryCode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.Dpi)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.Dpi)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.InGameSens)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.InGameSens)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.Fov)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.Fov)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.RightHanded)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.RightHanded)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.FlashEnabled)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.FlashEnabled)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.Gamma)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.Gamma)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.IsBanned)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.IsBanned)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.BanDescription)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.BanDescription)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Player.BanResponsibleId)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Player.BanResponsibleId)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.Player.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>