@page "/leaderboard"
@inject PublicApiHttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersInfo.Core.Wiki.Enums
@using DevilDaggersInfo.Web.BlazorWasm.Client.Components.Leaderboards
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Leaderboards
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Players

<Heading Title="Leaderboard" />

@if (GetLeaderboard == null)
{
	@if (_apiError == null)
	{
		<Loading />
	}
	else
	{
		// TODO: Only display this error message if we're sure the issue is from the official Devil Daggers leaderboard servers.
		<p class="py-1">Failed to retrieve scores from the official Devil Daggers leaderboard servers. Please try again later.</p>
		<p class="py-1">@_apiError</p>
	}
}
else
{
	<div class="bg-gray-1 p-2 text-lg">
		<span>Rank</span>
		<input class="bg-black border-gray-3 border-2" @onchange="ChangeInputRank" />
		<div>
			@if (_reloading)
			{
				<Loading />
			}
			else
			{
				<span>Showing rank @Rank - @(Rank + 99)</span>
			}
		</div>
		<div>
			@{
				bool f = Rank <= 1;
				bool l = Rank >= _maxRank;
				const string disabledStyle = "disabled:opacity-50 cursor-default";
			}
			<button disabled="@f" class="@(f ? disabledStyle : string.Empty) btn btn-gray-light w-10 h-10 mx-1" @onclick="() => SetRank(1)">@MarkupUtils.NavStart</button>
			<button disabled="@f" class="@(f ? disabledStyle : string.Empty) btn btn-gray-light w-10 h-10 mx-1" @onclick="() => SetRank(Rank - 1000)">@MarkupUtils.NavPrevDouble</button>
			<button disabled="@f" class="@(f ? disabledStyle : string.Empty) btn btn-gray-light w-10 h-10 mx-1" @onclick="() => SetRank(Rank - 100)">@MarkupUtils.NavPrev</button>
			<button disabled="@l" class="@(l ? disabledStyle : string.Empty) btn btn-gray-light w-10 h-10 mx-1" @onclick="() => SetRank(Rank + 100)">@MarkupUtils.NavNext</button>
			<button disabled="@l" class="@(l ? disabledStyle : string.Empty) btn btn-gray-light w-10 h-10 mx-1" @onclick="() => SetRank(Rank + 1000)">@MarkupUtils.NavNextDouble</button>
			<button disabled="@l" class="@(l ? disabledStyle : string.Empty) btn btn-gray-light w-10 h-10 mx-1" @onclick="() => SetRank(GetLeaderboard.TotalPlayers - 99)">@MarkupUtils.NavEnd</button>
		</div>
	</div>

	<LeaderboardGlobal Leaderboard="GetLeaderboard" IsHistory="false" />
	<LeaderboardTableInfo />
	<LeaderboardTable TGetLeaderboardDto="GetLeaderboard" TGetEntryDto="GetEntry" Leaderboard="GetLeaderboard" Players="Players" IsHistory="false" GameVersion="GameConstants.CurrentVersion" />
}

@code
{
	private int _rank = 1;
	private string? _apiError;
	private bool _reloading;

	private int _maxRank => (GetLeaderboard?.TotalPlayers ?? int.MaxValue) - 99;

	[Parameter, SupplyParameterFromQuery] public int Rank { get => _rank; set => _rank = Math.Max(1, value); }

	public GetLeaderboard? GetLeaderboard { get; set; }

	public List<GetPlayerForLeaderboard>? Players { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Players = await Http.GetPlayersForLeaderboard();
		await FetchLeaderboard();
	}

	private async Task SetRank(int value)
	{
		Rank = Math.Clamp(value, 1, _maxRank);
		NavigationManager.AddOrModifyQueryParameter(QueryParameters.Rank, Rank);

		await FetchLeaderboard();
	}

	private async Task FetchLeaderboard()
	{
		try
		{
			if (GetLeaderboard != null)
				_reloading = true;

			GetLeaderboard = await Http.GetLeaderboard(Rank);
			_reloading = false;
		}
		catch (Exception ex)
		{
			_apiError = ex.Message;
		}
	}

	private async Task ChangeInputRank(ChangeEventArgs e)
	{
		if (int.TryParse(e.Value?.ToString(), out int result))
			await SetRank(result);
	}

	private static class QueryParameters
	{
		public static string Rank { get; } = nameof(Rank);
	}
}
