@page "/leaderboard"
@inject PublicApiHttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersInfo.Core.Wiki.Enums
@using DevilDaggersInfo.Web.BlazorWasm.Client.Components.Leaderboards
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Leaderboards
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Players

<Heading Title="Leaderboard" />

@if (GetLeaderboard == null)
{
	@if (_apiError == null)
	{
		<Loading />
	}
	else
	{
		// TODO: Only display this error message if we're sure the issue is from the official Devil Daggers leaderboard servers.
		<p class="py-1">Failed to retrieve scores from the official Devil Daggers leaderboard servers. Please try again later.</p>
		<p class="py-1">@_apiError</p>
	}
}
else
{
	<div class="bg-gray-1 p-2 text-lg">
		<span>Rank</span>
		<input class="bg-black border-gray-3 border-2" value="@Rank" @onchange="ChangeInputRank" />
		<div>
			@if (_reloading)
			{
				<Loading />
			}
			else
			{
				<span>Showing rank @Rank - @(Rank + 99)</span>
			}
		</div>
		<div>
			@{
				bool f = Rank <= 1;
				bool l = Rank >= _maxRank;
				const string disabledStyle = "disabled:opacity-50 cursor-default btn-disabled";
				const string enabledStyle = "btn-gray-light";
			}
			<button disabled="@f" class="@(f ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(1)">@MarkupUtils.NavStart</button>
			<button disabled="@f" class="@(f ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank - 1000)">@MarkupUtils.NavPrevDouble</button>
			<button disabled="@f" class="@(f ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank - 100)">@MarkupUtils.NavPrev</button>
			<button disabled="@l" class="@(l ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank + 100)">@MarkupUtils.NavNext</button>
			<button disabled="@l" class="@(l ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(Rank + 1000)">@MarkupUtils.NavNextDouble</button>
			<button disabled="@l" class="@(l ? disabledStyle : enabledStyle) btn w-10 h-10 mx-1" @onclick="() => SetRank(GetLeaderboard.TotalPlayers - 99)">@MarkupUtils.NavEnd</button>
		</div>
	</div>

	<LeaderboardGlobal Leaderboard="GetLeaderboard" IsHistory="false" />
	<LeaderboardTableInfo />
	<LeaderboardTable TGetEntryDto="GetEntry" Entries="GetLeaderboard.Entries" Players="Players" IsHistory="false" GameVersion="GameConstants.CurrentVersion" />
}
