@page "/leaderboard/player/{Id:int}"
@using Blazorise.Charts
@using DevilDaggersInfo.Web.BlazorWasm.Client.Components.Leaderboards.Player;
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Mods;
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Spawnsets;
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Enums

@if (GetEntry == null)
{
	<Loading />
}
else
{
	<Heading Title="@($"Player - {GetEntry.Username}")" />

	<a href="@($"/leaderboard?Rank={(GetEntry.Rank - 1) / 100 * 100 + 1}")">Back to leaderboard</a>
	<Paragraph>@GetEntry.Username is currently rank @GetEntry.Rank.</Paragraph>
	<div class="grid gap-2 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-5">
		<PlayerCard Title="Personal Best">
			<DataField CssClass="odd:bg-gray-2" Name="Time"><SpanTime TimeInSeconds="@GetEntry.Time" /></DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Kills">@GetEntry.Kills.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Gems">@GetEntry.Gems.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Accuracy">@((GetEntry.DaggersHit / (float)GetEntry.DaggersFired).ToString(FormatUtils.AccuracyFormat))</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Daggers hit">@GetEntry.DaggersHit.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Daggers fired">@GetEntry.DaggersFired.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Death type">@MarkupUtils.DeathString(GetEntry.DeathType)</DataField>
		</PlayerCard>

		<PlayerCard Title="Total Statistics">
			<DataField CssClass="odd:bg-gray-2" Name="Total time">@GetEntry.TimeTotal.ToString(FormatUtils.LeaderboardGlobalTimeFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Total kills">@GetEntry.KillsTotal.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Total gems">@GetEntry.GemsTotal.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Total accuracy">@((GetEntry.DaggersHitTotal / (float)GetEntry.DaggersFiredTotal).ToString(FormatUtils.AccuracyFormat))</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Total daggers hit">@GetEntry.DaggersHitTotal.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Total daggers fired">@GetEntry.DaggersFiredTotal.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
			<DataField CssClass="odd:bg-gray-2" Name="Total deaths">@GetEntry.DeathsTotal.ToString(FormatUtils.LeaderboardIntFormat)</DataField>
		</PlayerCard>

		@if (GetEntry.DeathsTotal > 0)
		{
			float deathsAsFloat = (float)GetEntry.DeathsTotal;

			<PlayerCard Title="Average Statistics">
				<DataField CssClass="odd:bg-gray-2" Name="Average time">@((GetEntry.TimeTotal / deathsAsFloat).ToString(FormatUtils.TimeFormat))</DataField>
				<DataField CssClass="odd:bg-gray-2" Name="Average kills">@((GetEntry.KillsTotal / deathsAsFloat).ToString(FormatUtils.LeaderboardIntAverageFormat))</DataField>
				<DataField CssClass="odd:bg-gray-2" Name="Average gems">@((GetEntry.GemsTotal / deathsAsFloat).ToString(FormatUtils.LeaderboardIntAverageFormat))</DataField>
				<DataField CssClass="odd:bg-gray-2" Name="Average daggers hit">@((GetEntry.DaggersHitTotal / deathsAsFloat).ToString(FormatUtils.LeaderboardIntAverageFormat))</DataField>
				<DataField CssClass="odd:bg-gray-2" Name="Average daggers fired">@((GetEntry.DaggersFiredTotal / deathsAsFloat).ToString(FormatUtils.LeaderboardIntAverageFormat))</DataField>
			</PlayerCard>
		}

		@if (GetPlayer == null)
		{
			@if (!PlayerNotFound)
			{
				<Loading />
			}
		}
		else
		{
			@*TODO: custom entries*@

			if (GetPlayer.Settings != null)
			{
				bool? rightHand = GetPlayer.Settings.IsRightHanded;
				bool? flashHand = GetPlayer.Settings.UsesFlashHand;
				bool? legacyAudio = GetPlayer.Settings.UsesLegacyAudio;

				<PlayerCard Title="Settings">
					<DataField CssClass="odd:bg-gray-2" Name="eDPI">@(GetPlayer.Settings.Edpi?.ToString(FormatUtils.InGameSensFormat) ?? "N/A")</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="DPI">@(GetPlayer.Settings.Dpi?.ToString() ?? "N/A")</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="In-game sens">@(GetPlayer.Settings.InGameSens?.ToString(FormatUtils.InGameSensFormat) ?? "N/A")</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="FOV">@(GetPlayer.Settings.Fov?.ToString() ?? "N/A")</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Gamma">@(GetPlayer.Settings.Gamma?.ToString(FormatUtils.GammaFormat) ?? "N/A")</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Hand orientation">@(rightHand.HasValue ? rightHand.Value ? "Right" : "Left" : "N/A")</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Hand flash">@(flashHand.HasValue ? flashHand.Value ? "On" : "Off" : "N/A")</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Legacy audio">@(legacyAudio.HasValue ? legacyAudio.Value ? "On" : "Off" : "N/A")</DataField>
				</PlayerCard>
			}

			if (GetPlayer.CountryCode != null || GetPlayerHistory != null)
			{
				<PlayerCard Title="Miscellaneous">
					@if (GetPlayer.CountryCode != null)
					{
						<TallDataField CssClass="odd:bg-gray-2" Name="Country">
							<div class="grid grid-cols-2 justify-items-end">
								<img src="/images/flags/@(@GetPlayer.CountryCode).png" />
								<span>@(UserUtils.CountryNames.ContainsKey(GetPlayer.CountryCode) ? UserUtils.CountryNames[GetPlayer.CountryCode] : "?")</span>
							</div>
						</TallDataField>
					}
					@if (GetPlayerHistory != null)
					{
						<DataField CssClass="odd:bg-gray-2" Name="Best rank">@GetPlayerHistory.BestRank</DataField>
						<TallDataField CssClass="odd:bg-gray-2" Name="Usernames">
							@foreach (string username in GetPlayerHistory.Usernames)
							{
								<div class="odd:bg-gray-2 px-1">@username</div>
							}
						</TallDataField>
					}
				</PlayerCard>
			}
		}

		@if (GetCustomLeaderboardStatistics == null || GetNumberOfCustomLeaderboards == null)
		{
			<Loading />
		}
		else
		{
			foreach (CustomLeaderboardCategory category in Enum.GetValues<CustomLeaderboardCategory>())
			{
				var stats = GetCustomLeaderboardStatistics.FirstOrDefault(cls => cls.CustomLeaderboardCategory == category);
				if (stats == null)
					continue;

				_ = GetNumberOfCustomLeaderboards.CountPerCategory.TryGetValue(category, out int total);

				<PlayerCard Title="@($"Custom Leaderboard Statistics ({category})")">
					<DataField CssClass="odd:bg-gray-2" Name="Leviathan daggers">@stats.LeviathanDaggerCount / @total</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Devil daggers">@stats.DevilDaggerCount / @total</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Golden daggers">@stats.GoldenDaggerCount / @total</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Silver daggers">@stats.SilverDaggerCount / @total</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Bronze daggers">@stats.BronzeDaggerCount / @total</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Default daggers">@stats.DefaultDaggerCount / @total</DataField>
					<DataField CssClass="odd:bg-gray-2" Name="Played">@stats.LeaderboardsPlayedCount / @total</DataField>
				</PlayerCard>
			}
		}

		@if (GetSpawnsetNames == null)
		{
			<Loading />
		}
		else if (GetSpawnsetNames.Count > 0)
		{
			<PlayerCard Title="Spawnsets" Scroll="true">
				@foreach (GetSpawnsetName getSpawnsetName in GetSpawnsetNames)
				{
					<div class="odd:bg-gray-2 px-1">
						<a href="@($"/custom/spawnset/{getSpawnsetName.Id}")">@getSpawnsetName.Name</a>
					</div>
				}
			</PlayerCard>
		}

		@if (GetModNames == null)
		{
			<Loading />
		}
		else if (GetModNames.Count > 0)
		{
			<PlayerCard Title="Mods" Scroll="true">
				@foreach (GetModName getModName in GetModNames)
				{
					<div class="odd:bg-gray-2 px-1">
						<a href="@($"/custom/mod/{getModName.Id}")">@getModName.Name</a>
					</div>
				}
			</PlayerCard>
		}
	</div>

	if (GetPlayerHistory != null)
	{
		if (GetPlayerHistory.History.Count > 0)
		{
			<Heading Title="Progression" Level="2" />
			<LineChart Options="LineChartUtils.Options" OptionsJsonString="@LineChartUtils.AdditionalJsonOptionsTime" @ref="_progressionChart" TItem="double" />
		}

		if (GetPlayerHistory.Activity.Count > 0)
		{
			<Heading Title="Activity" Level="2" />
			<LineChart Options="LineChartUtils.Options" OptionsJsonString="@LineChartUtils.AdditionalJsonOptionsTime" @ref="_activityChart" TItem="double" />
		}
	}
}
