@page "/leaderboard/statistics"
@inject PublicApiHttpClient Http
@using DevilDaggersInfo.Core.Wiki
@using DevilDaggersInfo.Core.Wiki.Enums
@using DevilDaggersInfo.Web.BlazorWasm.Client.Core.CanvasChart.Components
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.LeaderboardStatistics

<Heading Title="Leaderboard Statistics" />

@if (_statistics == null)
{
	<Loading />
}
else
{
	if (!_statistics.IsFetched)
	{
		<p class="py-1">Statistics are not initialized.</p>
	}
	else
	{
		<p class="py-1">Statistics were last fetched on @_statistics.DateTime.ToString(FormatUtils.DateTimeUtcFormat).</p>

		<Heading Title="Scores" Level="2" />
		<p>The average time survived for all players is <SpanTime TimeInSeconds="_statistics.Time.Average / 10000.0" /> seconds.</p>
		<p>The median time survived for all players is <SpanTime TimeInSeconds="_statistics.Time.Median / 10000.0" /> seconds.</p>
		<p>The mode time survived for all players is <SpanTime TimeInSeconds="_statistics.Time.Mode / 10000.0" /> seconds.</p>
		<BarChart DataOptions="_sub500DataOptions" UniqueName="#sub500-chart" DataSet="@_sub500Data" Options="_sub500Options" XScaleTexts="Enumerable.Range(0, 50).Select(i => (i * 10).ToString())" />
		<div class="grid grid-cols-1 xl:grid-cols-2">
			<BarChart DataOptions="_sub1000DataOptions" UniqueName="#sub1000-chart" DataSet="@_sub1000Data" XScaleTexts="Enumerable.Range(0, 50).Select(i => ((i + 50) * 10).ToString())" />
			<BarChart DataOptions="_post1000DataOptions" UniqueName="#post1000-chart" DataSet="@_post1000Data" XScaleTexts="Enumerable.Range(0, 50).Select(i => ((i + 100) * 10).ToString())" />
		</div>

		<Heading Title="Kills" Level="2" />
		<p>The average kills for all players is @(_statistics.Kills.Average.ToString("0.00")).</p>
		<p>The median kills for all players is @_statistics.Kills.Median.</p>
		<p>The mode kills for all players is @_statistics.Kills.Mode.</p>
		@*<BarChart Options="_bco" @ref="_killsChart" TItem="int" />*@

		<Heading Title="Gems" Level="2" />
		<p>The average gems for all players is @(_statistics.Gems.Average.ToString("0.00")).</p>
		<p>The median gems for all players is @_statistics.Gems.Median.</p>
		<p>The mode gems for all players is @_statistics.Gems.Mode.</p>
		@*<BarChart Options="_bco" @ref="_gemsChart" TItem="int" />
			<PieChart Options="_pco" @ref="_levelsChart" TItem="int" />*@

		<Heading Title="Daggers Achieved" Level="2" />
		@*<BarChart Options="_bco" @ref="_daggersChart" TItem="int" />*@

		<Heading Title="Death Types" Level="2" />
		@*<BarChart Options="_bco" @ref="_deathsChart" TItem="int" />*@

		<Heading Title="Enemies Seen" Level="2" />
		@*<BarChart Options="_bco" @ref="_enemiesChart" TItem="int" />*@
	}
}
