@page "/leaderboard/statistics"
@inject PublicApiHttpClient Http
@using DevilDaggersInfo.Core.Wiki
@using DevilDaggersInfo.Core.Wiki.Enums
@using DevilDaggersInfo.Web.BlazorWasm.Client.Core.CanvasChart.Components
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.LeaderboardStatistics

<Heading Title="Leaderboard Statistics" />

@if (_statistics == null)
{
	<Loading />
}
else
{
	if (!_statistics.IsFetched)
	{
		<p class="py-1">Statistics are not initialized.</p>
	}
	else
	{
		<p class="py-1">Statistics were last fetched on @_statistics.DateTime.ToString(FormatUtils.DateTimeUtcFormat).</p>

		<Heading Title="Scores" Level="2" />
		<p>The average time survived for all players is <SpanTime TimeInSeconds="_statistics.Times.Average / 10000.0" /> seconds.</p>
		<p>The median time survived for all players is <SpanTime TimeInSeconds="_statistics.Times.Median / 10000.0" /> seconds.</p>
		<p>The mode time survived for all players is <SpanTime TimeInSeconds="_statistics.Times.Mode / 10000.0" /> seconds.</p>
		<BarChart DataOptions="_sub500DataOptions" UniqueName="#sub500-chart" DataSet="@_sub500Data" Options="new() { ChartMarginXInPx = 60 }" XScaleTexts="Enumerable.Range(0, 50).Select(i => (i * 10).ToString())" />
		<div class="grid grid-cols-1 xl:grid-cols-2">
			<BarChart DataOptions="_sub1000DataOptions" UniqueName="#sub1000-chart" DataSet="@_sub1000Data" XScaleTexts="Enumerable.Range(0, 50).Select(i => ((i + 50) * 10).ToString())" />
			<BarChart DataOptions="_post1000DataOptions" UniqueName="#post1000-chart" DataSet="@_post1000Data" XScaleTexts="Enumerable.Range(0, 50).Select(i => ((i + 100) * 10).ToString())" />
		</div>

		<div class="grid grid-cols-1 xl:grid-cols-2">
			<div>
				<Heading Title="Kills" Level="2" />
				<p>The average kills for all players is @(_statistics.Kills.Average.ToString("0.00")).</p>
				<p>The median kills for all players is @_statistics.Kills.Median.</p>
				<p>The mode kills for all players is @_statistics.Kills.Mode.</p>
				<BarChart DataOptions="_killsDataOptions" UniqueName="#kills-chart" DataSet="@_killsData" Options="new() { ChartMarginXInPx = 60 }" XScaleTexts="Enumerable.Range(0, 100).Select(i => (i * 10).ToString())" />
			</div>

			<div>
				<Heading Title="Gems" Level="2" />
				<p>The average gems for all players is @(_statistics.Gems.Average.ToString("0.00")).</p>
				<p>The median gems for all players is @_statistics.Gems.Median.</p>
				<p>The mode gems for all players is @_statistics.Gems.Mode.</p>
				<BarChart DataOptions="_gemsDataOptions" UniqueName="#gems-chart" DataSet="@_gemsData" Options="new() { ChartMarginXInPx = 60 }" XScaleTexts="Enumerable.Range(0, 50).Select(i => (i * 10).ToString())" />
			</div>
		</div>

		<div class="grid grid-cols-1 xl:grid-cols-2">
			<div>
				<Heading Title="Upgrades" Level="2" />
				<BarChart DataOptions="_upgradesDataOptions" UniqueName="#upgrades-chart" DataSet="@_upgradesData" Options="new() { ChartMarginXInPx = 60, ChartMarginYInPx = 80 }" XScaleTexts="_upgrades" />
			</div>

			<div>
				<Heading Title="Daggers Achieved" Level="2" />
				<BarChart DataOptions="_daggersDataOptions" UniqueName="#daggers-chart" DataSet="@_daggersData" Options="new() { ChartMarginXInPx = 60, ChartMarginYInPx = 80 }" XScaleTexts="_daggers" />
			</div>

			<div>
				<Heading Title="Death Types" Level="2" />
				<BarChart DataOptions="_deathsDataOptions" UniqueName="#deaths-chart" DataSet="@_deathsData" Options="new() { ChartMarginXInPx = 60, ChartMarginYInPx = 80 }" XScaleTexts="_deathTypes" />
			</div>

			<div>
				<Heading Title="Enemies Seen" Level="2" />
				<BarChart DataOptions="_enemiesDataOptions" UniqueName="#enemies-chart" DataSet="@_enemiesData" Options="new() { ChartMarginXInPx = 60, ChartMarginYInPx = 80 }" XScaleTexts="_enemies" />
			</div>
		</div>
	}
}
