@page "/admin/players/add"
@inject AdminApiHttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Admin.Mods
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Admin.Players
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Admin.Titles
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net

<h1 class="text-red text-2xl">Add</h1>

@switch (State)
{
	case ErrorState.ValidationError:
		{
			<ResultBar Title="Validation failed" ResultBarType="ResultBarType.ValidationError" DismissEvent="() => State = ErrorState.None">
				@_errorMessage
			</ResultBar>
		}
		break;
	case ErrorState.FatalError:
		{
			<ResultBar Title="Fatal error" ResultBarType="ResultBarType.FatalError" DismissEvent="() => State = ErrorState.None">
				@_errorMessage
			</ResultBar>
		}
		break;
}

<EditForm Model="@_addPlayer" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Id)</label>
		<InputNumber class="w-64 pl-2 bg-gray-900 text-color-text" @bind-Value="_addPlayer.Id" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.CountryCode)</label>
		<SearchDropdown Values="@UserUtils.CountryNames" @bind-Value="@_addPlayer.CountryCode" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Dpi)</label>
		<InputNumber class="w-64 pl-2 bg-gray-900 text-color-text" @bind-Value="@_addPlayer.Dpi" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Fov)</label>
		<InputNumber class="w-64 pl-2 bg-gray-900 text-color-text" @bind-Value="@_addPlayer.Fov" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Gamma)</label>
		<InputNumber class="w-64 pl-2 bg-gray-900 text-color-text" @bind-Value="@_addPlayer.Gamma" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HasFlashHandEnabled)</label>
		<InputNullableBoolean @bind-Value="@_addPlayer.HasFlashHandEnabled" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.InGameSens)</label>
		<InputNumber class="w-64 pl-2 bg-gray-900 text-color-text" @bind-Value="@_addPlayer.InGameSens" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.IsRightHanded)</label>
		<InputNullableBoolean @bind-Value="@_addPlayer.IsRightHanded" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.UsesLegacyAudio)</label>
		<InputNullableBoolean @bind-Value="@_addPlayer.UsesLegacyAudio" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HideDonations)</label>
		<InputCheckbox @bind-Value="@_addPlayer.HideDonations" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HidePastUsernames)</label>
		<InputCheckbox @bind-Value="@_addPlayer.HidePastUsernames" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HideSettings)</label>
		<InputCheckbox @bind-Value="@_addPlayer.HideSettings" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.AssetModIds)</label>
		<MultiSearchDropdown Values="@_modNames" SelectedValues="@_addPlayer.AssetModIds" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.TitleIds)</label>
		<MultiSearchDropdown Values="@_titleNames" SelectedValues="@_addPlayer.TitleIds" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.IsBanned)</label>
		<InputCheckbox @bind-Value="@_addPlayer.IsBanned" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.BanDescription)</label>
		<InputText class="w-64 pl-2 bg-gray-900 text-color-text" @bind-Value="@_addPlayer.BanDescription" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.BanResponsibleId)</label>
		<InputNumber class="w-64 pl-2 bg-gray-900 text-color-text" @bind-Value="@_addPlayer.BanResponsibleId" />
	</div>

	<div class="py-1">
		<label class="@_inputLabelCss">@nameof(AddPlayer.IsBannedFromDdcl)</label>
		<InputCheckbox @bind-Value="@_addPlayer.IsBannedFromDdcl" />
	</div>

	<button class="bg-gray-900 hover:bg-gray-500 p-1 rounded text-color-text" type="submit">Submit</button>
</EditForm>

@code
{
	private const string _inputLabelCss = "inline-block w-64";

	private Dictionary<int, string>? _modNames;
	private Dictionary<int, string>? _titleNames;
	private AddPlayer _addPlayer = new();
	private string? _errorMessage;

	public ErrorState State { get; set; }

	protected override async Task OnInitializedAsync()
	{
		try
		{
			List<GetModName> getModNames = await Http.Client.GetFromJsonAsync<List<GetModName>>($"api/admin/mods/names") ?? throw new($"Response could not be deserialized to {nameof(List<GetModName>)}.");
			_modNames = getModNames.ToDictionary(m => m.Id, m => m.Name);

			List<GetTitle> getTitles = await Http.Client.GetFromJsonAsync<List<GetTitle>>($"api/admin/titles/names") ?? throw new($"Response could not be deserialized to {nameof(List<GetTitle>)}.");
			_titleNames = getTitles.ToDictionary(t => t.Id, t => t.Name);

			State = ErrorState.None;
		}
		catch (HttpRequestException ex)
		{
			if (ex.StatusCode.HasValue)
				_errorMessage = $"Error {(int)ex.StatusCode}: {ex.StatusCode}";
			else
				_errorMessage = "An error occurred while sending the request.";

			State = ErrorState.FatalError;
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	private async Task OnValidSubmit()
	{
		try
		{
			HttpResponseMessage hrm = await Http.Client.PostAsJsonAsync($"api/admin/players", _addPlayer);

			if (hrm.StatusCode == HttpStatusCode.OK)
				NavigationManager.NavigateTo("/admin/players");
			else
				_errorMessage = await hrm.Content.ReadAsStringAsync();

			State = hrm.StatusCode.IsUserError() ? ErrorState.ValidationError : ErrorState.FatalError;
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}
}
