@page "/admin/players/add"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersWebsite.BlazorWasm.Shared.Players
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net

<h1>Add</h1>

<ResultBar Title="Add failed" Type="danger" @bind-Message="@_errorMessage" />

<EditForm Model="@_addPlayer" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<h2>General</h2>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Id)</label>
		<InputNumber class="admin-input" @bind-Value="_addPlayer.Id" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.PlayerName)</label>
		<InputText class="admin-input" @bind-Value="_addPlayer.PlayerName" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.CountryCode)</label>
		<SearchDropdown class="admin-input" Values="@UserUtils.CountryNames" @bind-Value="@_addPlayer.CountryCode" />
	</div>

	<h2>Settings</h2>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Dpi)</label>
		<InputNumber class="admin-input" @bind-Value="@_addPlayer.Dpi" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Fov)</label>
		<InputNumber class="admin-input" @bind-Value="@_addPlayer.Fov" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.Gamma)</label>
		<InputNumber class="admin-input" @bind-Value="@_addPlayer.Gamma" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HasFlashHandEnabled)</label>
		<InputNullableBoolean class="admin-input" @bind-Value="@_addPlayer.HasFlashHandEnabled" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.InGameSens)</label>
		<InputNumber class="admin-input" @bind-Value="@_addPlayer.InGameSens" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.IsRightHanded)</label>
		<InputNullableBoolean class="admin-input" @bind-Value="@_addPlayer.IsRightHanded" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.UsesLegacyAudio)</label>
		<InputNullableBoolean class="admin-input" @bind-Value="@_addPlayer.UsesLegacyAudio" />
	</div>

	<h2>Visibility</h2>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HideDonations)</label>
		<InputCheckbox class="admin-input" @bind-Value="@_addPlayer.HideDonations" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HidePastUsernames)</label>
		<InputCheckbox class="admin-input" @bind-Value="@_addPlayer.HidePastUsernames" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.HideSettings)</label>
		<InputCheckbox class="admin-input" @bind-Value="@_addPlayer.HideSettings" />
	</div>

	<h2>Relations</h2>

	<span>TODO</span>

	<h2>Bans</h2>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.IsBanned)</label>
		<InputCheckbox class="admin-input" @bind-Value="@_addPlayer.IsBanned" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.BanDescription)</label>
		<InputText class="admin-input" @bind-Value="@_addPlayer.BanDescription" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.BanResponsibleId)</label>
		<InputNumber class="admin-input" @bind-Value="@_addPlayer.BanResponsibleId" />
	</div>

	<div class="row">
		<label class="@_inputLabelCss">@nameof(AddPlayer.IsBannedFromDdcl)</label>
		<InputCheckbox class="admin-input" @bind-Value="@_addPlayer.IsBannedFromDdcl" />
	</div>

	<button type="submit">Submit</button>
</EditForm>

@code
{
	private const string _inputLabelCss = "col-sm-12 col-md-6 col-lg-4 col-xl-3";

	private AddPlayer _addPlayer = new();
	private string? _errorMessage;

	private async Task OnValidSubmit()
	{
		try
		{
			HttpResponseMessage hrm = await Http.PostAsJsonAsync($"api/players/admin", _addPlayer);

			if (hrm.StatusCode == HttpStatusCode.OK)
				NavigationManager.NavigateTo("/admin/players");
			else
				_errorMessage = await hrm.Content.ReadAsStringAsync();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}
}
