@page "/admin/players/edit/{Id:int}"
@inject AdminApiHttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Admin.Players
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net

<h1 class="text-red text-2xl">Edit</h1>

<ResultBar Title="Edit failed" Type="danger" @bind-Message="@_errorMessage" />

@if (_editPlayer == null)
{
	<Loading />
}
else
{
	<EditForm Model="@_editPlayer" OnValidSubmit="@OnValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<h2>General</h2>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.CountryCode)</label>
			<SearchDropdown class="admin-input" Values="@UserUtils.CountryNames" @bind-Value="@_editPlayer.CountryCode" />
		</div>

		<h2>Settings</h2>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.Dpi)</label>
			<InputNumber class="admin-input" @bind-Value="@_editPlayer.Dpi" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.Fov)</label>
			<InputNumber class="admin-input" @bind-Value="@_editPlayer.Fov" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.Gamma)</label>
			<InputNumber class="admin-input" @bind-Value="@_editPlayer.Gamma" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.HasFlashHandEnabled)</label>
			<InputNullableBoolean class="admin-input" @bind-Value="@_editPlayer.HasFlashHandEnabled" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.InGameSens)</label>
			<InputNumber class="admin-input" @bind-Value="@_editPlayer.InGameSens" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.IsRightHanded)</label>
			<InputNullableBoolean class="admin-input" @bind-Value="@_editPlayer.IsRightHanded" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.UsesLegacyAudio)</label>
			<InputNullableBoolean class="admin-input" @bind-Value="@_editPlayer.UsesLegacyAudio" />
		</div>

		<h2>Visibility</h2>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.HideDonations)</label>
			<InputCheckbox class="admin-input" @bind-Value="@_editPlayer.HideDonations" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.HidePastUsernames)</label>
			<InputCheckbox class="admin-input" @bind-Value="@_editPlayer.HidePastUsernames" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.HideSettings)</label>
			<InputCheckbox class="admin-input" @bind-Value="@_editPlayer.HideSettings" />
		</div>

		<h2>Relations</h2>

		<span>TODO</span>

		<h2>Bans</h2>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.IsBanned)</label>
			<InputCheckbox class="admin-input" @bind-Value="@_editPlayer.IsBanned" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.BanDescription)</label>
			<InputText class="admin-input" @bind-Value="@_editPlayer.BanDescription" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.BanResponsibleId)</label>
			<InputNumber class="admin-input" @bind-Value="@_editPlayer.BanResponsibleId" />
		</div>

		<div class="row">
			<label class="@_inputLabelCss">@nameof(EditPlayer.IsBannedFromDdcl)</label>
			<InputCheckbox class="admin-input" @bind-Value="@_editPlayer.IsBannedFromDdcl" />
		</div>

		<button class="btn btn-primary" type="submit">Submit</button>
	</EditForm>
}

@code
{
	private const string _inputLabelCss = "col-sm-12 col-md-6 col-lg-4 col-xl-3";

	private EditPlayer? _editPlayer;
	private string? _errorMessage;

	[Parameter] public int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		try
		{
			GetPlayer getPlayer = await Http.Client.GetFromJsonAsync<GetPlayer>($"api/admin/players/{Id}") ?? throw new($"Response could not be deserialized to {nameof(GetPlayer)}.");
			_editPlayer = new()
			{
				AssetModIds = getPlayer.AssetModIds,
				CountryCode = getPlayer.CountryCode,
				Dpi = getPlayer.Dpi,
				Fov = getPlayer.Fov,
				Gamma = getPlayer.Gamma,
				HasFlashHandEnabled = getPlayer.HasFlashHandEnabled,
				HideDonations = getPlayer.HideDonations,
				HidePastUsernames = getPlayer.HidePastUsernames,
				HideSettings = getPlayer.HideSettings,
				InGameSens = getPlayer.InGameSens,
				IsRightHanded = getPlayer.IsRightHanded,
				TitleIds = getPlayer.TitleIds,
				UsesLegacyAudio = getPlayer.UsesLegacyAudio,
				BanDescription = getPlayer.BanDescription,
				BanResponsibleId = getPlayer.BanResponsibleId,
				IsBanned = getPlayer.IsBanned,
				IsBannedFromDdcl = getPlayer.IsBannedFromDdcl,
			};
			_errorMessage = null;
		}
		catch (HttpRequestException ex)
		{
			if (ex.StatusCode.HasValue)
				_errorMessage = $"Error {(int)ex.StatusCode}: {ex.StatusCode}";
			else
				_errorMessage = "An error occurred while sending the request.";
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	private async Task OnValidSubmit()
	{
		if (_editPlayer == null)
			return;

		try
		{
			HttpResponseMessage hrm = await Http.Client.PutAsJsonAsync<EditPlayer>($"api/admin/players/{Id}", _editPlayer);

			if (hrm.StatusCode == HttpStatusCode.OK)
				NavigationManager.NavigateTo("/admin/players");
			else
				_errorMessage = await hrm.Content.ReadAsStringAsync();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}
}
