@using CoreBase.Extensions
@using DevilDaggersWebsite.Helpers

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Devil Daggers Info - Accurate and up-to-date information about the game Devil Daggers.">
	<meta name="keywords" content="devil daggers,devil,daggers,info,wikia,wiki,wikis,guide,guides,mod,mods,spawnset,spawnsets,game,indie,fps,first person shooter,shooter">
	<meta name="author" content="Noah Stolk">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/Images/Logos/dd.png" rel="shortcut icon" />
	<title>@ViewData["Title"] - DevilDaggers.Info</title>

	@await Html.PartialAsync("SharedPartials/_CSSBundlePartial")
</head>
<body>
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button id="navbar-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</div>
			<div id="navbar-collapse" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a asp-page="/Index">Home</a></li>
					<li><a asp-page="/Leaderboard">Leaderboard</a></li>
					<li><a asp-page="/Spawns">Spawns</a></li>
					<li><a asp-page="/Upgrades">Upgrades</a></li>
					<li><a asp-page="/Enemies">Enemies</a></li>
					<li><a asp-page="/Daggers">Daggers</a></li>
					<li><a asp-page="/Spawnsets">Spawnsets</a></li>
					<li><a asp-page="/Donations">Donations</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid body-content">
		<div class="inner-container">
			@RenderBody()
			<footer>
				<div class="row">
					<div class="col-lg-4 col-lg-offset-2">
						<p class="align-center">
							&copy; @(RazorExtensions.GetFooterYearString(2017))<br />
							Website created by Noah Stolk<br />
							<a href="https://noahstolk.com/">www.noahstolk.com</a>
						</p>
					</div>
					<div class="col-lg-4">
						<p class="align-center">
							Contact<br />
							<a href="mailto:@(Helper.Email)">@(Helper.Email)</a><br />
							<a href="https://discord.gg/NF32j8S">Discord server</a>
						</p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	@await Html.PartialAsync("SharedPartials/_JSBundlePartial")

	@RenderSection("Scripts", required: false)
</body>
</html>