<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69500089-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-69500089-2');
	</script>

	<meta charset="utf-8" />
	<meta name="description" content="Devil Daggers Info - Accurate and up-to-date information about the game Devil Daggers." />
	<meta name="keywords" content="devil,daggers,info,wiki,leaderboard,mod,spawnset" />
	<meta name="author" content="Noah Stolk" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#600" />
	<link href="~/Images/Logos/dd.png" rel="shortcut icon" />
	<title>@ViewData["Title"] - Devil Daggers Info</title>

	@await Html.PartialAsync("SharedPartials/_CSSBundlePartial", new List<string> { "~/lib/jqPlot/jquery.jqplot.min.css" })
</head>
<body id="top">
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button id="navbar-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</div>
			<div id="navbar-collapse" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-page="/Index">Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leaderboard <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a asp-page="/Leaderboard/Index">Leaderboard</a></li>
							<li><a asp-page="/Leaderboard/History">History</a></li>
							<li><a asp-page="/Leaderboard/WorldRecordProgression">World Record Progression</a></li>
						</ul>
					</li>
					<li><a asp-page="/Spawnsets">Spawnsets</a></li>
					<li><a asp-page="/Tools">Tools</a></li>
					<li><a asp-page="/Donations">Donations</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wiki <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a asp-page="/Wiki/Spawns">Spawns</a></li>
							<li><a asp-page="/Wiki/Upgrades">Upgrades</a></li>
							<li><a asp-page="/Wiki/Enemies">Enemies</a></li>
							<li><a asp-page="/Wiki/Daggers">Daggers</a></li>
						</ul>
					</li>
					<li><a asp-page="/API/Index">API</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="body-content">
		@RenderBody()
		<a href="#top" class="back-to-top transparent-on-start">
			<img class="back-to-top-img" src="~/images/Logos/back-to-top-small.gif" />
			Back to top
		</a>
		<div class="spacer"></div>
		<footer>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-2">
					<p class="text-center">
						&copy; @(CoreBase.Extensions.RazorExtensions.GetFooterYearString(2017))<br />
						Website created by Noah Stolk<br />
						<a href="http://noahstolk.com/">www.noahstolk.com</a>
					</p>
				</div>
				<div class="col-lg-4">
					<p class="text-center">
						Contact<br />
						<a href="mailto:@(DevilDaggersWebsite.Utils.RazorUtils.Email)">@(DevilDaggersWebsite.Utils.RazorUtils.Email)</a><br />
						<a href="@DevilDaggersWebsite.Utils.RazorUtils.DiscordLink">Discord server</a>
					</p>
				</div>
			</div>
		</footer>
	</div>

	@await Html.PartialAsync("SharedPartials/_JSBundlePartial", new List<string>
	{
		"~/plugins/jqPlot/jquery.jqplot.min.js",
		"~/plugins/jqPlot/jqplot.dateAxisRenderer.js",
		"~/plugins/jqPlot/jqplot.highlighter.js",
		"~/plugins/jqPlot/jqplot.canvasOverlay.js"
	})

	@RenderSection("Scripts", required: false)
</body>
</html>