@using DevilDaggersWebsite.Utils
@using DevilDaggersWebsite.Models.Game
@using DevilDaggersWebsite.Models.Leaderboard

<div class="leaderboard-container flex-container flex-center">
	<div class="leaderboard-title-row flex-container">
		<div class="sorter text-center" sort="rank">#</div>
		<div class="sorter text-center" sort="username">Username</div>
		<div class="sorter text-center" sort="time">Time</div>
		<div class="sorter hidden-xs text-center" sort="kills">Kills</div>
		<div class="sorter hidden-xs text-center" sort="gems">Gems</div>
		<div class="sorter hidden-xs text-center" sort="accuracy">Accuracy</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="death-type">Death type</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="total-time">Total time</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="total-kills">Total kills</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="total-gems">Total gems</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="total-accuracy">Total accuracy</div>
		<div class="sorter hidden-xs hidden-sm hidden-md text-center" sort="total-deaths">Total deaths</div>
	</div>
	<div class="leaderboard-body">
		@foreach (Entry entry in Model.Leaderboard.Entries)
		{
			Dagger dagger = GameUtils.Default;
			foreach (Dagger d in GameUtils.Daggers)
			{
				if (entry.Time >= d.UnlockSecond * 10000)
				{
					dagger = d;
				}
			}

			Death death = GameUtils.Unknown;
			int knar = 159605;
			if (entry.ID == knar)
			{
				death = GameUtils.Macroed;
			}
			else
			{
				foreach (Death d in GameUtils.Deaths)
				{
					if (entry.DeathType == d.Type)
					{
						death = d;
					}
				}
			}

			bool admin = UserHelper.AdminID == entry.ID;
			bool donator = UserHelper.DonatorIDs.Contains(entry.ID);
			bool ban = UserHelper.BanIDs.Contains(entry.ID);

			string role = (admin ? "admin" : ban ? "ban" : donator ? "donator" : "");
			string username = entry.Username;
			string color = (entry.ID == knar ? "macro" : dagger.Name.ToLower());
			<div class="sort" @Html.Raw(entry.ToHTMLData())>
				<div class="leaderboard-row flex-container" id="@(entry.Rank)-row">
					<div class="text-right @(ban ? "ban" : "")">@entry.Rank</div>
					<div class="text-left @(ban ? "ban" : color) leaderboard-username">@username</div>
					<div class="text-right @(ban ? "ban" : color)">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.0000}", (double)entry.Time / 10000)</div>
					<div class="hidden-xs text-right @(ban ? "ban" : "")">@entry.Kills</div>
					<div class="hidden-xs text-right @(ban ? "ban" : "")">@entry.Gems</div>
					<div class="hidden-xs text-right @(ban ? "ban" : "")">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.00}%", entry.Accuracy)</div>
					<div class="hidden-xs hidden-sm hidden-md text-center @(ban ? "ban" : "")" style="@(!ban ? "color: #" + death.ColorCode + ";" : "")">@(death.Name)</div>
					<div class="hidden-xs hidden-sm hidden-md text-right @(ban ? "ban" : "")">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.0000}", (double)entry.TimeTotal / 10000)</div>
					<div class="hidden-xs hidden-sm hidden-md text-right @(ban ? "ban" : "")">@entry.KillsTotal</div>
					<div class="hidden-xs hidden-sm hidden-md text-right @(ban ? "ban" : "")">@entry.GemsTotal</div>
					<div class="hidden-xs hidden-sm hidden-md text-right @(ban ? "ban" : "")">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.00}%", entry.AccuracyTotal)</div>
					<div class="hidden-xs hidden-sm hidden-md text-right @(ban ? "ban" : "")">@entry.DeathsTotal</div>
				</div>
				<div class="leaderboard-expand flex-container" id="@(entry.Rank)-expand">
					<div class="visible-xs @(ban ? "ban" : "")">
						<div class="text-left">Kills</div>
						<div class="text-right">@entry.Kills</div>
					</div>
					<div class="visible-xs @(ban ? "ban" : "")">
						<div class="text-left">Gems</div>
						<div class="text-right">@entry.Gems</div>
					</div>
					<div class="visible-xs @(ban ? "ban" : "")">
						<div class="text-left">Accuracy</div>
						<div class="text-right">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.00}%", entry.Accuracy)</div>
					</div>
					<div class="visible-xs visible-sm visible-md @(ban ? "ban" : "")">
						<div class="text-left">Death type</div>
						<div class="text-right" style="@(!ban ? "color: #" + (entry.ID == 159605 ? "FF6EDA" : death.ColorCode) + ";" : "")">@(entry.ID == 159605 ? "MACROED" : death.Name)</div>
					</div>
					<div class="visible-xs visible-sm visible-md @(ban ? "ban" : "")">
						<div class="text-left">Total time</div>
						<div class="text-right">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.0000}", (double)entry.TimeTotal / 10000)</div>
					</div>
					<div class="visible-xs visible-sm visible-md @(ban ? "ban" : "")">
						<div class="text-left">Total kills</div>
						<div class="text-right">@entry.KillsTotal</div>
					</div>
					<div class="visible-xs visible-sm visible-md @(ban ? "ban" : "")">
						<div class="text-left">Total gems</div>
						<div class="text-right">@entry.GemsTotal</div>
					</div>
					<div class="visible-xs visible-sm visible-md @(ban ? "ban" : "")">
						<div class="text-left">Total accuracy</div>
						<div class="text-right">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.00}%", entry.AccuracyTotal)</div>
					</div>
					<div class="visible-xs visible-sm visible-md @(ban ? "ban" : "")">
						<div class="text-left">Total deaths</div>
						<div class="text-right">@entry.DeathsTotal</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>