@model string
@using DevilDaggersWebsite.Models.Spawnset
@using DevilDaggersWebsite.Utils
@{
	int[] widths = new int[4] { 160, 160, 144, 128 };

	Spawnset spawnset = SpawnsetParser.ParseFile(Model);

	bool empty = true;
	foreach (Spawn spawn in spawnset.Spawns)
	{
		if (spawn.Enemy != null)
		{
			empty = false;
			break;
		}
	}

	bool showSpawns = (spawnset.Spawns.Count > 0 && !empty);

	<div class="flex-container flex-center flex-column text-center">
		@if (showSpawns)
		{
			<div class="flex-container flex-center">
				<div style="width: @(widths[0])px;">Seconds</div>
				<div style="width: @(widths[1])px;">Spawns</div>
				<div style="width: @(widths[2])px;">Gems (no farm)</div>
				<div style="width: @(widths[3])px;">Total gems</div>
			</div>

			double seconds = 0;
			int totalGems = 0;
			List<Spawn>	endLoop = new List<Spawn>();

			foreach (Spawn spawn in spawnset.Spawns)
			{
				endLoop.Add(spawn);
				if (spawn.Enemy == null)
				{
					foreach (Spawn s in endLoop)
					{
						seconds += s.Delay;
						if (s.Enemy != null)
						{
							int gems = s.Enemy.Gems;

							// Add no farm gems
							if (s.Enemy == GameHelper.Squid1)
							{
								gems += GameHelper.Skull2.Gems;
							}
							if (s.Enemy == GameHelper.Squid2)
							{
								gems += GameHelper.Skull3.Gems;
							}

							totalGems += gems;

							<div class="flex-container flex-center">
								<div style="width: @(widths[0])px;" class="text-right">@string.Format("{0:0.0000}", seconds)</div>
								<div style="width: @(widths[1])px;"><span style='color: #@s.Enemy.ColorCode'>@Html.Raw(RazorUtils.GetEnemyLayoutAnchor(s.Enemy))</span></div>
								<div style="width: @(widths[2])px;" class="text-right">@gems</div>
								<div style="width: @(widths[3])px;" class="text-right">@totalGems</div>
							</div>
						}
					}
					seconds -= spawn.Delay;
					endLoop.Clear();
					endLoop.Add(spawn);
				}
			}

			if (endLoop.Count != 1)
			{
				int maxWaves = 250;
				int maxSeconds = 1250;

				double waveMod = 0;
				double endGameSecond = seconds;
				for (int i = 0; i < maxWaves; i++)
				{
					double enemyTimer = 0;
					double delay = 0;
					foreach (Spawn spawn in endLoop)
					{
						delay += spawn.Delay;
						while (enemyTimer < delay)
						{
							endGameSecond += (1f / 60f);
							enemyTimer += (1f / 60f) + waveMod;
						}

						if (spawn.Enemy != null)
						{
							// Change the third Gigapede into a Ghostpede
							if (spawn.Enemy == GameHelper.Gigapede && i % 3 == 2)
							{
								spawn.Enemy = GameHelper.Ghostpede;
							}
							else if (spawn.Enemy == GameHelper.Ghostpede && i % 3 != 2)
							{
								spawn.Enemy = GameHelper.Gigapede;
							}

							int gems = spawn.Enemy.Gems;

							// Add no farm gems
							if (spawn.Enemy == GameHelper.Squid1)
							{
								gems += GameHelper.Skull2.Gems;
							}
							if (spawn.Enemy == GameHelper.Squid2)
							{
								gems += GameHelper.Skull3.Gems;
							}

							totalGems += gems;

							<div class="flex-container flex-center">
								<div style="width: @(widths[0])px;" class="text-right">@((Math.Floor(endGameSecond * 60) / 60).ToString("0.0000"))</div>
								<div style="width: @(widths[1])px;"><span style='color: #@spawn.Enemy.ColorCode'>@Html.Raw(RazorUtils.GetEnemyLayoutAnchor(spawn.Enemy))</span></div>
								<div style="width: @(widths[2])px;" class="text-right">@gems</div>
								<div style="width: @(widths[3])px;" class="text-right">@totalGems</div>
							</div>
						}
					}
					waveMod += 1f / 60f / 8f;

					if (endGameSecond > maxSeconds)
					{
						break;
					}
				}
			}

			<div style="color: red; font-size: 24px;">@(endLoop.Count != 1 ? "Goes on eternally..." : "End of spawnset")</div>
		}
	</div>
}