@page
@model DevilDaggersWebsite.Pages.DaggersModel
@{
	ViewData["Title"] = "Daggers";
	string boxShadow = "0 0px 2px 2px";
}

@using DevilDaggersWebsite.Utils
@using DevilDaggersWebsite.Models.Game

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<p>
		There are five different types of daggers in Devil Daggers. These daggers do not change anything in-game, they're more like extras that you unlock as you progress. You pick them up in the dagger lobby, and then the game starts. Each dagger makes a different sound.
	</p>

	<div class="flex-container flex-center dagger-container">
		@foreach (Dagger dagger in GameHelper.Daggers)
		{
			<div class="dagger" style="-webkit-box-shadow: @boxShadow #@(dagger.ColorCode); -moz-box-shadow: @boxShadow #@(dagger.ColorCode); box-shadow: @boxShadow #@(dagger.ColorCode);">
				<div>
					<div class="@dagger.Name.ToLower()">@dagger.Name Dagger</div>
					Unlocks at <span style="background-position-y: 3px;" class="@dagger.Name.ToLower()">@(dagger.UnlockSecond == null ? "N/A" : dagger.UnlockSecond.ToString())</span> @(dagger != GameHelper.Default ? " seconds" : "")
				</div>
				<div>
					<div><img class="img-responsive" src='~/Images/Daggers/@(dagger.Name).png' /></div>
				</div>
			</div>
		}
	</div>
</main>