@page
@model DevilDaggersWebsite.Pages.DonationsModel
@{
	ViewData["Title"] = "Donations";

	int[] widths = new int[3] { 256, 128, 20 };
}
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Code.Users

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<p>
		I've built this website and the tools that come with it entirely in my free time. This is one of my favourite hobby projects and I'd like to thank everyone who helped and supported me.
	</p>
	<p>
		However, hosting a website costs money. If this website is useful to you, you can consider donating. All donations will be used to cover the costs of the website (hosting, domain, etc).
	</p>
	<p>
		You can donate via PayPal <a href="http://paypal.me/NoahStolk">here</a>. If you want to be added to the list below, let me know who you are in the PayPal message (your username) so I can add you to it.
	</p>
	<p>
		Thanks to all donators!
	</p>
	<p>
		@foreach (Dagger dagger in Game.GetEntities<Dagger>())
		{
			<img src="~/Images/Daggers/@(dagger.Name)Small.png" />
		}
	</p>

	<div class="flex-container flex-center flex-column">
		@{
			int rank = 0;
			foreach (Donator donator in Model.Donators)
			{
				rank++;
				Dagger dagger = Game.V3.Devil;// GetDaggerFromTime(donator.Amount * 10000);
				string daggerName = dagger.Name.ToLower();

				<div class="flex-container flex-center">
					<div style="width: @(widths[0])px; white-space: nowrap;" class="text-left @daggerName">@donator.Username</div>
					<div style="width: @(widths[1])px;" class="text-right @daggerName">@((donator.Amount / 100.0).ToString("0.00"))</div>
					<div style="width: @(widths[2])px;" class="text-right @daggerName">@donator.CurrencySymbol</div>
				</div>
			}
		}
	</div>
</main>