@page
@model DevilDaggersWebsite.Pages.DonationsModel
@{
	ViewData["Title"] = "Donations";

	int[] widths = new int[3] { 256, 128, 20 };
}
@using DevilDaggersWebsite.Utils
@using DevilDaggersWebsite.Models
@using DevilDaggersWebsite.Models.Game

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<p>
		I've built this website entirely in my free time, as well as figuring stuff out in the game, creating an editor and spawnsets, etc... This would not have been possible without help from the community. I'd like to thank everyone who helped me.
	</p>
	<p>
		However, hosting a website costs money. If this website is useful to you, you can consider donating. All donations will be used to cover the costs of the website (hosting, domain, etc).
	</p>

	<p>
		If you want to donate, you can do so <a href="http://paypal.me/NoahStolk">here</a>. Please let me know who you are in the PayPal message (your username) so I can add you to the list below.
	</p>

	<p>
		Thanks to everyone who donated!
	</p>

	<p class="centre">
		@foreach (Dagger dagger in GameUtils.Daggers)
		{
			<img src="~/Images/Daggers/@(dagger.Name)Small.png" />
		}
	</p>

	<div class="flex-container flex-center flex-column">
		<div class="flex-container flex-center">
			<div style="width: @(widths[0])px;" class="text-left">Username</div>
			<div style="width: @(widths[1] + widths[2])px;" class="text-right">Amount</div>
		</div>
		@{
			List<Donator> donators = UserHelper.Donators
				.OrderByDescending(d => d.Amount)
				.ThenBy(d => d.CurrencySymbol)
				.ThenBy(d => d.Username)
				.ToList();

			int rank = 0;
			foreach (Donator donator in donators)
			{
				rank++;
				Dagger dagger = GameUtils.Default;
				foreach (Dagger d in GameUtils.Daggers)
				{
					if (donator.Amount >= d.UnlockSecond)
					{
						dagger = d;
					}
				}
				string daggerName = dagger.Name.ToLower();

				<div class="flex-container flex-center">
					<div style="width: @(widths[0])px; white-space: nowrap;" class="text-left @daggerName">@donator.Username</div>
					<div style="width: @(widths[1])px;" class="text-right @daggerName">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.00}", (double)donator.Amount / 100)</div>
					<div style="width: @(widths[2])px;" class="text-right @daggerName">@donator.CurrencySymbol</div>
				</div>
			}
		}
	</div>
</main>