@page
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Code.Users
@model DonationsModel
@inject CoreBase3.Services.ICommonObjects CommonObjects
@{
	ViewData["Title"] = "Donations";

	int[] widths = new int[2] { 256, 128 };
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		I've built this website and the tools that come with it entirely in my free time. If you appreciate the work I've done, or want to support hosting and domain costs for the website, you can consider <a href="http://paypal.me/NoahStolk">donating via PayPal</a>. Please be sure to include your leaderboard username, rank, or user ID (user ID can be found by hovering over your rank number on the <a asp-page="./Leaderboard/Index">Leaderboard</a> page), so I can add you to the list of donators below, or if you prefer to stay anonymous, an alias or no name at all is fine too.
	</p>
	<p>
		Thanks to everyone who donated.
	</p>
	<p>
		@foreach (Dagger dagger in GameInfo.GetEntities<Dagger>())
		{
			<img src="~/Images/Daggers/@(dagger.Name)Small.png" />
		}
	</p>
	<p>
		(Sorting might not look accurate due to currency conversions and PayPal fees.)
	</p>

	<div class="flex-container flex-center flex-column">
		@{
			foreach (KeyValuePair<int, int> kvp in Model.DonatorsWithReceivedEuroAmounts.OrderByDescending(kvp => kvp.Value).ThenBy(kvp => Model.Donators.FirstOrDefault(d => d.Id == kvp.Key).UsernameFallback))
			{
				Donator donator = Model.Donators.FirstOrDefault(d => d.Id == kvp.Key);
				string username = donator.IsAnonymous ? "(anonymous)" : donator.UsernameFallback;

				Currency currency = Model.Donations.FirstOrDefault(d => d.DonatorId == kvp.Key).Currency;
				int amount = Model.Donations.Where(d => !d.IsRefunded && d.DonatorId == kvp.Key).Sum(d => d.Amount);

				<div class="flex-container flex-center">
					<div style="width: @(widths[0])px; white-space: nowrap;" class="text-left devil">@username</div>
					<div style="width: @(widths[1])px;" class="text-right devil donation-tooltip" data-toggle="tooltip" data-placement="left" title="@((kvp.Value / 100.0).ToString("0.00")) EUR">
						@((amount / 100.0).ToString("0.00"))
						<span style="display: inline-block; min-width: 12px;">@(currency.GetChar())</span>
						<span style="display: inline-block; min-width: 48px;">(@currency.ToString().ToUpper())</span>
					</div>
				</div>
			}
		}
	</div>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/donations.css' />
}