@page
@model DevilDaggersWebsite.Pages.EnemiesModel
@using DevilDaggersWebsite.Utils
@using DevilDaggersWebsite.Models.Game
@{
	string boxShadow = "0 0px 2px 2px";
	ViewData["Title"] = "Enemies";
	GameHelper.Squid1.Info = new List<string>
{
"Spawns at the edge of the arena",
"Moves slowly and rotates clockwise",
"Spawns 10 Skull Is and 1 Skull II every 20 seconds (starting 3 seconds after its initial appearance)"
};
	GameHelper.Squid2.Info = new List<string>
{
"Spawns at the edge of the arena",
"Moves slowly and rotates clockwise",
"Spawns 10 Skull Is and 1 Skull III every 20 seconds (starting 3 seconds after its initial appearance)"
};
	GameHelper.Squid3.Info = new List<string>
{
"Spawns at the edge of the arena",
"Moves slowly and rotates clockwise",
"Spawns 15 Skull Is and 1 Skull IV every 20 seconds (starting 3 seconds after its initial appearance)"
};
	GameHelper.Centipede.Info = new List<string>
{
"Emerges and flies idly for a while, then starts chasing the player",
"Regularly dives down and moves underground for a while"
};
	GameHelper.Gigapede.Info = new List<string>
{
"Emerges and starts chasing the player immediately"
};
	GameHelper.Ghostpede.Info = new List<string>
{
"Emerges and starts flying in circles high above the arena",
"Attracts and consumes all homing daggers, making them useless"
};
	GameHelper.Leviathan.Info = new List<string>
{
"Attracts and transmutes all skulls every 20 seconds",
"Rotates counter-clockwise",
"Drops The Orb after dying"
};
	GameHelper.Thorn.Info = new List<string>
{
"Takes up space"
};
	GameHelper.Spider1.Info = new List<string>
{
"Spawns at the edge of the arena and starts lifting its head, then faces the player",
"Attracts and consumes gems when facing the player, ejecting them as Spider Egg I one at a time",
"Hides its head when shot and left unharmed for 1 second",
"Begins moving randomly in an unpredictable jittery fashion after initially raising its head"
};
	GameHelper.Spider2.Info = new List<string>
{
"Spawns at the edge of the arena and starts lifting its head (though much slower than Spider I), then faces the player",
"Attracts and consumes gems when facing the player, ejecting them as Spider Egg II one at a time",
"Hides its head when shot and left unharmed for 1 second",
"Begins moving randomly in an unpredictable jittery fashion after initially raising its head (though barely noticeable due to its size)"
};
	GameHelper.Skull1.Info = new List<string>
{
"Slowly chases the player"
};
	GameHelper.Skull2.Info = new List<string>
{
"Moves randomly"
};
	GameHelper.Skull3.Info = new List<string>
{
"Chases the player fast"
};
	GameHelper.Skull4.Info = new List<string>
{
"Chases the player fast"
};
	GameHelper.TransmutedSkull1.Info = new List<string>
{
"Slowly chases the player"
};
	GameHelper.TransmutedSkull2.Info = new List<string>
{
"Moves randomly"
};
	GameHelper.TransmutedSkull3.Info = new List<string>
{
"Chases the player fast"
};
	GameHelper.TransmutedSkull4.Info = new List<string>
{
"Chases the player fast"
};
	GameHelper.SpiderEgg1.Info = new List<string>
{
"Hatches into 5 Spiderlings after 10 seconds"
};
	GameHelper.SpiderEgg2.Info = new List<string>
{
"Hatches into 5 Spiderlings after 10 seconds"
};
	GameHelper.Spiderling.Info = new List<string>
{
"Darts towards the player in bursts with random offsets"
};
	GameHelper.TheOrb.Info = new List<string>
{
"Behaves like an eyeball, will look at the player, then attract and transmute all skulls every 2.5 seconds",
"Becomes stunned under constant fire, cannot look or attract skulls while stunned"
};
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<h2 class="text-center">Summary</h2>
	<table class="enemies-table" data-show-toggle="false" data-expand-all="true">
		<thead>
			<tr>
				<th class="hidden-xs">Enemy</th>
				<th data-breakpoints="xs">HP</th>
				<th data-breakpoints="xs">Gems</th>
				<th data-breakpoints="xs">Death type</th>
				<th data-breakpoints="xs">Spawned by</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Enemy enemy in GameHelper.Enemies)
			{
				<tr>
					<td>@Html.Raw(RazorUtils.GetEnemyLayoutAnchor(enemy))</td>
					<td class='text-right'>@enemy.HP</td>
					<td class='text-right'>@enemy.Gems</td>
					<td style='color: #@enemy.Death.ColorCode'>@enemy.Death.Name</td>
					<td>
						@if (enemy.SpawnedBy.Length == 0)
						{
							@:Game
						}
						else
						{
							foreach (Enemy e in enemy.SpawnedBy)
							{
								@Html.Raw(RazorUtils.GetEnemyLayoutAnchor(e) + " ")
							}
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<h2 class="text-center">Damage Stats</h2>
	<p class="text-center">All of this information assumes 100% shot accuracy, and may not be relevant in some cases.</p>
	<table class="enemies-table" data-show-toggle="false" data-expand-all="true">
		<thead>
			<tr>
				<th class="hidden-xs">Enemy</th>
				<th data-breakpoints="xs">HP</th>
				@{
					for (int i = 0; i < 3; i++)
					{
						foreach (Upgrade upgrade in GameHelper.Upgrades)
						{
							if (i != 2 || (i == 2 && upgrade.HomingShot != null))
							{
								<th data-breakpoints="xs">
									@Html.Raw(RazorUtils.GetUpgradeLayoutAnchor(upgrade))
								</th>
							}
						}
					}
				}
			</tr>
		</thead>
		<tbody>
			@foreach (Enemy enemy in GameHelper.Enemies)
			{
				<tr>
					<td>@Html.Raw(RazorUtils.GetEnemyLayoutAnchor(enemy))</td>
					<td class='text-right'>@enemy.HP</td>
					@for (int i = 0; i < 3; i++)
					{
						foreach (Upgrade upgrade in GameHelper.Upgrades)
						{
							switch (i)
							{
								case 0:
									<td class='text-right'>@string.Format("{0:0.0000}", enemy.HP / upgrade.DefaultSpray) seconds</td>
									break;
								case 1:
									<td class='text-right'>@Math.Ceiling(enemy.HP / upgrade.DefaultShot) shots</td>
									break;
								case 2:
									if (upgrade.Level == 3)
									{
										<td class='text-right'>@(enemy.Homing3 == null ? "N/A" : enemy.Homing3.ToString() + " homing daggers")</td>
									}
									else if (upgrade.Level == 4)
									{
										<td class='text-right'>@(enemy.Homing4 == null ? "N/A" : enemy.Homing4.ToString() + " homing daggers")</td>
									}
									break;
							}
						}
					}
				</tr>
				if (enemy.HitPartCount != 1)
				{
					<tr>
						<td><a href="#@enemy.Name.Replace(" ", string.Empty)" style="color: #@enemy.ColorCode">@enemy.Name (Gem)</a></td>
						<td class='text-right'>@(enemy.HP / enemy.HitPartCount)</td>
						@for (int i = 0; i < 3; i++)
						{
							foreach (Upgrade upgrade in GameHelper.Upgrades)
							{
								switch (i)
								{
									case 0:
										<td class='text-right'>@string.Format("{0:0.0000}", enemy.HP / upgrade.DefaultSpray / enemy.HitPartCount) seconds</td>
										break;
									case 1:
										<td class='text-right'>@Math.Ceiling(enemy.HP / upgrade.DefaultShot / enemy.HitPartCount) shots</td>
										break;
									case 2:
										if (upgrade.Level == 3)
										{
											<td class='text-right'>@(enemy.Homing3 == null ? "N/A" : (enemy.Homing3 / enemy.HitPartCount).ToString() + " homing daggers")</td>
										}
										else if (upgrade.Level == 4)
										{
											<td class='text-right'>@(enemy.Homing4 == null ? "N/A" : (enemy.Homing4 / enemy.HitPartCount).ToString() + " homing daggers")</td>
										}
										break;
								}
							}
						}
					</tr>
				}
			}
		</tbody>
	</table>

	<h2 class="text-center">Homing daggers</h2>
	<ul>
		@Html.Raw(RazorUtils.GetLayout(@"
		<li>All homing daggers deal 10 damage in most cases.</li>
		<li>Level 4 homing daggers have splash damage. This means that when they're destroyed, they create a little explosion that can cause damage (most likely 10) to near enemies. For example, you only need one Level 4 homing dagger to kill a Squid II, as the explosion will destroy the other gem.</li>
		<li>I'm not sure why you need 3 Level 4 homing daggers to kill a Squid III gem, but only 1 Level 3 homing dagger... Seems like a bug.</li>
		<li>Also not sure why you need 10 Level 4 homing daggers to kill a single Transmuted Skull I, while one single Level 3 homing dagger can kill 4 of them... Probably another bug.</li>
		<li>Spider Egg I, Spider Egg II, and The Orb are the only enemies that are not targeted by any homing daggers.</li>
		<li>Leviathan, The Orb, Spider Egg I, Spider Egg II have some sort of defense against homing daggers, so all homing daggers only deal 1 damage to them instead of 10 (they also get destroyed instantly when touching these enemies).</li>
		<li>Spider I and Spider II seem to have more defense (not just to homing, but to normal daggers as well) when they're hiding, though I'm not sure.</li>
		<li>Various parts of an enemy can destroy a homing dagger instantly. For example; parts of Spider I, a Gigapede segment with no gem on it, parts of Leviathan, etc. Interestingly, when any homing dagger flies into Squid I, Squid II, or Squid III, it simply bounces off (though sometimes it still gets destroyed for some reason).</li>"))
	</ul>

	<h2 class="text-center">Details</h2>
	<div class="flex-container flex-center upgrade-container">
		@foreach (Enemy enemy in GameHelper.Enemies)
		{
			<div class="upgrade" id="@enemy.Name.Replace(" ", string.Empty)" style="-webkit-box-shadow: @boxShadow #@(enemy.ColorCode); -moz-box-shadow: @boxShadow #@(enemy.ColorCode); box-shadow: @boxShadow #@(enemy.ColorCode);">
				<div class="upgrade-row flex-container">
					<div>Enemy</div>
					<div class="text-right" style='color: #@enemy.ColorCode'>@enemy.Name</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Image</div>
					<div><img class="img-responsive pull-right" src='~/Images/Enemies/@(enemy.Name).jpg' /></div>
				</div>
				<div class="upgrade-row flex-container">
					<div>HP</div>
					<div class="text-right">@enemy.HP @((enemy.HitPartCount != 1) ? "(" + enemy.HP / enemy.HitPartCount + " x " + enemy.HitPartCount + ")" : "")</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Gems</div>
					<div class="text-right">@enemy.Gems</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Death type</div>
					<div class="text-right" style='color: #@enemy.Death.ColorCode'>@enemy.Death.Name</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Spawned by</div>
					<div class="text-right">
						@if (enemy.SpawnedBy.Length == 0)
						{
							<span style='color: #DDDDDD;'>Game</span>
						}
						else
						{
							foreach (Enemy e in enemy.SpawnedBy)
							{
								<span>@Html.Raw(RazorUtils.GetEnemyLayoutAnchor(e))</span>
							}
						}
					</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Behaviour</div>
					<div>
						<ul>
							@for (int i = 0; i < enemy.Info.Count; i++)
							{
								<li>
									@Html.Raw(RazorUtils.GetLayout(enemy.Info[i]))
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		}
	</div>
</main>