@page
@inject CoreBase.Services.ICommonObjects CommonObjects
@model DevilDaggersWebsite.Pages.LeaderboardModel
@{
	ViewData["Title"] = "Leaderboard";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<p>
		<a asp-page="/LeaderboardHistory">Top 100 history</a>
	</p>

	@await Html.PartialAsync("_LeaderboardGlobalPartial")
	<div>
		@using (Html.BeginForm(FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			<fieldset>
				@Html.TextBoxFor(m => m.Leaderboard.Offset, new { @class = "input" })
				<input type="hidden" name="offsetPrevious" value="@Model.Leaderboard.OffsetPrevious" />
				<br />
				<input class="btn" type="submit" name="submitAction" value="Show" />
				<br />
				<input class="btn" type="submit" name="submitAction" value="<" />
				<input class="btn" type="submit" name="submitAction" value=">" />
			</fieldset>
		}
		<p>
			Showing rank @(Model.Leaderboard.Offset) - @(Model.Leaderboard.Offset + 99)
		</p>
		<p class="visible-xs visible-sm visible-md">
			On mobile devices; tap on an entry to expand it.
		</p>
	</div>
	@await Html.PartialAsync("_LeaderboardUserPartial")
</main>