@page
@model DevilDaggersWebsite.Pages.LeaderboardModel
@{
	ViewData["Title"] = "Leaderboard";

	double timeGlobal = ((double)Model.Leaderboard.TimeGlobal / 10000.0);
	double accuracyGlobal = Model.Leaderboard.ShotsFiredGlobal == 0 ? 0 : (double)Model.Leaderboard.ShotsHitGlobal / (double)Model.Leaderboard.ShotsFiredGlobal * 100;
}
@using DevilDaggersWebsite.Utils
@using DevilDaggersWebsite.Models.Game
@using DevilDaggersWebsite.Models.Leaderboard

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<div class="hidden-xs">
		<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
			<div>
				<div>Total players</div>
				<div class="text-center devil">@Model.Leaderboard.Players</div>
			</div>
		</div>
		<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
			<div>
				<div>Global time</div>
				<div class="text-center devil">@string.Format("{0:0.0000}", timeGlobal)</div>
			</div>
			<div>
				<div>Global kills</div>
				<div class="text-center devil">@Model.Leaderboard.KillsGlobal</div>
			</div>
			<div>
				<div>Global gems</div>
				<div class="text-center devil">@Model.Leaderboard.GemsGlobal</div>
			</div>
			<div>
				<div>Global deaths</div>
				<div class="text-center devil">@Model.Leaderboard.DeathsGlobal</div>
			</div>
			<div>
				<div>Global accuracy</div>
				<div class="text-center devil">@string.Format("{0:0.0000}%", accuracyGlobal)</div>
			</div>
		</div>
	</div>
	<div class="visible-xs">
		<div class="flex-container flex-center">
			<div class="mobile-left">
				<div>Total players</div>
				<div>Global time</div>
				<div>Global kills</div>
				<div>Global gems</div>
				<div>Global deaths</div>
				<div>Global accuracy</div>
			</div>
			<div class="mobile-right">
				<div class="devil">@Model.Leaderboard.Players</div>
				<div class="devil">@string.Format("{0:0.0000}", timeGlobal)</div>
				<div class="devil">@Model.Leaderboard.KillsGlobal</div>
				<div class="devil">@Model.Leaderboard.GemsGlobal</div>
				<div class="devil">@Model.Leaderboard.DeathsGlobal</div>
				<div class="devil">@string.Format("{0:0.0000}%", accuracyGlobal)</div>
			</div>
		</div>
	</div>
	<div>
		@using (Html.BeginForm(FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			<fieldset>
				@Html.TextBoxFor(m => m.Leaderboard.Offset, new { @class = "input" })
				<input type="hidden" name="offsetPrevious" value="@Model.Leaderboard.OffsetPrevious" />
				<br />
				<input class="btn btn-default" type="submit" name="submitAction" value="Show" />
				<br />
				<input class="btn btn-default" type="submit" name="submitAction" value="<" />
				<input class="btn btn-default" type="submit" name="submitAction" value=">" />
			</fieldset>
		}
		<p>
			Showing rank @(Model.Leaderboard.Offset) - @(Model.Leaderboard.Offset + 99)
		</p>
	</div>

	<table class="leaderboard-table" data-show-toggle="false" data-expand-first="false" data-sorting="true">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Username</th>
				<th class="text-center">Time</th>
				<th class="text-center" data-breakpoints="xs">Kills</th>
				<th class="text-center" data-breakpoints="xs">Gems</th>
				<th class="text-center" data-breakpoints="xs">Accuracy</th>
				<th class="text-center" data-breakpoints="xs sm">Death type</th>
				<th class="text-center" data-breakpoints="xs sm md">Total time</th>
				<th class="text-center" data-breakpoints="xs sm md">Total kills</th>
				<th class="text-center" data-breakpoints="xs sm md">Total gems</th>
				<th class="text-center" data-breakpoints="xs sm md">Total accuracy</th>
				<th class="text-center" data-breakpoints="xs sm md">Total deaths</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Entry entry in Model.Leaderboard.Entries)
			{
				Dagger dagger = GameHelper.Default;
				foreach (Dagger d in GameHelper.Daggers)
				{
					if (entry.Time >= d.UnlockSecond * 10000)
					{
						dagger = d;
					}
				}

				Death death = GameHelper.Fallen;
				foreach (Death d in GameHelper.Deaths)
				{
					if (entry.DeathType == d.Type)
					{
						death = d;
					}
				}

				bool admin = (UserHelper.AdminID == entry.ID);
				bool donator = (UserHelper.DonatorIDs.Contains(entry.ID));
				bool ban = (UserHelper.BanIDs.Contains(entry.ID));
				double accuracy = entry.ShotsFired == 0 ? 0 : (double)entry.ShotsHit / (double)entry.ShotsFired * 100;
				double accuracyTotal = entry.ShotsFiredTotal == 0 ? 0 : (double)entry.ShotsHitTotal / (double)entry.ShotsFiredTotal * 100;

				string role = (admin ? "admin" : ban ? "ban" : donator ? "donator" : "");
				<tr>
					@*<td data-sort-value="@entry.ID" class="text-right @(ban ? "ban" : "")">@entry.ID</td>*@
					<td data-sort-value="@entry.Rank" class="text-right @(ban ? "ban" : "")">@entry.Rank</td>
					<td data-sort-value="@entry.Username" class="@(!string.IsNullOrEmpty(role) ? role : dagger.Name.ToLower()) text-left leaderboard-username">@entry.Username</td>
					<td data-sort-value="@entry.Time" class="text-right @(!string.IsNullOrEmpty(role) ? role : dagger.Name.ToLower())">@string.Format("{0:0.0000}", (double)entry.Time / 10000)</td>
					<td data-sort-value="@entry.Kills" class="text-right @(ban ? "ban" : "")">@entry.Kills</td>
					<td data-sort-value="@entry.Gems" class="text-right @(ban ? "ban" : "")">@entry.Gems</td>
					<td data-sort-value="@accuracy" class="text-right @(ban ? "ban" : "")">@string.Format("{0:0.0000}%", accuracy)</td>
					<td data-sort-value="@death.Name" style="color: #@death.ColorCode;" class="leaderboard-death @(ban ? "ban" : "" @*death.Name.ToLower()*@)">@death.Name</td>
					<td data-sort-value="@entry.TimeTotal" class="text-right @(ban ? "ban" : "")">@string.Format("{0:0.0000}", (double)entry.TimeTotal / 10000)</td>
					<td data-sort-value="@entry.KillsTotal" class="text-right @(ban ? "ban" : "")">@entry.KillsTotal</td>
					<td data-sort-value="@entry.GemsTotal" class="text-right @(ban ? "ban" : "")">@entry.GemsTotal</td>
					<td data-sort-value="@accuracyTotal" class="text-right @(ban ? "ban" : "")">@string.Format("{0:0.0000}%", accuracyTotal)</td>
					<td data-sort-value="@entry.DeathsTotal" class="text-right @(ban ? "ban" : "")">@entry.DeathsTotal</td>
				</tr>
			}
		</tbody>
	</table>
</main>