@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model DevilDaggersWebsite.Pages.SpawnsetModel
@{
	ViewData["Title"] = "Spawnset";
	ViewBag.Title = string.Format("{0} by {1}", Model.Name, Model.Author);
}

@using DevilDaggersWebsite.Utils
@{
	int[] widths = new int[4] { 160, 128, 192, 128 };
}

<header>
	<h1 class="dont-break-out">@Model.Name by @Model.Author</h1>
</header>

<main role="main">
	<div class="text-center">
		<a class="btn btn-default" asp-page="DownloadSpawnset" asp-route-file="@Model.FileName">Download</a>
	</div>

	@{

		if (!string.IsNullOrEmpty(Model.Description))
		{
			<div class="note">
				<h3>A note from @Model.Author</h3>

				<div>@Html.Raw(RazorUtils.GetLayout(Model.Description))</div>
			</div>
		}
	}

	<div class="text-center">
		<div class="flex-container flex-center">
			<div style="width: @(widths[0])px;">Start radius</div>
			<div style="width: @(widths[1])px;">End radius</div>
			<div style="width: @(widths[2])px;">Shrinking rate</div>
			<div style="width: @(widths[3])px;">Brightness</div>
		</div>
		<div class="flex-container flex-center">
			<div style="width: @(widths[0])px;">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.#}", (double)Model.Spawnset.ShrinkStart)</div>
			<div style="width: @(widths[1])px;">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.#}", (double)Model.Spawnset.ShrinkEnd)</div>
			<div style="width: @(widths[2])px;">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.####}", (double)Model.Spawnset.ShrinkRate)</div>
			<div style="width: @(widths[3])px;">@string.Format(RazorUtils.DEFAULT_CULTURE, "{0:0.#}", (double)Model.Spawnset.Brightness)</div>
		</div>
	</div>

	<table class="tile-table">
		@{
			for (int i = 0; i < Model.Spawnset.ArenaTiles.GetLength(0); i++)
			{
				<tr>
					@for (int j = 0; j < Model.Spawnset.ArenaTiles.GetLength(1); j++)
					{
						float height = (float)Math.Round(Model.Spawnset.ArenaTiles[i, j] * 32 + 64);
						<td class="arena-tile" style="background-color: rgb(@height, @Math.Round(height/2), 0);"></td>
					}
				</tr>
			}
		}
	</table>

	@Html.Partial("_SpawnsPartial", Model.Path)
</main>