@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model DevilDaggersWebsite.Pages.SpawnsetModel
@{
	ViewData["Title"] = "Spawnset";

	string fileName = HttpContext.Request.Query["spawnset"];
	string name = fileName.Substring(0, fileName.IndexOf('_'));
	string author = fileName.Substring(fileName.IndexOf('_') + 1);
	ViewBag.Title = string.Format("{0} by {1}", name, author);
}

@using DevilDaggersWebsite.Utils
@using DevilDaggersWebsite.Models.Spawnset
@using System.IO

<header>
	<h1 class="break-all">@name by @author</h1>
</header>

<main role="main">
	<a asp-page="DownloadSpawnset" asp-route-file="@fileName">Download</a>

	@{
		string description = string.Empty;
		foreach (string descriptionPath in Directory.GetFiles(System.IO.Path.Combine(env.WebRootPath, "spawnsets/Descriptions/")))
		{
			if (System.IO.Path.GetFileName(descriptionPath) == name)
			{
				description = System.IO.File.ReadAllText(descriptionPath);
			}
		}

		if (!string.IsNullOrEmpty(description))
		{
			<h3>A note from @author</h3>

			<div>@Html.Raw(RazorUtils.GetLayout(description))</div>
		}

		string path = System.IO.Path.Combine(env.WebRootPath, string.Format("spawnsets/{0}_{1}", name, author));
		Spawnset spawnset = SpawnsetParser.ParseFile(path);
	}

	<div>
		<div>
			<div>Arena radius (start)</div>
			<div>Arena radius (end)</div>
			<div>Arena shrinking rate</div>
			<div>Brightness</div>
		</div>
		<div>
			<div>@spawnset.ShrinkStart</div>
			<div>@spawnset.ShrinkEnd</div>
			<div>@spawnset.ShrinkRate</div>
			<div>@spawnset.Brightness</div>
		</div>
	</div>

	<div>
		<div style="border-collapse: collapse; border: 2px solid white;">
			@{
				for (int i = 0; i < spawnset.ArenaTiles.GetLength(0); i++)
				{

					@for (int j = 0; j < spawnset.ArenaTiles.GetLength(1); j++)
					{
						float height = (float)Math.Round(spawnset.ArenaTiles[i, j] * 32 + 64);
						<div class="arena-tile" style="background-color: rgb(@height, @Math.Round(height/2), 0);"></div>
					}
				}
			}
		</div>
	</div>

	@Html.Partial("_SpawnsPartial", path)
</main>