@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model DevilDaggersWebsite.Pages.SpawnsetModel
@{
	ViewData["Title"] = "Spawnset";

	string fileName = HttpContext.Request.Query["spawnset"];
	string name = fileName.Substring(0, fileName.IndexOf('_'));
	string author = fileName.Substring(fileName.IndexOf('_') + 1);
	ViewBag.Title = string.Format("{0} by {1}", name, author);
}

@using DevilDaggersWebsite.Utils
@using DevilDaggersWebsite.Models.Spawnset
@using System.IO
@{
	int[] widths = new int[4] { 256, 256, 256, 256 };
}

<header>
	<h1 class="break-all">@name by @author</h1>
</header>

<main role="main">
	<div class="text-center">
		<a asp-page="DownloadSpawnset" asp-route-file="@fileName">Download</a>
	</div>

	@{
		string description = string.Empty;
		foreach (string descriptionPath in Directory.GetFiles(System.IO.Path.Combine(env.WebRootPath, "spawnsets/Descriptions/")))
		{
			if (System.IO.Path.GetFileName(descriptionPath) == name)
			{
				description = System.IO.File.ReadAllText(descriptionPath);
			}
		}

		if (!string.IsNullOrEmpty(description))
		{
			<h3>A note from @author</h3>

			<div>@Html.Raw(RazorUtils.GetLayout(description))</div>
		}

		string path = System.IO.Path.Combine(env.WebRootPath, string.Format("spawnsets/{0}_{1}", name, author));
		Spawnset spawnset = SpawnsetParser.ParseFile(path);
	}

	<div>
		<div class="flex-container flex-center flex-space-evenly">
			<div style="width: @(widths[0])px;">Arena radius (start)</div>
			<div style="width: @(widths[0])px;">Arena radius (end)</div>
			<div style="width: @(widths[0])px;">Arena shrinking rate</div>
			<div style="width: @(widths[0])px;">Brightness</div>
		</div>
		<div class="flex-container flex-center flex-space-evenly">
			<div style="width: @(widths[0])px;">@spawnset.ShrinkStart</div>
			<div style="width: @(widths[0])px;">@spawnset.ShrinkEnd</div>
			<div style="width: @(widths[0])px;">@spawnset.ShrinkRate</div>
			<div style="width: @(widths[0])px;">@spawnset.Brightness</div>
		</div>
	</div>

	<table class="tile-table">
		@{
			for (int i = 0; i < spawnset.ArenaTiles.GetLength(0); i++)
			{
				<tr>
					@for (int j = 0; j < spawnset.ArenaTiles.GetLength(1); j++)
					{
						float height = (float)Math.Round(spawnset.ArenaTiles[i, j] * 32 + 64);
						<td class="arena-tile" style="background-color: rgb(@height, @Math.Round(height/2), 0);"></td>
					}
				</tr>
			}
		}
	</table>

	@Html.Partial("_SpawnsPartial", path)
</main>