@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model DevilDaggersWebsite.Pages.SpawnsetModel
@{
	ViewData["Title"] = "Spawnset";
	ViewBag.Title = $"{Model.SpawnsetFile.Name} by {Model.SpawnsetFile.Author}";
	int[] widths = new int[4] { 160, 128, 192, 128 };
}
@using DevilDaggersWebsite.Utils

<header>
	<h1 class="dont-break-out">@Model.SpawnsetFile.Name by @Model.SpawnsetFile.Author</h1>
</header>

<main role="main">
	<div class="text-center">
		<a class="btn" asp-page="DownloadSpawnset" asp-route-file="@Model.Query">Download</a>
	</div>

	@{
		if (!string.IsNullOrEmpty(Model.Description))
		{
			<div class="note">
				<h3>A note from @Model.SpawnsetFile.Author</h3>

				<div>@RazorUtils.GetLayout(Model.Description)</div>
			</div>
		}
	}

	<div class="text-center">
		<div class="flex-container flex-center">
			<div style="width: @(widths[0])px;">Start radius</div>
			<div style="width: @(widths[1])px;">End radius</div>
			<div style="width: @(widths[2])px;">Shrinking rate</div>
			<div style="width: @(widths[3])px;">Brightness</div>
		</div>
		<div class="flex-container flex-center">
			<div style="width: @(widths[0])px;">@Model.Spawnset.ShrinkStart.ToString("0.#")</div>
			<div style="width: @(widths[1])px;">@Model.Spawnset.ShrinkEnd.ToString("0.#")</div>
			<div style="width: @(widths[2])px;">@Model.Spawnset.ShrinkRate.ToString("0.####")</div>
			<div style="width: @(widths[3])px;">@Model.Spawnset.Brightness.ToString("0.#")</div>
		</div>
	</div>

	<table class="tile-table">
		@{
			for (int i = 0; i < Model.Spawnset.ArenaTiles.GetLength(0); i++)
			{
				<tr>
					@for (int j = 0; j < Model.Spawnset.ArenaTiles.GetLength(1); j++)
					{
						float height = (float)Math.Round(Model.Spawnset.ArenaTiles[i, j] * 32 + 64);
						if (Model.SpawnsetFile.Name == "DaggerLobby" &&
							(i == 25 && j == 25) ||
							(i == 2 && j == 24) ||
							(i == 42 && j == 25) ||
							(i == 42 && j == 23) ||
							(i == 42 && j == 27)
						)
						{
							<td class="arena-tile secret-tile"></td>
						}
						else
						{
							<td class="arena-tile" style="background-color: rgb(@height, @Math.Round(height/2), 0);"></td>
						}
					}
				</tr>
			}
		}
	</table>

	@await Html.PartialAsync("Partials/_SpawnsPartial", Model.SpawnsetFile.Path)
</main>