@page
@model DevilDaggersWebsite.Pages.SpawnsetModel
@{
	ViewData["Title"] = "Spawnset";
	ViewBag.Title = $"{Model.SpawnsetFile.Name} by {Model.SpawnsetFile.Author}";
	int[] widths = new int[4] { 160, 128, 192, 128 };
}
@using DevilDaggersWebsite.Utils
@using DevilDaggersCore.Game

<header>
	<h1 class="dont-break-out">@Model.SpawnsetFile.Name by @Model.SpawnsetFile.Author</h1>
</header>

<main role="main">
	<div class="text-center">
		<a class="btn" asp-page="API/GetSpawnset" asp-route-fileName="@Model.Query">Download</a>
	</div>

	@{
		if (!string.IsNullOrEmpty(Model.Description))
		{
			<div class="note">
				<h3>A note from @Model.SpawnsetFile.Author</h3>

				<div>@RazorUtils.GetLayout(Model.Description, Game.GameVersions[Game.DEFAULT_GAME_VERSION])</div>
			</div>
		}
	}

	<div class="text-center">
		<div class="flex-container flex-center">
			<div style="width: @(widths[0])px;">Start radius</div>
			<div style="width: @(widths[1])px;">End radius</div>
			<div style="width: @(widths[2])px;">Shrinking rate</div>
			<div style="width: @(widths[3])px;">Brightness</div>
		</div>
		<div class="flex-container flex-center">
			<div style="width: @(widths[0])px;">@Model.spawnset.ShrinkStart.ToString("0.#")</div>
			<div style="width: @(widths[1])px;">@Model.spawnset.ShrinkEnd.ToString("0.#")</div>
			<div style="width: @(widths[2])px;">@Model.spawnset.ShrinkRate.ToString("0.####")</div>
			<div style="width: @(widths[3])px;">@Model.spawnset.Brightness.ToString("0.#")</div>
		</div>
	</div>

	<table class="tile-table">
		@{
			for (int i = 0; i < Model.spawnset.ArenaTiles.GetLength(0); i++)
			{
				<tr>
					@for (int j = 0; j < Model.spawnset.ArenaTiles.GetLength(1); j++)
					{
						float height = (float)Math.Round(Model.spawnset.ArenaTiles[i, j] * 32 + 64);
						@*if (Model.SpawnsetFile.Name == "DaggerLobby" && Model.SpawnsetFile.Author == "Sorath" && (
								(i == 2 && j == 24) ||
								(i == 42 && j == 25) ||
								(i == 42 && j == 23) ||
								(i == 42 && j == 27))
							)
							{
								<td class="arena-tile secret-tile" tile-height="@height" id="@j"></td>
							}
							else
							{*@
						<td class="arena-tile" style="background-color: rgb(@height, @Math.Round(height / 2), 0);"></td>
						@*}*@
					}
				</tr>
			}
		}
	</table>

	@await Html.PartialAsync("Partials/_SpawnsPartial", Model.SpawnsetFile.Path)
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/spawns.css' />
	<link rel='stylesheet' href='~/styles/spawnset.css' />
}