@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@using System.IO
@using DevilDaggersWebsite.Models.Tool
@using DevilDaggersWebsite.Utils
@model DevilDaggersWebsite.Pages.ToolsModel
@{
	ViewData["Title"] = "Tools";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	@{
		foreach (Tool tool in ToolUtils.Tools)
		{
			<h2 id="@tool.Name">@tool.DisplayName</h2>

			<p>
				@tool.Description
				<img class="img-responsive" width="512" src="~/images/Tools/@(tool.Name).png" />
			</p>
			string path = System.IO.Path.Combine(env.WebRootPath, "tools", tool.Name, $"{tool.Name}{tool.VersionNumber}.zip");
			FileInfo fileInfo = new FileInfo(path);
			if (fileInfo.Exists)
			{
				string fileName = System.IO.Path.GetFileName(path);
				<p>
					Direct download (version @(tool.VersionNumber)): <a href="/tools/@tool.Name/@fileName">@fileName</a> (@(Math.Round(fileInfo.Length / 1024f).ToString()) KB)
				</p>
			}
			<p>
				<a target="_blank" href="@tool.Link">@tool.LinkText</a>
			</p>
		}
	}

	<h2>Cool stuff made by others</h2>
	<ul>
		@{
			foreach (ExternalTool externalTool in ToolUtils.ExternalTools)
			{
				<li><a target="_blank" href="@externalTool.Link">@externalTool.Name</a> by @externalTool.Author</li>
			}
		}
	</ul>
	<p>
		If you've made something yourself and would like to get it listed here, please contact me.
	</p>
</main>