@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@using System.IO
@using DevilDaggersWebsite.Models
@using Microsoft.AspNetCore.Html
@model DevilDaggersWebsite.Pages.ToolsModel
@{
	ViewData["Title"] = "Tools";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	@{
		List<Tool> tools = new List<Tool>
		{
			new Tool
			{
				Name = "DevilDaggersSurvivalEditor",
				DisplayName = "Devil Daggers Survival Editor",
				Description = new HtmlString("Devil Daggers Survival Editor is a tool that lets you create, view, and edit 'survival' files (also known as spawnsets) for the game Devil Daggers."),
				Link = "https://bitbucket.org/NoahStolk/devildaggerssurvivaleditor/src",
				LinkText = "View source code and manual",
				VersionNumber = "1.0.0.1"
			}
		};

		foreach (Tool t in tools)
		{
			<h2 id="@t.Name">@t.DisplayName</h2>

			<p>
				@t.Description
				<img class="img-responsive" width="512" src="~/images/@(t.Name).png" />
			</p>
			string path = System.IO.Path.Combine(env.WebRootPath, "tools", t.Name + ".zip");
			FileInfo fileInfo = new FileInfo(path);
			if (fileInfo.Exists)
			{
				<p>
					Direct download (version @(t.VersionNumber)): <a href="/tools/@System.IO.Path.GetFileName(path)">@System.IO.Path.GetFileName(path)</a> (@(Math.Round(fileInfo.Length / 1024f).ToString()) KB)
				</p>
			}
			<p>
				<a target="_blank" href="@t.Link">@t.LinkText</a>
			</p>
		}
	}

	<h2>Cool stuff made by others</h2>
	<ul>
		<li><a href="https://ddstats.com/releases">ddstats</a> by VHS</li>
		<li><a href="https://github.com/sojk/DevilDaggersAssetEditor">Devil Daggers Asset Editor</a> by Sojk</li>
		<li><a href="https://github.com/pmcc/devil-daggers-extractor">Devil Daggers Extractor</a> by pmcc</li>
		<li><a href="https://github.com/sojk/DevilDaggersSpawnsetCreator">Devil Daggers Spawnset Creator</a> by Sojk</li>
		<li><a href="https://github.com/bowsr/DDSE/">Devil Daggers Spawnset Editor</a> by bowsr</li>
		<li><a href="https://github.com/alexwilkerson/ddss">Devil Daggers Spawnset Selector</a> by VHS</li>
	</ul>
	<p>
		If you've made something yourself and would like to get it listed here, please contact me.
	</p>
</main>