@page
@model DevilDaggersWebsite.Pages.UpgradesModel
@{
	ViewData["Title"] = "Upgrades";
	string boxShadow = "0 0px 2px 2px";
}

@using DevilDaggersWebsite.Models.Game
@using DevilDaggersWebsite.Utils

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<div class="flex-container flex-center upgrade-container">
		@foreach (Upgrade upgrade in GameHelper.Upgrades)
		{
			<div class="upgrade" id="Level@(upgrade.Level)" style="-webkit-box-shadow: @boxShadow #@(upgrade.ColorCode); -moz-box-shadow: @boxShadow #@(upgrade.ColorCode); box-shadow: @boxShadow #@(upgrade.ColorCode);">
				<div class="upgrade-row flex-container">
					<div>Name</div>
					<div class="text-right" style="color: #@upgrade.ColorCode;">Level @upgrade.Level</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Image</div>
					<div class="text-right"><img class="pull-right img-responsive" src='~/images/Upgrades/Level @(upgrade.Level).jpg' /></div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Unlocks at</div>
					<div class="text-right">@upgrade.UnlocksAt</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Default spray</div>
					<div class="text-right">@string.Format(RazorUtils.DEFAULT_CULTURE, $"{upgrade.DefaultSpray}") daggers per second</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Default shot</div>
					<div class="text-right">@upgrade.DefaultShot daggers per shot</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Homing spray</div>
					<div class="text-right">@((upgrade.HomingSpray == null) ? "N/A" : upgrade.HomingSpray + " daggers per second")</div>
				</div>
				<div class="upgrade-row flex-container">
					<div>Homing shot</div>
					<div class="text-right">@((upgrade.HomingShot == null) ? "N/A" : upgrade.HomingShot + " daggers per shot")</div>
				</div>
			</div>
		}
	</div>
</main>