@page
@model DevilDaggersWebsite.Razor.Pages.Admin.AssetMods.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-route-sortMemberName="AssetModTypes">@Html.DisplayNameFor(model => model.AssetMods[0].AssetModTypes)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="AssetModFileContents">@Html.DisplayNameFor(model => model.AssetMods[0].AssetModFileContents)</a>
			</th>
			<th>
				<a asp-route-sortMemberName="Name">@Html.DisplayNameFor(model => model.AssetMods[0].Name)</a>
			</th>
			<th>
				Authors
			</th>
			<th>
				<a asp-route-sortMemberName="Url">@Html.DisplayNameFor(model => model.AssetMods[0].Url)</a>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.AssetMods)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.AssetModTypes)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AssetModFileContents)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@string.Join(", ", item.PlayerAssetMods.Select(pam => pam.PlayerId))
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Url)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
