@page
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Entities
@model AdminEntityIndexPageModel<AssetMod>
@{
	ViewData["Title"] = "AssetMods";
}

<h2>@ViewData["Title"]</h2>

<p>
	<a asp-page="../Index">Back</a>
</p>
<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			@foreach (var pi in Model.EntityProperties)
			{
				<th>
					<a asp-route-sortMemberName="@pi.Name">@pi.Name</a>
				</th>
			}
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var entity in Model.DbSet)
		{
			<tr>
				@foreach (var pi in Model.EntityProperties)
				{
					<td>@Model.GetString(pi, entity)</td>
				}
				<td>
					<a asp-page="./Edit" asp-route-id="@entity.Id">Edit</a> |
					<a asp-page="./Delete" asp-route-id="@entity.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
