@page
@model DevilDaggersWebsite.Pages.Admin.BanInfoModel
@using DevilDaggersWebsite.Code.Users
@inject CoreBase3.Services.ICommonObjects CommonObjects
@{
	ViewData["Title"] = "Admin - Ban Info";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<div class="ban-container flex-container flex-center text-left">
		<div class="flex-container">
			<div class="sorter" sort="description">Description</div>
			<div class="sorter" sort="banned-account">Banned account</div>
			<div class="sorter" sort="responsible-account">Responsible account</div>
		</div>
		<div class="ban-info-body">
			@{
				for (int i = 0; i < Model.BanInfo.Count; i++)
				{
					(Ban ban, string bannedAccountUsername, string responsibleAccountUsername) = Model.BanInfo[i];

					<div class="sort" description="@ban.Description" banned-account="@bannedAccountUsername" responsible-account="@responsibleAccountUsername">
						<div class="ban-row flex-container" id="@i-row">
							<div>@ban.Description</div>
							<div>@bannedAccountUsername (<a asp-page="/Leaderboard/IdSearch" asp-route-id="@ban.Id" target="_blank">@ban.Id</a>)</div>
							@if (string.IsNullOrEmpty(responsibleAccountUsername))
							{
								<div></div>
							}
							else
							{
								<div>@responsibleAccountUsername (<a asp-page="/Leaderboard/IdSearch" asp-route-id="@ban.IdResponsible" target="_blank">@ban.IdResponsible</a>)</div>
							}
						</div>
					</div>
				}
			}
		</div>
	</div>
</main>

@section Scripts {
	<script defer src='~/scripts/admin-ban-info.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/admin-ban-info.css' />
}