@page
@model DevilDaggersWebsite.Pages.Admin.BansModel
@using DevilDaggersWebsite.Code.Users
@inject CoreBase3.Services.ICommonObjects CommonObjects
@{
	ViewData["Title"] = "Admin - Bans";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-left">
	<a asp-page="/Admin/Index" asp-route-password="@Model.Password">Admin home</a>
	@using (Html.BeginForm(FormMethod.Post))
	{
		<fieldset>
			<textarea asp-for="FileContents">@Model.FileContents</textarea>
			<input type="submit" id="save" class="btn btn-default" value="Save" />
		</fieldset>
	}
	<div class="ban-container flex-container flex-center text-left">
		<div class="flex-container">
			<div class="sorter" sort="description">Description</div>
			<div class="sorter" sort="banned-account">Banned account</div>
			<div class="sorter" sort="responsible-account">Responsible account</div>
		</div>
		<div class="ban-info-body">
			@for (int i = 0; i < Model.BanInfo.Count; i++)
			{
				(Ban ban, string bannedAccountUsername, string responsibleAccountUsername) = Model.BanInfo[i];

				<div class="sort" description="@ban.Description" banned-account="@bannedAccountUsername" responsible-account="@responsibleAccountUsername">
					<div class="ban-row flex-container" id="@i-row">
						<div>@ban.Description</div>
						<div>@bannedAccountUsername (<a asp-page="../Leaderboard/Index" asp-route-userId="@ban.Id" target="_blank">@ban.Id</a>)</div>
						@if (string.IsNullOrEmpty(responsibleAccountUsername))
						{
							<div></div>
						}
						else
						{
							<div>@responsibleAccountUsername (<a asp-page="../Leaderboard/Index" asp-route-userId="@ban.IdResponsible" target="_blank">@ban.IdResponsible</a>)</div>
						}
					</div>
				</div>
			}
		</div>
	</div>
</main>

@section Scripts {
	<script defer src='~/scripts/admin-ban-info.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' />
	<link rel='stylesheet' href='~/styles/admin-ban-info.css' />
}