@page
@model DevilDaggersWebsite.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Admin";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<ul>
		<li><a asp-page="Bans" asp-route-password="@Model.Password">Bans</a></li>
		<li><a asp-page="Flags" asp-route-password="@Model.Password">Flags</a></li>
		<li><a asp-page="Mods" asp-route-password="@Model.Password">Mods</a></li>
		<li><a asp-page="Settings" asp-route-password="@Model.Password">Settings</a></li>
		<li><a asp-page="Titles" asp-route-password="@Model.Password">Titles</a></li>
		<li><a asp-page="Donations" asp-route-password="@Model.Password">Donations</a></li>
		<li><a asp-page="Donators" asp-route-password="@Model.Password">Donators</a></li>
	</ul>

	<ul>
		<li><a asp-page="TestBot" asp-route-password="@Model.Password">Test bot</a></li>
		<li><a asp-page="TestException" asp-route-password="@Model.Password">Test exception</a></li>
	</ul>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' />
}