@page
@model DevilDaggersWebsite.Pages.Admin.IndexModel
@using NetBase.Utils
@using DevilDaggersWebsite.Code.Users
@inject CoreBase.Services.ICommonObjects CommonObjects
@{
	ViewData["Title"] = "Admin";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-left">
	@using (Html.BeginForm(FormMethod.Post))
	{
		<fieldset>
			<div class="row">
				<div class="col-lg-4 col-xs-12">
					<h2>Bans</h2>
					<p style="height: 3em;">ID, Description, ID responsible (<a asp-page="/Admin/BanInfo" asp-route-password="@Model.Password">Ban Info page</a> (slow))</p>
					<textarea style="height: @(Model.BansFileContents.Split('\n').Length * 1.4f)em;" asp-for="BansFileContents">@Model.BansFileContents</textarea>
				</div>
				<div class="col-lg-4 col-xs-12">
					<h2>Flags</h2>
					<p style="height: 3em;">ID, Country code</p>
					<textarea style="height: @(Model.FlagsFileContents.Split('\n').Length * 1.4f)em;" asp-for="FlagsFileContents">@Model.FlagsFileContents</textarea>
				</div>
				<div class="col-lg-4 col-xs-12">
					<h2>Player settings</h2>
					<p style="height: 3em;">ID, DPI, Sens, FOV, Right handed, Flash enabled</p>
					<textarea style="height: @(Model.SettingsFileContents.Split('\n').Length * 1.4f)em;" asp-for="SettingsFileContents">@Model.SettingsFileContents</textarea>
				</div>
				<div class="col-lg-12 col-xs-12">
					<h2>User titles</h2>
					<p>
						ID, Title(s)*<br />
						Titles:<br />
						- Site admin<br />
						- Discord mod<br />
						Multiple titles are supported and should be separated by commas, for instance; Site admin,Discord mod
					</p>
					<textarea style="height: @(Model.TitlesFileContents.Split('\n').Length * 1.4f)em;" asp-for="TitlesFileContents">@Model.TitlesFileContents</textarea>
				</div>
				<div class="col-lg-12 col-xs-12">
					<h2>Asset mods</h2>
					<p>Mod type(s), File kind(s) included in download, Mod name, Mod author, Download URL</p>

					<div class="row">
						<div class="col-xs-6">
							Mod type<br />
							<ul>
								@foreach (string s in EnumUtils.GetEnumNamesWithValues<AssetModType>())
								{
									<li>@s</li>
								}
							</ul>
						</div>
						<div class="col-xs-6">
							File kind<br />
							<ul>
								@foreach (string s in EnumUtils.GetEnumNamesWithValues<AssetModFileContents>())
								{
									<li>@s</li>
								}
							</ul>
						</div>
					</div>

					<p>
						Multiple types are supported using bit fields; a mod that changes audio and textures would get the mod type value 3 (1 + 2), a mod that changes audio, models, and particles would get the mod type value 21 (1 + 4 + 16), and so forth.
					</p>
					<textarea style="height: @(Model.AssetModsFileContents.Split('\n').Length * 1.4f)em;" asp-for="AssetModsFileContents">@Model.AssetModsFileContents</textarea>
				</div>
			</div>
			<div class="row text-center" style="padding: 16px;">
				<input asp-for="Password" type="hidden" value="@Model.Password" />
				<input type="submit" id="save" class="btn btn-default" value="Save" />
			</div>
		</fieldset>
	}
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' />
}