@page
@using DevilDaggersWebsite.Code.Tasks;
@using DevilDaggersWebsite.Code.Utils;
@model DevilDaggersWebsite.Pages.Admin.TasksModel
@{
	ViewData["Title"] = "Admin - Tasks";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<ul>
		@foreach (KeyValuePair<Type, AbstractTask> kvp in TaskInstanceKeeper.Instances)
		{
			<li>@kvp.Key.Name was last triggered on @kvp.Value.LastTriggered.ToUTC(), last finished on @kvp.Value.LastFinished.ToUTC() (execution time took @kvp.Value.ExecutionTime).</li>
		}
	</ul>
</main>