<div>
	@if (IsBanned)
	{
		<Tooltip Text="@BanDescription"><a href="/leaderboard/player?id=@Id" class="@DaggerCssClass">@Name</a></Tooltip>
	}
	else
	{
		<a href="/leaderboard/player?id=@Id" class="@DaggerCssClass font-goethe">@Name</a>
	}

	@if (_titles.Count > 0)
	{
		<span>
			@foreach (string title in _titles)
			{
				string? titleImage = UserUtils.TitleImages.ContainsKey(title) ? UserUtils.TitleImages[title] : null;
				<Tooltip Text="@title"><img src="/images/Icons/@(titleImage).png" /></Tooltip>
			}
		</span>
	}
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Name { get; set; } = null!;
	[Parameter] public string DaggerCssClass { get; set; } = null!;
	[Parameter] public bool IsBanned { get; set; }
	[Parameter] public string? BanDescription { get; set; }
	[Parameter] public List<string>? Titles { get; set; }
	[Parameter] public bool IsPublicDonator { get; set; }

	private List<string> _titles = new();

	protected override void OnInitialized()
	{
		if (Titles != null)
			_titles.AddRange(Titles);
		if (IsPublicDonator == true)
			_titles.Add("Donator");
	}
}
