@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Public.Leaderboards

<div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-6 font-goethe text-xl">
	<div>
		<Tooltip Text="Total players" CssClass="@_tooltipClasses"><img class="@_iconClasses" src="/images/icons/default-x4/eye4.png" /></Tooltip>
		<div class="devil text-center">@_players</div>
	</div>
	<div>
		<Tooltip Text="Global time" CssClass="@_tooltipClasses"><img class="@_iconClasses" src="/images/icons/default-x4/stopwatch.png" /></Tooltip>
		<div class="devil text-center">@_time</div>
	</div>
	<div>
		<Tooltip Text="Global kills" CssClass="@_tooltipClasses"><img class="@_iconClasses" src="/images/icons/default-x4/dagger.png" /></Tooltip>
		<div class="devil text-center">@_kills</div>
	</div>
	<div>
		<Tooltip Text="Global gems" CssClass="@_tooltipClasses"><img class="@_iconClasses" src="/images/icons/default-x4/gem.png" /></Tooltip>
		<div class="devil text-center">@_gems</div>
	</div>
	<div>
		<Tooltip Text="Global accuracy" CssClass="@_tooltipClasses"><img class="@_iconClasses" src="/images/icons/default-x4/crosshair.png" /></Tooltip>
		<div class="text-center">
			<Tooltip Text="@_daggers"><span class="devil">@_accuracy</span></Tooltip>
		</div>
	</div>
	<div>
		<Tooltip Text="Global deaths" CssClass="@_tooltipClasses"><img class="@_iconClasses" src="/images/icons/default-x4/skull.png" /></Tooltip>
		<div class="devil text-center">@_deaths</div>
	</div>
</div>

@code
{
	[Parameter] public GetLeaderboard Leaderboard { get; set; } = null!;
	[Parameter] public bool IsHistory { get; set; }

	private const string _tooltipClasses = "text-center w-full font-calibri";
	private const string _iconClasses = "mx-auto";

	private string? _players;
	private string? _time;
	private string? _kills;
	private string? _gems;
	private string? _deaths;
	private string? _daggers;
	private string? _accuracy;

	protected override void OnInitialized()
	{
		_players = Leaderboard.TotalPlayers.ToString(FormatUtils.LeaderboardIntFormat);
		_time = Leaderboard.TimeGlobal.ToString(FormatUtils.LeaderboardGlobalTimeFormat);
		_kills = Leaderboard.KillsGlobal.ToString(FormatUtils.LeaderboardIntFormat);
		_gems = Leaderboard.GemsGlobal.ToString(FormatUtils.LeaderboardIntFormat);
		_deaths = Leaderboard.DeathsGlobal.ToString(FormatUtils.LeaderboardIntFormat);
		_daggers = FormatUtils.FormatDaggersUInt64(Leaderboard.DaggersHitGlobal, Leaderboard.DaggersFiredGlobal, IsHistory);
		_accuracy = (Leaderboard.DaggersFiredGlobal == 0 ? 0 : Leaderboard.DaggersHitGlobal / (float)Leaderboard.DaggersFiredGlobal).ToString(FormatUtils.AccuracyFormat);
	}
}
