@page
@model DevilDaggersWebsite.Razor.Pages.Admin.Donations.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Donation</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Donation.PlayerId)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Donation.PlayerId)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Donation.Amount)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Donation.Amount)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Donation.Currency)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Donation.Currency)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Donation.ConvertedEuroCentsReceived)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Donation.ConvertedEuroCentsReceived)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Donation.DateReceived)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Donation.DateReceived)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Donation.Note)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Donation.Note)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Donation.IsRefunded)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Donation.IsRefunded)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.Donation.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>
