<div class="chart relative" id="@UniqueName" @onmouseenter="() => SetHighlighterVisibility(true)" @onmouseleave="() => SetHighlighterVisibility(false)">
	<LineChartHighlighter @ref="_highlighter">
		<div class="grid grid-cols-2">
			@for (int i = 0; i < Options.HighlighterKeys.Count; i++)
			{
				<span>@Options.HighlighterKeys[i]</span>
				if (i < HighlighterValues.Count)
				{
					@HighlighterValues[i]
				}
			}
		</div>
	</LineChartHighlighter>
	<canvas width="@ChartWidth" height="@ChartHeight" id="@($"{UniqueName}-canvas")" @ref="_canvasRef"></canvas>
</div>
