@page "/custom/leaderboard/{Id:int}"
@inject PublicApiHttpClient Http
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Public.CustomEntries
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Public.CustomLeaderboards
@using DevilDaggersCore.Game

<Heading>Custom Leaderboard</Heading>

@if (GetCustomLeaderboard == null)
{
	<Loading />
}
else
{
	<div class="text-xl font-goethe">
		<div class="grid gap-3 grid-cols-leaderboard-sm md:grid-cols-leaderboard-md lg:grid-cols-leaderboard-lg xl:grid-cols-leaderboard-xl">
			<div @onclick="() => Sort(CustomEntrySorting.Rank)" class="text-right"><Tooltip Text="Sort by RANK"><img src="/images/icons/custom-x2/rank.png" /></Tooltip></div>
			<div @onclick="() => Sort(CustomEntrySorting.Flag)" class="text-left"><Tooltip Text="Sort by FLAG"><img src="/images/icons/custom-x2/flag.png" /></Tooltip></div>
			<div @onclick="() => Sort(CustomEntrySorting.Player)" class="text-left"><Tooltip Text="Sort by PLAYER"><img src="/images/icons/mask-x2/eye.png" /></Tooltip></div>
			<div @onclick="() => Sort(CustomEntrySorting.Time)" class="text-right"><Tooltip Text="Sort by TIME"><img src="/images/icons/mask-x2/stopwatch.png" /></Tooltip></div>
			<div @onclick="() => Sort(CustomEntrySorting.EnemiesKilled)" class="text-right hidden md:block"><Tooltip Text="Sort by KILLS"><img src="/images/icons/mask-x2/dagger.png" /></Tooltip></div>
			<div @onclick="() => Sort(CustomEntrySorting.GemsCollected)" class="text-right hidden md:block"><Tooltip Text="Sort by GEMS"><img src="/images/icons/mask-x2/gem.png" /></Tooltip></div>
			<div @onclick="() => Sort(CustomEntrySorting.Accuracy)" class="text-right hidden md:block"><Tooltip Text="Sort by ACCURACY"><img src="/images/icons/mask-x2/crosshair.png" /></Tooltip></div>
			<div @onclick="() => Sort(CustomEntrySorting.DeathType)" class="text-left hidden lg:block"><Tooltip Text="Sort by DEATH&nbsp;TYPE"><img src="/images/icons/mask-x2/skull.png" /></Tooltip></div>
		</div>
		<div>
			@{
				int i = 0;

				foreach (GetCustomEntry ce in GetCustomLeaderboard.CustomEntries)
				{
					string daggerCssClass = ce.CustomLeaderboardDagger.ToString().ToLower();

					Death? death = GameInfo.GetDeathByType(GameVersion.V31, (int)ce.DeathType);
					string deathStyle = $"color: #{death?.ColorCode ?? "444"};";
					string deathName = death?.Name ?? "Unknown";

					double accuracy = ce.DaggersFired == 0 ? 0 : ce.DaggersHit / (double)ce.DaggersFired;
					string daggers = FormatUtils.FormatDaggersInt32(ce.DaggersHit, ce.DaggersFired, false);

					<div class="grid gap-3 grid-cols-leaderboard-sm md:grid-cols-leaderboard-md lg:grid-cols-leaderboard-lg xl:grid-cols-leaderboard-xl h-6 @(i++ % 2 == 0 ? "bg-gray0B" : string.Empty)">
						<EntryRank PlayerId="@ce.PlayerId" Rank="@ce.Rank" />
						<EntryFlag CountryCode="@ce.CountryCode" />
						<EntryUsername DaggerCssClass="@daggerCssClass" Id="@ce.PlayerId" Name="@ce.PlayerName" />
						<div class="text-right @daggerCssClass">@ce.Time.ToString(FormatUtils.TimeFormat)</div>
						<div class="text-right hidden md:block">@ce.EnemiesKilled.ToString(FormatUtils.LeaderboardIntFormat)</div>
						<div class="text-right hidden md:block">@ce.GemsCollected.ToString(FormatUtils.LeaderboardIntFormat)</div>
						<div class="text-right hidden md:block">
							<Tooltip Text="@daggers">@accuracy.ToString(FormatUtils.AccuracyFormat)</Tooltip>
						</div>
						<div class="text-left hidden lg:block" style="@deathStyle">@deathName</div>
					</div>
				}
			}
		</div>
	</div>
}

@code
{
	[Parameter] public int Id { get; set; }

	public GetCustomLeaderboard? GetCustomLeaderboard { get; set; }

	private CustomEntrySorting _sortBy;
	private bool _ascending;

	private Dictionary<CustomEntrySorting, bool> _sortings = new();

	protected override async Task OnInitializedAsync()
	{
		foreach (CustomEntrySorting e in (CustomEntrySorting[])Enum.GetValues(typeof(CustomEntrySorting)))
			_sortings.Add(e, false);

		GetCustomLeaderboard = await Http.GetCustomLeaderboardById(Id);
	}

	private void Sort(CustomEntrySorting sortBy)
	{
		_sortBy = sortBy;
		_sortings[sortBy] = !_sortings[sortBy];
		_ascending = _sortings[sortBy];

		GetCustomLeaderboard!.CustomEntries = _sortBy switch
		{
			CustomEntrySorting.Rank => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.Rank, _ascending).ToList(),
			CustomEntrySorting.Flag => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.CountryCode, _ascending).ToList(),
			CustomEntrySorting.Player => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.PlayerName, _ascending).ToList(),
			CustomEntrySorting.Time => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.Time, _ascending).ToList(),
			CustomEntrySorting.EnemiesKilled => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.EnemiesKilled, _ascending).ToList(),
			CustomEntrySorting.EnemiesAlive => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.EnemiesAlive, _ascending).ToList(),
			CustomEntrySorting.GemsCollected => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.GemsCollected, _ascending).ToList(),
			CustomEntrySorting.GemsDespawned => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.GemsDespawned, _ascending).ToList(),
			CustomEntrySorting.GemsEaten => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.GemsEaten, _ascending).ToList(),
			CustomEntrySorting.Accuracy => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.DaggersFired == 0 ? 0 : ce.DaggersHit / (float)ce.DaggersFired, _ascending).ToList(),
			CustomEntrySorting.DeathType => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.DeathType, _ascending).ToList(),
			CustomEntrySorting.HomingDaggers => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.HomingDaggers, _ascending).ToList(),
			CustomEntrySorting.HomingDaggersEaten => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.HomingDaggersEaten, _ascending).ToList(),
			CustomEntrySorting.LevelUpTime2 => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.LevelUpTime2, _ascending).ToList(),
			CustomEntrySorting.LevelUpTime3 => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.LevelUpTime3, _ascending).ToList(),
			CustomEntrySorting.LevelUpTime4 => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.LevelUpTime4, _ascending).ToList(),
			CustomEntrySorting.SubmitDate => GetCustomLeaderboard.CustomEntries.OrderBy(ce => ce.SubmitDate, _ascending).ToList(),
			_ => GetCustomLeaderboard.CustomEntries,
		};
	}

	private enum CustomEntrySorting
	{
		Rank,
		Flag,
		Player,
		Time,
		EnemiesKilled,
		EnemiesAlive,
		GemsCollected,
		GemsDespawned,
		GemsEaten,
		Accuracy,
		DeathType,
		HomingDaggers,
		HomingDaggersEaten,
		LevelUpTime2,
		LevelUpTime3,
		LevelUpTime4,
		SubmitDate,
	}
}
