<li class="pl-3 py-1 whitespace-nowrap overflow-x-hidden text-xl cursor-pointer select-none transition-all sm:hover:bg-dark-red" @onmouseleave="@OnMouseOut" @onmouseenter="@OnMouseOver">
	<div>
		<span class="@NavMenu.GetOpacityClass() transition-all hidden sm:absolute sm:inline-block sm:ml-[160px] pointer-events-none">
			&gt;
		</span>
		<NavIcon Type="@IconType" Text="@Text" />
		<ul class="@(ShowList ? "relative" : "hidden") sm:block sm:absolute @GetOpacityClass() @GetPointerEventsClass() transition-all duration-150 ease-in-out ml-0 sm:ml-[180px] mt-0 sm:-mt-[34px] box-border sm:border-r-2 sm:border-dark-red bg-black">
			@ChildContent
		</ul>
	</div>
</li>

@code
{
	private bool _showList;
	public bool ShowList
	{
		get => _showList;
		set
		{
			_showList = value;
			StateHasChanged();
		}
	}

	[CascadingParameter] public NavMenu NavMenu { get; set; } = null!;

	[Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter, EditorRequired] public string Text { get; set; } = null!;
	[Parameter, EditorRequired] public string IconType { get; set; } = null!;

	protected override void OnInitialized()
	{
		NavMenu.NavDropdowns.Add(this);
	}

	private void OnMouseOver(MouseEventArgs mouseEvent)
	{
		NavMenu.ShowSubMenu(this);
	}

	private void OnMouseOut(MouseEventArgs mouseEvent)
	{
		ShowList = false;
	}

	private string? GetOpacityClass()
	{
		if (!ShowList)
			return "opacity-0";

		return NavMenu.GetOpacityClass();
	}

	private string GetPointerEventsClass()
	{
		return ShowList ? "pointer-events-auto" : "pointer-events-none";
	}
}
