<li class="@(InDropdown ? "pl-0" : "pl-3") transition-spacing duration-150 ease-in-out @(InDropdown ? "pt-1" : "py-1") whitespace-nowrap overflow-x-hidden @CssClass">
	<NavLink class="text-color-text hover:text-white block w-full" href="@Href" Match="Match" @onclick="CloseMenu">
		<NavIcon Type="@IconType" Text="@Text" />
	</NavLink>
</li>

@code
{
	[CascadingParameter] public NavMenu NavMenu { get; set; } = null!;

	[Parameter, EditorRequired] public string Href { get; set; } = null!;
	[Parameter] public string? CssClass { get; set; }
	[Parameter, EditorRequired] public string IconType { get; set; } = null!;
	[Parameter, EditorRequired] public string Text { get; set; } = null!;
	[Parameter] public NavLinkMatch Match { get; set; }
	[Parameter] public bool InDropdown { get; set; } = true;

	private void CloseMenu()
	{
		NavMenu.ShowNavMenuMobile = false;
		NavMenu.UpdateState();
	}
}
