@if (_leaderboard == null)
{
	<p>Failed to retrieve scores from the official Devil Daggers leaderboard servers. Please try again later.</p>
	<p>If the problem persists, try contacting the Devil Daggers developer.</p>
}
else
{
	<p>
		<button class="btn btn-primary" @onclick="@(e => FetchLeaderboard(_rank = 1))">
			Top
		</button>
		<button class="btn btn-primary" @onclick="@(e => FetchLeaderboard(_rank -= 100))">
			Prev
		</button>
		<button class="btn btn-primary" @onclick="@(e => FetchLeaderboard(_rank += 100))">
			Next
		</button>
	</p>
	<p>
		Showing rank @_rank - @(_rank + 99)
	</p>
	<LeaderboardTable Leaderboard="@_leaderboard" Players="Players" />
}

@code {
	private Core.Dto.Leaderboard? _leaderboard;

	private int _rank;

	[Parameter]
	public List<Player> Players { get; set; } = new List<Player>();

	protected override async Task OnInitializedAsync()
	{
		await FetchLeaderboard(_rank);
	}

	private async Task FetchLeaderboard(int rank)
	{
		_rank = Math.Max(_rank, 1);

		_leaderboard = await DdHasmodaiClient.GetScores(_rank);
		if (_leaderboard != null && _rank > _leaderboard.Players - 99)
		{
			_rank = _leaderboard.Players - 99;
			_leaderboard.Entries.Clear();
			_leaderboard = await DdHasmodaiClient.GetScores(_rank);
		}
	}
}