<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-2">
		<div>Total players</div>
		<div class="text-devil">@Leaderboard.Players.ToString(FormatUtils.LeaderboardIntFormat)</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<div>Global time</div>
		<div class="text-devil">@Leaderboard.TimeGlobal.FormatTimeInteger(true)</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<div>Global kills</div>
		<div class="text-devil">@Leaderboard.KillsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<div>Global gems</div>
		<div class="text-devil">@Leaderboard.GemsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<div>Global accuracy</div>
		<div class="text-devil">@Leaderboard.AccuracyGlobal.ToString(FormatUtils.AccuracyFormat) (@FormatUtils.FormatDaggersUInt64(Leaderboard.DaggersHitGlobal, Leaderboard.DaggersFiredGlobal, false))</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		<div>Global deaths</div>
		<div class="text-devil">@Leaderboard.DeathsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
	</div>
</div>

<Table TableItem="LeaderboardEntryData" Items="Leaderboard.Entries.Select(e => new LeaderboardEntryData(e, Players.FirstOrDefault(p => p.Id == e.Id), GameVersion.V3))" TableRowClass="@(le => le.RowClass)" PageSize="100">
	<Column TableItem="LeaderboardEntryData" Title="#" Field="@(led => led.Rank)" Sortable="true" Width="2%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Flag" Field="@(led => led.FlagCode)" Sortable="true" Width="1%">
		<Template>
			@if (!string.IsNullOrEmpty(context.FlagCode))
			{
				<img src="/images/flags/@(context.FlagCode).png" />
			}
		</Template>
	</Column>
	<Column TableItem="LeaderboardEntryData" Title="Username" Field="@(led => led.Username)" Sortable="true" Width="8%">
		<Template>
			<span class="@context.DaggerCssClass">@context.Username</span>
		</Template>
	</Column>
	<Column TableItem="LeaderboardEntryData" Title="Time" Field="@(led => led.Time)" Sortable="true" Width="4%" Align="Align.Right">
		<Template>
			<span class="@context.DaggerCssClass">@FormatUtils.FormatTimeInteger(context.Time)</span>
		</Template>
	</Column>
	<Column TableItem="LeaderboardEntryData" Title="Kills" Field="@(led => led.Kills)" Sortable="true" Width="2%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Gems" Field="@(led => led.Gems)" Sortable="true" Width="2%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Accuracy" Field="@(led => led.Accuracy)" Sortable="true" Width="4%" Align="Align.Right" Format="@FormatUtils.AccuracyFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Death" Field="@(led => led.DeathName)" Sortable="true" Width="6%">
		<Template>
			<span class="death" style="color: @context.DeathHexColor;">@context.DeathName</span>
		</Template>
	</Column>
	<Column TableItem="LeaderboardEntryData" Title="Total time" Field="@(led => led.TotalTime)" Sortable="true" Width="5%" Align="Align.Right">
		<Template>
			@FormatUtils.FormatTimeInteger(context.TotalTime, true)
		</Template>
	</Column>
	<Column TableItem="LeaderboardEntryData" Title="Total kills" Field="@(led => led.TotalKills)" Sortable="true" Width="5%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Total gems" Field="@(led => led.TotalGems)" Sortable="true" Width="5%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Average accuracy" Field="@(led => led.TotalAccuracy)" Sortable="true" Width="5%" Align="Align.Right" Format="@FormatUtils.AccuracyFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Total deaths" Field="@(led => led.TotalDeaths)" Sortable="true" Width="5%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Average time" Field="@(led => led.AverageTime)" Sortable="true" Width="5%" Align="Align.Right">
		<Template>
			@FormatUtils.FormatTimeInteger(context.AverageTime, true)
		</Template>
	</Column>
	<Column TableItem="LeaderboardEntryData" Title="Average kills" Field="@(led => led.AverageKills)" Sortable="true" Width="5%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntAverageFormat" />
	<Column TableItem="LeaderboardEntryData" Title="Average gems" Field="@(led => led.AverageGems)" Sortable="true" Width="5%" Align="Align.Right" Format="@FormatUtils.LeaderboardIntAverageFormat" />
</Table>

@code {
	[Parameter]
	public Dto.Leaderboard Leaderboard { get; set; } = new();

	[Parameter]
	public List<Player> Players { get; set; } = new();
}