@using DevilDaggersCore
@using DevilDaggersWebsite.Code.Leaderboards
@using DevilDaggersWebsite.Pages.Leaderboard
@{
	Type modelType = Model.GetType();
	if (modelType == typeof(IndexModel) && Model.LeaderboardSearchType != LeaderboardSearchType.Rank)
	{
		return;
	}

	bool isHistory = modelType == typeof(HistoryModel);

	string players = Model.Leaderboard.Players.ToString(FormatUtils.LeaderboardIntFormat);
	string time = (Model.Leaderboard.TimeGlobal / 10000.0).ToString(FormatUtils.LeaderboardTimeLargeFormat);
	string kills = Model.Leaderboard.KillsGlobal.ToString(FormatUtils.LeaderboardIntFormat);
	string gems = Model.Leaderboard.GemsGlobal.ToString(FormatUtils.LeaderboardIntFormat);
	string deaths = Model.Leaderboard.DeathsGlobal.ToString(FormatUtils.LeaderboardIntFormat);
	string shots = Model.Leaderboard.FormatShotsGlobal(isHistory);
	string accuracy = Model.Leaderboard.AccuracyGlobal.ToString(FormatUtils.AccuracyFormat);
}
<div class="hidden-xs text-center">
	<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
		<div>
			<div>Total players</div>
			<div class="text-center devil">@players</div>
		</div>
	</div>
	<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
		<div>
			<div>Global time</div>
			<div class="text-center devil">@time</div>
		</div>
		<div>
			<div>Global kills</div>
			<div class="text-center devil">@kills</div>
		</div>
		<div>
			<div>Global gems</div>
			<div class="text-center devil">@gems</div>
		</div>
		<div>
			<div>Global deaths</div>
			<div class="text-center devil">@deaths</div>
		</div>
		<div>
			<div>Global accuracy</div>
			<span data-toggle="tooltip" data-placement="bottom" title="@shots" class="leaderboard-tooltip"><span class="text-center devil">@accuracy</span></span>
		</div>
	</div>
</div>
<div class="visible-xs">
	<div class="flex-container flex-center">
		<div class="mobile-left">
			<div>Total players</div>
			<div>Global time</div>
			<div>Global kills</div>
			<div>Global gems</div>
			<div>Global deaths</div>
			<div>Global accuracy</div>
		</div>
		<div class="mobile-right">
			<div class="devil">@players</div>
			<div class="devil">@time</div>
			<div class="devil">@kills</div>
			<div class="devil">@gems</div>
			<div class="devil">@deaths</div>
			@{
				if (isHistory && (Model.Leaderboard.ShotsFiredGlobal == 10000 || Model.Leaderboard.ShotsFiredGlobal == 0))
				{
					<span class="devil">@accuracy</span>
				}
				else
				{
					<span data-toggle="tooltip" title="@shots" class="leaderboard-tooltip"><span class="devil">@accuracy</span></span>
				}
			}
		</div>
	</div>
</div>