@using DevilDaggersWebsite.Code.Utils
@{
	if (Model.GetType() == typeof(Leaderboard.IndexModel) && Model.IsUserSearch)
	{
		return;
	}

	string time = (Model.Leaderboard.TimeGlobal / 10000.0).ToString("0.0000");
	string shots = RazorUtils.FormatShots(Model.Leaderboard.ShotsHitGlobal, Model.Leaderboard.ShotsFiredGlobal);
	string accuracy = Model.Leaderboard.AccuracyGlobal.ToString("0.00%");
}
<div class="hidden-xs">
	<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
		<div>
			<div>Total players</div>
			<div class="text-center devil">@Model.Leaderboard.Players</div>
		</div>
	</div>
	<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
		<div>
			<div>Global time</div>
			<div class="text-center devil">@time</div>
		</div>
		<div>
			<div>Global kills</div>
			<div class="text-center devil">@Model.Leaderboard.KillsGlobal</div>
		</div>
		<div>
			<div>Global gems</div>
			<div class="text-center devil">@Model.Leaderboard.GemsGlobal</div>
		</div>
		<div>
			<div>Global deaths</div>
			<div class="text-center devil">@Model.Leaderboard.DeathsGlobal</div>
		</div>
		<div>
			<div>Global accuracy</div>
			@{
				if (Model.Leaderboard.ShotsFiredGlobal == 10000 || Model.Leaderboard.ShotsFiredGlobal == 0)
				{
					<span class="text-center devil">@accuracy</span>
				}
				else
				{
					<span data-toggle="tooltip" title="@shots" class="leaderboard-tooltip"><span class="text-center devil">@accuracy</span></span>
				}
			}
		</div>
	</div>
</div>
<div class="visible-xs">
	<div class="flex-container flex-center">
		<div class="mobile-left">
			<div>Total players</div>
			<div>Global time</div>
			<div>Global kills</div>
			<div>Global gems</div>
			<div>Global deaths</div>
			<div>Global accuracy</div>
		</div>
		<div class="mobile-right">
			<div class="devil">@Model.Leaderboard.Players</div>
			<div class="devil">@time</div>
			<div class="devil">@Model.Leaderboard.KillsGlobal</div>
			<div class="devil">@Model.Leaderboard.GemsGlobal</div>
			<div class="devil">@Model.Leaderboard.DeathsGlobal</div>
			@{
				if (Model.Leaderboard.ShotsFiredGlobal == 10000 || Model.Leaderboard.ShotsFiredGlobal == 0)
				{
					<span class="devil">@accuracy</span>
				}
				else
				{
					<span data-toggle="tooltip" title="@shots" class="leaderboard-tooltip"><span class="devil">@accuracy</span></span>
				}
			}
		</div>
	</div>
</div>