@using DevilDaggersCore
@using DevilDaggersWebsite.Pages.Leaderboard
@{
	if (Model.GetType() == typeof(IndexModel) && Model.IsUserSearch)
	{
		return;
	}

	bool isHistory = Model.GetType() == typeof(HistoryModel);

	string time = (Model.Leaderboard.TimeGlobal / 10000.0).ToString(FormatUtils.LeaderboardTimeTotalFormat);
	string shots = Model.Leaderboard.FormatShotsGlobal(isHistory);
	string accuracy = Model.Leaderboard.AccuracyGlobal.ToString(FormatUtils.AccuracyFormat);
}
<div class="hidden-xs text-center">
	<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
		<div>
			<div>Total players</div>
			<div class="text-center devil">@Model.Leaderboard.Players.ToString(FormatUtils.LeaderboardIntFormat)</div>
		</div>
	</div>
	<div class="flex-container leaderboard-flex flex-center flex-space-evenly">
		<div>
			<div>Global time</div>
			<div class="text-center devil">@time</div>
		</div>
		<div>
			<div>Global kills</div>
			<div class="text-center devil">@Model.Leaderboard.KillsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
		</div>
		<div>
			<div>Global gems</div>
			<div class="text-center devil">@Model.Leaderboard.GemsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
		</div>
		<div>
			<div>Global deaths</div>
			<div class="text-center devil">@Model.Leaderboard.DeathsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
		</div>
		<div>
			<div>Global accuracy</div>
			<span data-toggle="tooltip" data-placement="bottom" title="@shots" class="leaderboard-tooltip"><span class="text-center devil">@accuracy</span></span>
		</div>
	</div>
</div>
<div class="visible-xs">
	<div class="flex-container flex-center">
		<div class="mobile-left">
			<div>Total players</div>
			<div>Global time</div>
			<div>Global kills</div>
			<div>Global gems</div>
			<div>Global deaths</div>
			<div>Global accuracy</div>
		</div>
		<div class="mobile-right">
			<div class="devil">@Model.Leaderboard.Players.ToString(FormatUtils.LeaderboardIntFormat)</div>
			<div class="devil">@time</div>
			<div class="devil">@Model.Leaderboard.KillsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
			<div class="devil">@Model.Leaderboard.GemsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
			<div class="devil">@Model.Leaderboard.DeathsGlobal.ToString(FormatUtils.LeaderboardIntFormat)</div>
			@{
				if (Model.Leaderboard.ShotsFiredGlobal == 10000 || Model.Leaderboard.ShotsFiredGlobal == 0)
				{
					<span class="devil">@accuracy</span>
				}
				else
				{
					<span data-toggle="tooltip" title="@shots" class="leaderboard-tooltip"><span class="devil">@accuracy</span></span>
				}
			}
		</div>
	</div>
</div>