@model string
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@using DevilDaggersCore.Game
@using DevilDaggersCore.Utils
@using DevilDaggersCore.Spawnsets
@using DevilDaggersWebsite.Code.DataTransferObjects
@using DevilDaggersWebsite.Code.Utils
@using System.IO
@{
	int[] widths = new int[4] { 160, 160, 144, 128 };

	SpawnsetFile sf = SpawnsetUtils.CreateSpawnsetFileFromSettingsFile(env, Model);
	if (!Spawnset.TryParse(File.ReadAllBytes(Model), out Spawnset spawnset))
	{
		return;
	}

	GameVersion gameVersion = sf.Author == "Sorath" ? sf.Name == "V1" ? GameVersion.V1 : sf.Name == "V2" ? GameVersion.V2 : GameVersion.V3 : GameVersion.V3;
	int maxWaves = sf.settings.MaxWaves ?? SpawnsetUtils.DefaultMaxWaves;
	string wavesQuery = httpContextAccessor.HttpContext.Request.Query["waves"];
	if (int.TryParse(wavesQuery, out int parsed) && parsed > 0)
	{
		maxWaves = parsed;
	}

	<div class="flex-container flex-center flex-column text-center">
		@if (!spawnset.IsEmpty())
		{
			<div class="flex-container flex-center">
				<div style="width: @(widths[0])px;">Time</div>
				<div style="width: @(widths[1])px;">Enemy</div>
				<div style="width: @(widths[2])px;">Gems (no farm)</div>
				<div style="width: @(widths[3])px;">Total gems</div>
			</div>

			double totalSeconds = 0;
			int totalGems = 0;
			int endLoopIndex = spawnset.GetEndLoopStartIndex();

			foreach (Spawn spawn in spawnset.Spawns.Values.SkipLast(spawnset.Spawns.Count() - endLoopIndex))
			{
				totalSeconds += spawn.Delay;
				if (spawn.Enemy != null)
				{
					totalGems += spawn.Enemy.NoFarmGems;

					<div class="flex-container flex-center">
						<div style="width: @(widths[0])px;" class="text-right">@totalSeconds.ToString(FormatUtils.SpawnTimeFormat)</div>
						<div style="width: @(widths[1])px;">@(spawn.Enemy.GetLayoutAnchor(false, 0, gameVersion))</div>
						<div style="width: @(widths[2])px;" class="text-right">@spawn.Enemy.NoFarmGems</div>
						<div style="width: @(widths[3])px;" class="text-right">@totalGems</div>
					</div>
				}
			}

			List<Spawn> endLoop = spawnset.Spawns.Values.Skip(endLoopIndex).ToList();

			if (endLoop.Count(s => s.Enemy != null) != 0)
			{
				int spawns = spawnset.Spawns.Where(s => s.Value.Enemy != null).Count();

				double endGameSecond = totalSeconds;
				for (int i = 0; i < maxWaves; i++)
				{
					if (spawns > SpawnsetUtils.MaxSpawns)
					{
						break;
					}

					<div class="text-left end-wave-separator">
						<div style="background-color: red; height: 2px; width: auto;"></div>
						<div class="hidden-xs">End wave @(i + 1)</div>
					</div>
					double enemyTimer = 0;
					double delay = 0;
					foreach (Spawn spawn in endLoop)
					{
						if (spawn.Enemy != null)
						{
							spawns++;
						}

						delay += spawn.Delay;
						while (enemyTimer < delay)
						{
							endGameSecond += 1f / 60f;
							enemyTimer += (1f / 60f) + (1f / 60f / 8f * i);
						}

						if (spawn.Enemy != null)
						{
							Enemy finalEnemy = spawn.Enemy;
							// Change the third Gigapede into a Ghostpede.
							if (i % 3 == 2 && gameVersion == GameVersion.V3 && finalEnemy == GameInfo.V3Gigapede)
							{
								finalEnemy = GameInfo.V3Ghostpede;
							}

							int gems = finalEnemy.NoFarmGems;
							totalGems += gems;

							<div class="flex-container flex-center">
								<div style="width: @(widths[0])px;" class="text-right">@((Math.Floor(endGameSecond * 60) / 60).ToString(FormatUtils.SpawnTimeFormat))</div>
								<div style="width: @(widths[1])px;">@(finalEnemy.GetLayoutAnchor(false, Model.Contains("V3_Sorath") && spawns > 525 ? Math.Min((spawns - 525) / 10f, 100) : 0))</div>
								<div style="width: @(widths[2])px;" class="text-right">@gems</div>
								<div style="width: @(widths[3])px;" class="text-right">@totalGems</div>
							</div>
						}
					}
				}
			}

			<div style="color: var(--col-red); font-size: 24px;">@(endLoop.Count != 1 || (endLoop.Count == 1 && endLoop[0].Enemy != null) ? "Goes on eternally..." : "End of spawnset")</div>
		}
	</div>
}