@page
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Entities
@model AdminEntityIndexPageModel<SpawnsetFile>
@{
	ViewData["Title"] = "SpawnsetFiles";
}

<h2>@ViewData["Title"]</h2>

<p>
	In order to add spawnsets you'll need to do two things:
</p>
<ul>
	<li>Upload a file to the file system.</li>
	<li>Add a record to the database.</li>
</ul>
<p>
	Both of these need to be done. The site ignores files without a database record and vice versa.
</p>
<p>
	If you want to edit or rename a spawnset file, you will need to delete and re-upload it.
</p>
<p>Notes</p>
<ul>
	<li>Spawnset name must match the file name (case sensitive).</li>
	<li>Make sure the author of the spawnset is added as a <a asp-page="../Players/Index">player</a>. If the user ID is unknown, use the blank name (999999) until the author gets back to you.</li>
</ul>
<p>
	<a asp-page="CreateOrEdit">Create New</a>
</p>
<p>
	<a asp-page="Upload">Upload File</a>
</p>
<p>
	<a asp-page="DeleteFile">Delete File</a>
</p>
<table class="table admin-table">
	<thead>
		<tr>
			@foreach (var pi in Model.EntityDisplayProperties)
			{
				<th>@pi.Name</th>
			}
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var entity in Model.DbSet)
		{
			<tr>
				@foreach (var pi in Model.EntityDisplayProperties)
				{
					<td>@Model.GetString(pi, entity)</td>
				}
				<td>
					<a asp-page="CreateOrEdit" asp-route-id="@entity.Id">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@entity.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' asp-append-version="true" />
}
