@page
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Razor.Utils
@model DevilDaggersWebsite.Razor.Pages.Leaderboard.PlayerModel
@{
	string? username = Model.Entry?.Username;
	ViewData["Title"] = string.IsNullOrEmpty(username) ? "Player" : username;
	string daggerCssName = Model.Dagger?.Name.ToLower() ?? string.Empty;
	string deathStyle = $"color: #{Model.Death?.ColorCode ?? "444"}";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<a asp-page="/Leaderboard/Index" asp-route-rank="@(((Model.Entry?.Rank - 1) / 100 * 100 + 1) ?? 0)">Back to leaderboard</a>
	@if (Model.Entry == null)
	{
		<p>Failed to retrieve player with ID @Model.PlayerId.</p>
	}
	else
	{
		<p>
			@Model.Entry.Username is currently rank @Model.Entry.Rank.
		</p>
		<div class="flex-container player-section-container">
			<div class="flex-container player-section">
				<div class="leaderboard-data-container">
					<div class="leaderboard-data-header">Personal Best</div>
					<div class="flex-container leaderboard-data">
						<div>Time</div>
						<div class="text-right @daggerCssName">@Model.Entry.Time.FormatTimeInteger(false)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Kills</div>
						<div class="text-right">@Model.Entry.Kills.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Gems</div>
						<div class="text-right">@Model.Entry.Gems.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Accuracy</div>
						<div class="text-right">@Model.Entry.Accuracy.ToString(FormatUtils.AccuracyFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Daggers hit</div>
						<div class="text-right">@Model.Entry.DaggersHit.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Daggers fired</div>
						<div class="text-right">@Model.Entry.DaggersFired.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Death type</div>
						<div class="text-right" style="@deathStyle">@(Model.Death?.Name)</div>
					</div>
				</div>
			</div>
			<div class="flex-container player-section">
				<div class="leaderboard-data-container">
					<div class="leaderboard-data-header">Total Statistics</div>
					<div class="flex-container leaderboard-data">
						<div>Total time</div>
						<div class="text-right">@Model.Entry.TimeTotal.FormatTimeInteger(true)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Total kills</div>
						<div class="text-right">@Model.Entry.KillsTotal.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Total gems</div>
						<div class="text-right">@Model.Entry.GemsTotal.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Total accuracy</div>
						<div class="text-right">@Model.Entry.AccuracyTotal.ToString(FormatUtils.AccuracyFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Total daggers hit</div>
						<div class="text-right">@Model.Entry.DaggersHitTotal.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Total daggers fired</div>
						<div class="text-right">@Model.Entry.DaggersFiredTotal.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
					<div class="flex-container leaderboard-data">
						<div>Total deaths</div>
						<div class="text-right">@Model.Entry.DeathsTotal.ToString(FormatUtils.LeaderboardIntFormat)</div>
					</div>
				</div>
			</div>
			@if (Model.Entry.DeathsTotal > 0)
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Average Statistics</div>
						<div class="flex-container leaderboard-data">
							<div>Average time</div>
							<div class="text-right">@((Model.Entry.TimeTotal / Model.Entry.DeathsTotal).FormatTimeInteger(false))</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Average kills</div>
							<div class="text-right">@((Model.Entry.KillsTotal / (float)Model.Entry.DeathsTotal).ToString(FormatUtils.LeaderboardIntAverageFormat))</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Average gems</div>
							<div class="text-right">@((Model.Entry.GemsTotal / (float)Model.Entry.DeathsTotal).ToString(FormatUtils.LeaderboardIntAverageFormat))</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Average daggers hit</div>
							<div class="text-right">@((Model.Entry.DaggersHitTotal / (float)Model.Entry.DeathsTotal).ToString(FormatUtils.LeaderboardIntAverageFormat))</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Average daggers fired</div>
							<div class="text-right">@((Model.Entry.DaggersFiredTotal / (float)Model.Entry.DeathsTotal).ToString(FormatUtils.LeaderboardIntAverageFormat))</div>
						</div>
					</div>
				</div>
			}
			@if (Model.Player?.Dpi.HasValue == true)
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Settings</div>
						<div class="flex-container leaderboard-data">
							<div>eDPI</div>
							<div class="text-right">@Model.Player?.Edpi?.ToString(FormatUtils.MouseSensitivityFormat)</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>DPI</div>
							<div class="text-right">@Model.Player?.Dpi</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>In-game sens</div>
							<div class="text-right">@Model.Player?.InGameSens?.ToString(FormatUtils.MouseSensitivityFormat)</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>FOV</div>
							<div class="text-right">@Model.Player?.Fov</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Gamma</div>
							<div class="text-right">@Model.Player?.Gamma</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Hand orientation</div>
							<div class="text-right">@Model.Player?.RightHandedString</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Hand flash</div>
							<div class="text-right">@Model.Player?.FlashEnabledString</div>
						</div>
						<div class="flex-container leaderboard-data">
							<div>Legacy audio</div>
							<div class="text-right">@Model.Player?.UsesLegacyAudioString</div>
						</div>
					</div>
				</div>
			}
			@if (Model.CountryName != null || Model.BestRankRecorded.HasValue)
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Miscellaneous</div>
						@if (Model.CountryName != null)
						{
							<div class="flex-container leaderboard-data">
								<div>Flag</div>
								<div class="text-right">
									<img src="/images/Flags/24x24/@(Model.Player!.CountryCode).png" /> @Model.CountryName
								</div>
							</div>
						}
						@if (Model.BestRankRecorded.HasValue)
						{
							<div class="flex-container leaderboard-data">
								<div>Best rank recorded <span style="cursor: pointer;" class="text-right devil" data-toggle="tooltip" data-placement="top" title="Data is based on the top 100 history.">?</span></div>
								<div class="text-right">@Model.BestRankRecorded</div>
							</div>
							<div class="flex-container leaderboard-data">
								<div>Past usernames <span style="cursor: pointer;" class="text-right devil" data-toggle="tooltip" data-placement="top" title="Data is based on the top 100 history.">?</span></div>
								@if (Model.Player?.HidePastUsernames == true)
								{
									<div class="text-right" style='color: #444;'>Hidden</div>
								}
								else if (Model.UsernameAliases.Count > 0)
								{
									@if (Model.UsernameAliases.Count > 1)
									{
										<div>
											<ul class="player-section-list username-list">
												@foreach (string alias in Model.UsernameAliases)
												{
													<li>@alias</li>
												}
											</ul>
										</div>
									}
									else
									{
										<div class="text-right">@Model.UsernameAliases[0]</div>
									}
								}
								else
								{
									<div class="text-right">@RazorUtils.NAString</div>
								}
							</div>
						}
					</div>
				</div>
			}
			@if (Model.CustomDaggerCountsDefault.Any(i => i > 0))
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Custom Leaderboard Statistics</div>
						@for (int i = 0; i < Model.CustomDaggerCountsDefault.Length; i++)
						{
							int count = Model.CustomDaggerCountsDefault[i];
							string daggerName = PlayerModel.DaggerNames[i];

							<div class="flex-container leaderboard-data">
								<div>@daggerName.ToUpperFirst() daggers</div>
								<div class="text-right @daggerName">@count</div>
							</div>
						}
						<div class="flex-container leaderboard-data">
							<div>Played</div>
							<div class="text-right">@Model.CustomDaggerCountsDefault.Sum() / @Model.TotalDefaultCustomLeaderboards</div>
						</div>
					</div>
				</div>
			}
			@if (Model.CustomDaggerCountsTimeAttack.Any(i => i > 0))
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Custom Leaderboard Statistics (Time Attack)</div>
						@for (int i = 0; i < Model.CustomDaggerCountsTimeAttack.Length; i++)
						{
							int count = Model.CustomDaggerCountsTimeAttack[i];
							string daggerName = PlayerModel.DaggerNames[i];

							<div class="flex-container leaderboard-data">
								<div>@daggerName.ToUpperFirst() daggers</div>
								<div class="text-right @daggerName">@count</div>
							</div>
						}
						<div class="flex-container leaderboard-data">
							<div>Played</div>
							<div class="text-right">@Model.CustomDaggerCountsTimeAttack.Sum() / @Model.TotalTimeAttackCustomLeaderboards</div>
						</div>
					</div>
				</div>
			}
			@if (Model.CustomDaggerCountsSpeedrun.Any(i => i > 0))
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Custom Leaderboard Statistics (Speedrun)</div>
						@for (int i = 0; i < Model.CustomDaggerCountsDefault.Length; i++)
						{
							int count = Model.CustomDaggerCountsSpeedrun[i];
							string daggerName = PlayerModel.DaggerNames[i];

							<div class="flex-container leaderboard-data">
								<div>@daggerName.ToUpperFirst() daggers</div>
								<div class="text-right @daggerName">@count</div>
							</div>
						}
						<div class="flex-container leaderboard-data">
							<div>Played</div>
							<div class="text-right">@Model.CustomDaggerCountsSpeedrun.Sum() / @Model.TotalSpeedrunCustomLeaderboards</div>
						</div>
					</div>
				</div>
			}
			@if (Model.Spawnsets?.Count > 0)
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Spawnsets</div>
						<div class="player-section-list">
							@foreach (Entities.SpawnsetFile spawnset in Model.Spawnsets)
							{
								<a class="player-section-list-link" asp-page="/Spawnset" asp-route-spawnset="@spawnset.Name">@spawnset.Name</a>
							}
						</div>
					</div>
				</div>
			}
			@if (Model.Mods?.Count > 0)
			{
				<div class="flex-container player-section">
					<div class="leaderboard-data-container">
						<div class="leaderboard-data-header">Mods</div>
						<div class="player-section-list">
							@foreach (Entities.AssetMod mod in Model.Mods)
							{
								<a class="player-section-list-link" asp-page="/Mod" asp-route-mod="@mod.Name">@mod.Name</a>
							}
						</div>
					</div>
				</div>
			}
		</div>

		@if (Model.HasValidTop100Graph)
		{
			<h2>Top 100 progression</h2>
			<p>
				Note that the graph data is based entirely on the <a asp-page="/Leaderboard/History">Leaderboard History</a>, and might therefore be incomplete.
			</p>
			<p>
				Also note that the graph data is only based on a player's highscores; the rank and username do not update until the next top 100 highscore.
			</p>

			<div class="chart" id="user-progression-chart">
				<table class="highlighter" id="user-progression-highlighter">
					<tr><td>Date</td><td id="h-date"></td></tr>
					<tr><td>Rank</td><td id="h-rank"></td></tr>
					<tr><td>Time</td><td id="h-time"></td></tr>
					<tr><td>Username</td><td id="h-username"></td></tr>
					<tr><td>Gems</td><td id="h-gems"></td></tr>
					<tr><td>Kills</td><td id="h-kills"></td></tr>
					<tr><td>Accuracy</td><td id="h-accuracy"></td></tr>
					<tr><td>Death type</td><td id="h-death-type"></td></tr>
				</table>
			</div>

			<h2>Activity</h2>
			<p>
				This data is only updated when the player is in top 100.
			</p>

			<div class="chart" id="user-activity-chart">
				<table class="highlighter" id="user-activity-highlighter">
					<tr><td>Period</td><td id="h-activity-date"></td></tr>
					<tr><td>Approximate deaths per day</td><td id="h-activity-deaths-per-day"></td></tr>
					<tr><td>Total deaths</td><td id="h-activity-deaths"></td></tr>
				</table>
			</div>
		}
	}
</main>

@section Scripts {
	<script defer src='~/plugins/jqPlot/jquery.jqplot.min.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.dateAxisRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasTextRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisLabelRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisTickRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.highlighter.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasOverlay.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/chart.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/history/chart-line.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/history/user-progression.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/history/user-activity.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/leaderboard-player.css' asp-append-version="true" />

	<link rel='stylesheet' href='~/plugins/jqPlot/jquery.jqplot.min.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/chart.css' asp-append-version="true" />
}
