@page
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Caches.LeaderboardStatistics
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersWebsite.Utils
@inject LeaderboardStatisticsCache LeaderboardStatisticsCache
@model StatisticsModel
@{
	ViewData["Title"] = "Leaderboard Statistics";
	ulong allTime = 0;
	ulong allKills = 0;
	ulong allGems = 0;
	foreach (CompressedEntry ce in LeaderboardStatisticsCache.Entries)
	{
		allTime += ce.Time;
		allKills += ce.Kills;
		allGems += ce.Gems;
	}
	int avgTime = (int)(allTime / (float)LeaderboardStatisticsCache.Entries.Count);
	float avgKills = allKills / (float)LeaderboardStatisticsCache.Entries.Count;
	float avgGems = allGems / (float)LeaderboardStatisticsCache.Entries.Count;
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		This page contains some global statistics from the leaderboard.
	</p>
	@if (LeaderboardStatisticsCache.IsFetched)
	{
		<p>Statistics were last fetched on @HistoryUtils.HistoryJsonFileNameToDateTime(LeaderboardStatisticsCache.FileName).ToString(FormatUtils.DateTimeUtcFormat).</p>

		<h2>Scores</h2>
		<ul>
			@foreach (KeyValuePair<Enemy[], (int? Time, Dagger Dagger)> kvp in StatisticsModel.EnemyTimes.OrderByDescending(kvp => kvp.Value.Time.HasValue).ThenBy(kvp => kvp.Value.Time))
			{
				int count = LeaderboardStatisticsCache.Entries.Count(e => e.Time > kvp.Value.Time);
				int total = LeaderboardStatisticsCache.Entries.Count;
				string daggerStyle = kvp.Value.Dagger.Name.ToLower();
				string daggerTimeStyle = GameInfo.GetDaggerFromTenthsOfMilliseconds(GameVersion.V31, kvp.Value.Time ?? int.MaxValue).Name.ToLower();
				<li><span class="@daggerStyle">@count</span> out of @total players (<span class="@daggerStyle">@((count / (float)total).ToString("0.00%"))</span>) have seen @Html.Raw(string.Join(" and ", kvp.Key.Select(e => RazorUtils.GetLayoutAnchor(e)))) (<span class="@daggerTimeStyle">@(!kvp.Value.Time.HasValue ? "???" : (kvp.Value.Time.Value / 10000).ToString("0.0000"))</span> seconds).</li>
			}
			<li>The average time survived for all players is <span class="@GameInfo.GetDaggerFromTenthsOfMilliseconds(GameVersion.V31, avgTime).Name.ToLower()">@(FormatUtils.FormatTimeInteger(avgTime / 10000f))</span> seconds.</li>
			<li>The average kills for all players is @(avgKills.ToString(FormatUtils.LeaderboardIntAverageFormat)).</li>
			<li>The average gems for all players is @(avgGems.ToString(FormatUtils.LeaderboardIntAverageFormat)).</li>
		</ul>

		<h3>Sub 500 Scores</h3>
		<div class="chart" id="scores-pre500-chart">
			<table class="highlighter" id="scores-pre500-highlighter">
				<tr><td>Score</td><td id="h-pre500-score"></td></tr>
				<tr><td>Amount</td><td id="h-pre500-score-count"></td></tr>
				<tr><td>Percentage</td><td id="h-pre500-score-percentage"></td></tr>
			</table>
		</div>

		<h3>500+ Scores</h3>
		<div class="chart" id="scores-post500-chart">
			<table class="highlighter" id="scores-post500-highlighter">
				<tr><td>Score</td><td id="h-post500-score"></td></tr>
				<tr><td>Amount</td><td id="h-post500-score-count"></td></tr>
				<tr><td>Percentage</td><td id="h-post500-score-percentage"></td></tr>
			</table>
		</div>

		<h2>Daggers</h2>
		<div class="chart" id="daggers-chart">
			<table class="highlighter" id="daggers-highlighter">
				<tr><td>Dagger</td><td id="h-dagger"></td></tr>
				<tr><td>Amount</td><td id="h-dagger-count"></td></tr>
				<tr><td>Percentage</td><td id="h-dagger-percentage"></td></tr>
			</table>
		</div>

		<h2>Death types</h2>
		<div class="chart" id="death-types-chart">
			<table class="highlighter" id="death-types-highlighter">
				<tr><td>Death</td><td id="h-death"></td></tr>
				<tr><td>Amount</td><td id="h-death-count"></td></tr>
				<tr><td>Percentage</td><td id="h-death-percentage"></td></tr>
			</table>
		</div>
	}
	else
	{
		<p>Statistics are not initialized.</p>
	}
</main>

@section Scripts {
	<script defer src='~/plugins/jqPlot/jquery.jqplot.min.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.barRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasTextRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisLabelRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisTickRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.categoryAxisRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.highlighter.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasOverlay.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/chart.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/chart-bar.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/scores.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/daggers.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/death-types.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/plugins/jqPlot/jquery.jqplot.min.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/chart.css' asp-append-version="true" />
}
