@page
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Dto
@using DevilDaggersWebsite.Razor.Utils
@using DevilDaggersWebsite.WorldRecords
@using Microsoft.AspNetCore.Html
@model DevilDaggersWebsite.Razor.Pages.Leaderboard.WorldRecordProgressionModel
@{
	ViewData["Title"] = "World Record Progression";

	TimeSpan totalTimeSinceFirstRecord = DateTime.UtcNow - Model.WorldRecords.OrderBy(wr => wr.Key.DateTime).First().Key.DateTime;
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		This is the world record progression for Devil Daggers based on the <a asp-page="/Leaderboard/History">Leaderboard History</a> section of the website. While keeping track of any records since October 2018 has been fully automated, some older information is still missing. Most of the older information is based on screenshots and YouTube videos.
	</p>

	<div class="chart" id="world-record-progression-chart">
		<table class="highlighter" id="world-record-progression-highlighter">
			<tr><td>Date</td><td id="h-date"></td></tr>
			<tr><td>Time</td><td id="h-time"></td></tr>
			<tr><td>Username</td><td id="h-username"></td></tr>
			<tr><td>Gems</td><td id="h-gems"></td></tr>
			<tr><td>Kills</td><td id="h-kills"></td></tr>
			<tr><td>Accuracy</td><td id="h-accuracy"></td></tr>
			<tr><td>Death type</td><td id="h-death-type"></td></tr>
		</table>
	</div>

	<h2>World record holders</h2>
	<div class="row">
		<div class="world-record-holder-sorter sorter text-bold col-lg-2 col-md-3 col-sm-4 col-xs-6" sort="username">Username (and aliases)</div>
		<div class="world-record-holder-sorter sorter text-bold col-lg-2 col-md-3 col-sm-4 col-xs-6" sort="total-time-held">Total time held</div>
		<div class="world-record-holder-sorter sorter text-bold col-lg-2 col-md-3 col-sm-2 hidden-xs" sort="longest-time-held">Longest time held consecutively</div>
		<div class="world-record-holder-sorter sorter text-bold col-lg-2 col-md-3 col-sm-2 hidden-xs" sort="world-record-count">World records</div>
		<div class="world-record-holder-sorter sorter text-bold col-lg-2 hidden-md hidden-sm hidden-xs" sort="first-held">First held</div>
		<div class="world-record-holder-sorter sorter text-bold col-lg-2 hidden-md hidden-sm hidden-xs" sort="last-held">Last held</div>
	</div>
	<div class="world-record-holder-sort-body">
		@foreach (WorldRecordHolder wrh in Model.WorldRecordHolders)
		{
			int days = (int)Math.Round(wrh.TotalTimeHeld.TotalDays);
			int daysConsecutively = (int)Math.Round(wrh.LongestTimeHeldConsecutively.TotalDays);

			string timeHeld = $"{days} day{days.S()} ({(wrh.TotalTimeHeld / totalTimeSinceFirstRecord).ToString("00.00%")})";

			bool isCurrentWr = wrh.Id == Model.CurrentWorldRecord?.Id;

			string lastHeld = isCurrentWr ? "Current holder" : Model.GetHistoryDateString(wrh.LastHeld);
			string firstHeld = Model.GetHistoryDateString(wrh.FirstHeld);
			string heldConsecutively = $"{daysConsecutively} day{daysConsecutively.S()}";
			List<string> aliases = wrh.Usernames.Where(s => s != wrh.MostRecentUsername).ToList();

			<div class="row world-record-holder-sort" @Model.GetWorldRecordHolderSort(wrh) @(isCurrentWr ? new HtmlString("style='background-color: #800;'") : null)>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">@wrh.MostRecentUsername @(aliases.Count != 0 ? $"({string.Join(", ", aliases)})" : "")</div>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">@timeHeld</div>
				<div class="col-lg-2 col-md-3 col-sm-2 hidden-xs">@heldConsecutively</div>
				<div class="col-lg-2 col-md-3 col-sm-2 hidden-xs">@wrh.WorldRecordCount</div>
				<div class="col-lg-2 hidden-md hidden-sm hidden-xs">@firstHeld</div>
				<div class="col-lg-2 hidden-md hidden-sm hidden-xs">@lastHeld</div>
			</div>
		}
	</div>

	<h2>World records</h2>
	<div class="row">
		<div class="world-record-sorter sorter text-bold col-lg-2 col-md-3 col-sm-4 col-xs-4" sort="username">Username</div>
		<div class="world-record-sorter sorter text-bold col-lg-2 col-md-3 col-sm-4 col-xs-4" sort="time">Time</div>
		<div class="world-record-sorter sorter text-bold col-lg-2 col-md-3 col-sm-4 col-xs-4" sort="duration">Duration</div>
		<div class="world-record-sorter sorter text-bold col-lg-2 hidden-md hidden-sm hidden-xs" sort="improvement">Improvement</div>
		<div class="world-record-sorter sorter text-bold col-lg-2 hidden-md hidden-sm hidden-xs" sort="game-version">Game version</div>
	</div>
	<div class="world-record-sort-body">
		@foreach (KeyValuePair<WorldRecord, WorldRecordData> kvp in Model.WorldRecords.OrderByDescending(w => w.Value.WorldRecordDuration))
		{
			bool isCurrentWr = kvp.Key.Entry.Time == Model.CurrentWorldRecord?.Time;
			int days = (int)Math.Round(kvp.Value.WorldRecordDuration.TotalDays);
			string daysString = days == 0 ? "Less than 1 day" : days == 1 ? "1 day" : $"{days} days";

			<div class="row world-record-sort" @Model.GetWorldRecordSort(kvp.Key, kvp.Value) @(isCurrentWr ? new HtmlString("style='background-color: #800;'") : null)>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">@kvp.Key.Entry.Username</div>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">@kvp.Key.Entry.Time.FormatTimeInteger() @(isCurrentWr ? "(Current WR)" : string.Empty)</div>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">@daysString</div>
				<div class="col-lg-2 hidden-md hidden-sm hidden-xs">@(kvp.Value.WorldRecordImprovement.HasValue ? new HtmlString(kvp.Value.WorldRecordImprovement.Value.FormatTimeInteger()) : RazorUtils.NAString)</div>
				<div class="col-lg-2 hidden-md hidden-sm hidden-xs">@Model.GetGameVersionString(kvp.Key.GameVersion)</div>
			</div>
		}
	</div>
</main>

@section Scripts {
	<script defer src='~/plugins/jqPlot/jquery.jqplot.min.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.dateAxisRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasTextRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisLabelRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisTickRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.highlighter.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasOverlay.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/chart.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/history/chart-line.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/history/world-record-progression.js' asp-append-version='true'></script>

	<script defer src='~/scripts/world-record-progression-sort.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/plugins/jqPlot/jquery.jqplot.min.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/chart.css' asp-append-version="true" />
}
